
<div ng-controller="transactions_controller"
  ng-init="set_page_title('Incoming Transactions');download_incoming(0);dataSelector = ''; 
  download_applicant(); ">
    
  <div layout="row">

    <div layout-xs="column" layout-gt-xs="row">
        <md-button class="md-raised" ng-disabled="current_active_view == 'incoming_transactions'" 
        ng-click="change_current_view('incoming_transactions')">
        <md-tooltip md-direction="top">View Online Applications</md-tooltip>
        <i class="fa fa-sort-amount-asc"></i>
        Incoming Transactions</md-button>
  
      <md-button class="md-raised" ng-disabled="current_active_view == 'my_transactions'" 
        ng-click="application = '';change_current_view('my_transactions')">
        <md-tooltip md-direction="top">Assigned Transactions to you</md-tooltip>
        <i class="fa fa-exchange"></i>
        My Transactions</md-button>
    </div>

    
    

  </div>

  <md-divider class="m-t-10 m-b-10"></md-divider>
  <md-content ng-include="current_page_view" ng-style="{ height: (iframeHeight - 195) + 'px' }"></md-content>

</div>