<!-- <div ng-if="render_params.data != undefined" ng-init="set_application($localStorage.params);print();"></div> -->
<div class="p-t-20 p-l-10" ng-controller="WildlifeExportController" ng-init="set_application($localStorage.params);">
    <div ng-include="'./app/templates/application/style.html'"></div>
    
            <div>
                <div><strong>PCSD</strong></div>
                <div>Wildlife Export</div>
                <div>Certification No. {{application.data.application.certification_number}}</div>
            </div>
            <br>
            <div style="text-align: center"><strong><underlined>C E R T I F I C A T I O N</underlined></strong></div>
            <br>
            This is to certify that {{application.data.application.applicant.full_name}} of {{application.data.application.applicant.agency}}
            is authorized to export sample specimen for research purposes only by virtue of <strong>Gratuitous Permit No. {{application.data.application.gratuitous_permit_number}}</strong>,
            to wit:
    <br><br>
            
                <table style="width: 100%;text-align: justify">
                    <tr><td>Species</td><td>Description</td><td>Quantity</td></tr>
                    <tr ng-repeat="specy in application.data.application.species">
                        <td>{{specy.name}}</td>
                        <td>{{specy.description}}</td>
                        <td>{{specy.quantity}}</td>
                    </tr>
                </table>
            
            <br/>
            <br/>
            Contained in {{application.data.application.container}}
            <br/>
            <br/>
    
            The above specimen shall be transported on <strong>{{format(application.data.application.transportation.valid_from, "MMMM DD, YYYY")}}</strong> 
            and valid until 
            <strong>{{format(application.data.application.transportation.valid_until, "MMMM DD, YYYY")}}</strong> via 
            {{application.data.application.transportation.type}}
            and have been verified as not included in Appendices I, II and III of the Convention on International Trade in Endangered
            species of Wild Fauna and Flora (CITES).<br><br>
            This Certification is not valid without the dry seal of the Palawan Council for Sustainable Development or 
            if contains erasures or altercation.<br><br>
            Certification fee in the amount of Php {{application.data.application.fee}} was paid under the Palawan Council for Sustainable
            Development (PCSD) Official Receipt No. {{application.data.application.official_receipt.number}} dated 
            {{application.data.application.official_receipt.date}}<br><br>

            Issued this {{date_now("DD")}} day of {{date_now("MMMM")}} {{date_now("YYYY")}} at PCSD Building, Sta. Monica, Puerto Princesa
            City.<br><br>

            Validated by ERED Staff:<br><br><br><br>
            <underlined>{{application.data.application.validator.full_name.toUpperCase()}}</underlined><br>
            {{application.data.application.validator.position.toUpperCase()}}<br>
            PCSD<br><br><br>
            <underlined>{{pcsd.head.full_name.toUpperCase()}}</underlined><br>
            {{pcsd.head.position.toUpperCase()}}<br>
            <br><br>
            <div style="text-align: center; font-size:14px">
                <i>Vision</i>: Palawan, an innovative and dynamic global center of sustainable development<br>
                <i>Mission</i>: PCSDS as the driver of environmental conservation and inclusive development in 
                Palawan,<br> a biosphere reserve and science-for-sustainability site, guided by the Strategic Environment
                Plan
            </div>
            <div ng-include="'./app/templates/application/attachments_template.html'"></div>
            <div ng-include="'./app/templates/application/stamp_template.html'"></div>
        </div>