<style>
    textarea {
        width: 100%
    }
</style>
<div ng-controller="EditGratuitousPermitController">
<!-- <div style="width:90%"> -->
    <div ng-include="'./app/templates/application/style.html'"></div>
    <div>WILDLIFE GRATUITOUS PERMIT (GP)</div>
    <div><input ng-model="currentItem.gratuitous_permit.line2" ng-blur="updateDocument(currentItem.gratuitous_permit.id, {line2:currentItem.gratuitous_permit.line2})">
    </div>
    <div ng-if="n.application_type=='Individual'">
        <p>
            <table>
                <tr>
                    <td>Grantee:</td>
                    <td>
                        <input ng-model="currentItem.gratuitous_permit.applicant.full_name"
                            ng-blur="updateDocument(currentItem.gratuitous_permit.id, {'applicant.full_name':currentItem.gratuitous_permit.applicant.full_name})">
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input ng-model="currentItem.gratuitous_permit.applicant.employment.designation"
                            ng-blur="updateDocument(currentItem.gratuitous_permit.id, {'applicant.employment.designation': currentItem.gratuitous_permit.applicant.employment.designation})">
                    <td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input ng-model="currentItem.gratuitous_permit.applicant.employment.agency_name"
                            ng-blur="updateDocument(currentItem.gratuitous_permit.id, {'applicant.employment.agency_name': currentItem.gratuitous_permit.employment.agency_name})">
                    </td>
                </tr>
            </table>
        </p>
    </div>
    <div ng-if="n.application_type=='Company'">
        <p>
            <table>
                <tr>
                    <td>Grantee:</td>
                    <td>
                        <input ng-model="currentItem.gratuitous_permit.applicant.name"
                            ng-blur="updateDocument(currentItem.gratuitous_permit.id, {'applicant.name': currentItem.gratuitous_permit.applicant.name})">
                    </td>
                </tr>
            </table>
        </p>
    </div>
    <p>
        <div class="align-center">
            <strong>
                <textarea ng-model="currentItem.gratuitous_permit.line3"
                    ng-blur="updateDocument(currentItem.gratuitous_permit.id, {line3:currentItem.gratuitous_permit.line3})">
                </textarea>
            </strong>
        </div>
    </p>
    <p>
        <textarea ng-model="currentItem.gratuitous_permit.line4"
            ng-blur="updateDocument(currentItem.gratuitous_permit.id, {line4:currentItem.gratuitous_permit.line4})"></textarea>
    </p>
    <br>
    <p>
        <div class="align-center">
            <input ng-model="currentItem.gratuitous_permit.line5" ng-blur="updateDocument(currentItem.gratuitous_permit.id, {line5: currentItem.gratuitous_permit.line5})">
        </div>
    </p>
    <p>
        <input ng-model="currentItem.gratuitous_permit.line6" ng-blur="updateDocument(currentItem.gratuitous_permit.id, {line6:currentItem.gratuitous_permit.line6})">
    </p>

    <div>
        <textarea id="gratuitous_permit_terms_edit" 
            ng-model="currentItem.gratuitous_permit.gratuitous_permit_terms" ckeditor></textarea>
        <!-- <textarea id="edit_terms_editor" ng-model="currentItem.gratuitous_permit.gratuitous_permit_terms"></textarea> -->
    </div>
    
    <br>
    <div ng-repeat="lineNumber in [7,8,9,10,11,12]">
        <p><textarea ng-model="currentItem.gratuitous_permit['line'+lineNumber]"
                ng-blur="line={};line['line'+lineNumber]=currentItem.gratuitous_permit['line'+lineNumber];
                updateDocument(currentItem.gratuitous_permit.id, line)"></textarea></p>
    </div>
    <strong>Payment</strong>
    <div layout>
        <md-input-container flex>
            <label>Paid amount</label>
            <input ng-model="currentItem.gratuitous_permit.paid_amount" type="number">
        </md-input-container>
        <md-input-container flex>
            <label>OR Number</label>
            <input ng-model="currentItem.gratuitous_permit.paid_or_number">
        </md-input-container>
        <md-input-container flex>
            
            <md-datepicker ng-init="paid_date=currentItem.gratuitous_permit.paid_date" ng-model="paid_date"
                ng-change="currentItem.gratuitous_permit.paid_date=to_date(paid_date)" 
                md-placeholder="Date of Payment" md-open-on-focus>
            </md-datepicker>
        </md-input-container>
    </div>
</div>