<style>
    md-grid-list {
        margin: 8px;
    }

    .gray {
        background: #f5f5f5;
    }

    .green {
        background: #b9f6ca;
    }

    .yellow {
        background: #ffff8d;
    }

    .blue {
        background: #84ffff;
    }

    .purple {
        background: #b388ff;
    }

    .red {
        background: #ff8a80;
    }
</style>
<!-- <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1"
    md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
    <a href="/staff/#!/operations/mapping/map/operations" class="md-primary md-raised md-button md-ink-ripple">
        
    </a>
    <md-grid-tile class="gray">
        Operations
    </md-grid-tile>

    <md-grid-tile class="gray">
        <a href="/staff/#!/operations/mapping/map/trackrecords">
            Track Records
        </a>
    </md-grid-tile>

</md-grid-list> -->
<div ng-repeat='i in [1,2,3,4,5]'>&nbsp;</div>

<div ng-controller='operations_map_controller' ng-init='set_page_title("Map")' layout layout-align='center center'
    style="height: 100%;">
    <div layout='column' style="width:25%">
        <md-button class="md-raised md-primary" ng-click="loadPage('/staff/#!/operations/mapping/map/operations')">
            Operations
        </md-button>
        <md-button class="md-raised md-primary" ng-click="loadPage('/staff/#!/operations/mapping/map/trackrecords')">
            Track Records</md-button>
    </div>
    
</div>