<div ng-controller="opsMap_controller" ng-init="set_page_title('Map'); initMapBoxMap()" style="position: relative">

    <!-- Menu -->
    <md-menu-bar style="position: absolute">

        <md-menu>
            <button ng-click="$mdMenu.open()">
            Recordings
            </button>
            <md-menu-content>
            <md-menu-item ng-repeat="x in recordingList">
                <md-button  ng-click="showLine(x.id)">
                {{x.name}} - {{x.time}}
                </md-button>
            </md-menu-item>
            </md-menu-content>
        </md-menu>

    </md-menu-bar>


    <!-- MAP -->
    <div id="opsMap" style="height: {{iframeHeight - 115}}px"></div>


    <!-- Loading view -->
    <div  style="position: absolute; top:45%; left:45%;" ng-show="isLoading" layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

</div>