<div ng-controller="opsMap_controller" ng-init="set_page_title('Map');" style="position: relative">
    <div ng-controller="track_recording_controller" ng-init="loadUsers();">

        <md-menu-bar>
            <md-menu>
                <button ng-click="$mdMenu.open()" ng-disabled="isLoading">
                    Recordings: {{currentUser.name}}
                    <i class="fa fa-chevron-down fa-6 m-r-5" aria-hidden="true" style="padding-left:2px"></i>
                </button>
                <md-menu-content>
                    <!-- <md-menu-item ng-repeat="x in recordingList">
                        <md-button ng-click="showLine(x.id)">
                            {{x.name}} - {{x.time}}
                        </md-button> -->
                    <md-menu-item ng-repeat="user in users track by $index" ng-if="user.name != undefined">
                        <md-button ng-click="setCurrentUser(user);" style="text-align: left;">
                            {{user.name}}
                        </md-button>
                    </md-menu-item>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </md-menu-bar>

        <div>
            <form name='formSearch'>
                <label>From:</label>
                <md-datepicker ng-disabled="isLoading" ng-init='from=dateNow' ng-model="from"
                    ng-change="date.From=to_date(from);" required>
                </md-datepicker>
                <label>To:</label>
                <md-datepicker ng-disabled='isLoading' ng-init='to=dateNow' ng-model='to'
                    ng-change='date.To=to_date(to)' required>
                </md-datepicker>
                <md-button type="submit" ng-disabled='isLoading || formSearch.$invalid'
                    ng-click='loadRecordingsByUserAndDate(currentUser.id, from, to)'>Go
                </md-button>
            </form>
        </div>
        <div ng-include="'./app/operations/mapping/map/templates/map.html'"></div>
        <div ng-hide=true>
            <md-button id="buttonGoToStart" class="md-fab md-mini" ng-click="goToStartOfTrack()"
                style="background-image: url('/images/icons/jogging_2.png'); background-repeat: no-repeat;background-position-x: 10px;background-position-y: 10px;"
                ng-disabled="!hasTrackRecord">
                <md-tooltip md-direction="left">Go to Start of Track</md-tooltip>
            </md-button>
            <md-button id="buttonGoToEnd" class="md-fab md-mini" ng-click="goToEndOfTrack()"
                style="background-image: url('/images/icons/target_2.png'); background-repeat: no-repeat;background-position-x: 10px;background-position-y: 10px;"
                ng-disabled="!hasTrackRecord">
                <md-tooltip md-direction="left">Go to End of Track</md-tooltip>
            </md-button>
        </div>

        <md-sidenav class="md-sidenav-right" md-component-id="closeEventsDisabled" md-whiteframe="4"
            md-disable-close-events>
            <md-toolbar layout="row" class="md-hue-3">
                <div class="md-toolbar-tools">
                    <span>Search Results</span>
                </div>
            </md-toolbar>
            <md-content layout-margin="">
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat='record in recordings track by $index'
                        ng-click="loadRecordToMap(record);">
                        <div class="md-list-item-text" layout="column">
                            <div layout>
                                <div style='width: 75%;'>
                                    <div>
                                        <strong>{{record.name}}</strong>
                                    </div>
                                    <div>{{record.description}}</div>
                                </div>
                                <md-button class="md-fab md-mini" ng-click="setCurrentTrackRecord(record);
                                showPrerenderedDialog($event, 'windowTrackRecordDetails'); ">
                                    <md-tooltip md-direction="left">View Details</md-tooltip>
                                    <i class="fa fa-eye"></i>
                                </md-button>
                            </div>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <div style="visibility: hidden;">
            <div id='windowTrackRecordDetails' class="md-dialog-container">
                <md-dialog layout="column" layout-align="center center">
                    <md-toolbar class="bg-teal">
                        <div class="md-toolbar-tools">
                            <h2>Track Record</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="close_dialog()">
                                <i class="fa fa-times col-white"></i>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-dialog-content>
                        <div style="width: 1000px; padding:25px">
                            <md-input-container class="md-block">
                                <label>Title</label>
                                <input ng-model='currentTrackRecord.name' readonly>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Operation No.</label>
                                <input ng-model='currentTrackRecord.operation_id' readonly>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Description</label>
                                <textarea ng-model='currentTrackRecord.description' readonly></textarea>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Date Created</label>
                                <input ng-model='time' readonly>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Distance Traveled (in km)</label>
                                <input ng-model='distance_in_km' readonly>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Start Time</label>
                                <input ng-model='start_time' readonly>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>End Time</label>
                                <input ng-model='end_time' readonly>
                            </md-input-container>
                            <div ng-show="false" ng-repeat="svg in [
                                    'close-inline.svg',
                                    'close.svg',
                                    'delete-inline.svg',
                                    'edit-inline.svg',
                                    'edit.svg',
                                    'external-link-inline.svg',
                                    'external-link.svg',
                                    'next-inline.svg',
                                    'next.svg',
                                    'prev-inline.svg', 
                                    'prev.svg'
                                ]" ng-include="'/plugins/ng-image-gallery/res/icons/'+svg"></div>
                            <ng-image-gallery images="gallery" thumbnails=true on-delete="">
                            </ng-image-gallery>
                            <md-button class="md-primary md-raised" ng-click="close_dialog();">
                                OK
                            </md-button>
                        </div>
                    </md-dialog-content>
                </md-dialog>
            </div>
        </div>
    </div>
</div>