<div layout>
    <div flex></div>
    <div layout layout-align="center start">
        <div>
            <canvas id="qr_canvas" ng-init="generate_qr_code('qr_canvas','https://document-network.web.app/pcsd/qr/'+currentItem.id)"></canvas>
        </div>
        <div class="m-t-30">
            <cite>{{'https://document-network.web.app/pcsd/qr/'+currentItem.id}}</cite>
            <br>
            <strong class="font-11">This is a system generated document. With a document ID : {{currentItem.id}}, publisher ID : {{currentItem.publisher}}, and published date : {{currentItem.meta.published_date}}. </strong>
            <cite class="font-11" ng-if="is_printing">
                <br>
                Date Printed : {{date_now()}}
            </cite>
        </div>
    </div>
</div>