<div ng-controller="incoming_query_controller" ng-init="loadQuery();setCurrentItem(query);saveIncomingQuery=updateIncomingQuery">
    <div ng-include="'app/records/queries/incoming/template/form.html'"></div>
    <hr>
    Related Documents
    <ol>
        <li ng-repeat='relatedDocument in relatedDocuments'>
            <a href="" ng-click="loadDocument(relatedDocument)">{{relatedDocument.subject}}</a>
        </li>
    </ol>
    <div layout-gt-sm layout-sm="column" layout-align="center center">
        <md-button class="md-button md-primary" ng-click="createReceipt()" layout-gt-sm>
            <i class="fa fa-plus m-r-5"></i>
            Create Receipt
        </md-button>
        
        <md-button class="md-button md-primary" ng-click="showPrerenderedDialog($event, 'sendDocument')" layout-gt-sm>
            <i class="fa fa-paper-plane m-r-5"></i>
            Send
        </md-button>

        <!-- <div ng-controller='doc_controller' ng-init='doc_init();currentItem=query;
            doc_user[currentItem.agency.id]="Receiving Staff"'>
            <div ng-controller='doc_ctrl_published' ng-init='load_operation_reciepients(doc_user[currentItem.agency.id]);
            listen_document_change(load_current_receipients );'>
                <div ng-include="'./app/templates/modal/ops_send.html'"></div>
            </div>
        </div> -->
        <div ng-include="'./app/records/queries/incoming/template/sendForm.html'"></div>

        <md-button class="md-button md-primary" aria-label="Print Document"
            ng-click="open_print_view(currentItem.template.print, currentItem);" layout-gt-sm>
            <i class="fa fa-print"></i>
            Print this document
        </md-button>

    </div>

    <div ng-if="currentReceipients.length > 0">
        <hr>
        <h4 class="col-grey">Receipients</h4>
        <ol>
            <li ng-repeat="receipient in currentReceipients">
                <strong class="col-grey">{{receipient.receiver}}</strong>
                <br>
                <!-- <ul> -->
                    <!-- <li ng-repeat="receipient in receipient.sentItems"> -->
                        {{receipient.date}} :
                        <strong
                            ng-class="{ 'col-green' : (receipient.status == 'received'), 'col-orange' : (receipient.status == 'declined'), 'col-red' : (receipient.status == 'pending') }">
                            {{receipient.status}}
                        </strong>,
                        <cite>{{receipient.remarks}}</cite>
                    <!-- </li> -->
                <!-- </ul> -->
            </li>
        </ol>
    </div>
</div>