<!-- <div ng-controller="DummyWSUPController" ng-init="currentItem=n"> -->
<div class="roman">
	<div ng-include="'./app/templates/application/style.html'"></div>
	<br>
	<div layout>
			<div style="width:75%"></div>
			<md-input-container flex>
				<label>Monitoring Date:</label>
				<md-datepicker md-hide-icons="calendar" 
					ng-init="monitoring_date=to_date(currentItem.monitoring_date)"
					ng-model="monitoring_date"
					ng-change="currentItem.monitoring_date=to_date(monitoring_date);updateDocument(currentItem.id, { monitoring_date: currentItem.monitoring_date})"></md-datepicker>
			</md-input-container>
		</div>
		<div layout-align="center">CHAINSAW REGISTRATION</div>
		<style>
			td{
				padding-right: 5px
			}
		</style>
		<ol>
			<li>Project Information:<br>
				<table>
					<tr>
						<td>Name of Chainsaw Owner/Representative</td>
						<td>:</td>
						<td>
							<md-input-container flex>
								<input 
									ng-model="currentItem.chainsaw_owner"
									ng-blur="updateDocument(currentItem.id, {chainsaw_owner: currentItem.chainsaw_owner})">
							</md-input-container>
						</td>
					</tr>
					<tr>
						<td>Address</td>
						<td>:</td>
						<td>
							<md-input-container flex>
								<textarea 
								ng-model="currentItem.address"
								ng-blur="updateDocument(currentItem.id, {address: currentItem.address})"></textarea>
							</md-input-container>
						</td>
					</tr>
					<tr>
						<td>Coordinates</td>
						<td>:</td>
						<td>
							<md-input-container flex>
								<input 
									ng-model="currentItem.coordinates"
									ng-blur="updateDocument(currentItem.id, {coordinates: currentItem.coordinates})">
							</md-input-container>
						</td>
					</tr>
					<tr>
						<td>Certificate of Registration Number</td>
						<td>:</td>
						<td>
							<md-input-container flex>
								<input ng-model="currentItem.registration_number"
								ng-blur="updateDocument(currentItem.id, {registration_number: currentItem.registration_number})">
							</md-input-container>
						</td>
					</tr>
					<tr>
						<td>Date Issued</td>
						<td>:</td>
						<td>
							<md-input-container flex>
	
								<md-datepicker md-hide-icons="calendar" 
									ng-init="date_issued=to_date(currentItem.date_issued)"
									ng-model="date_issued"
									ng-change="currentItem.date_issued=to_date(date_issued);
									updateDocument(currentItem.id, {date_issued: currentItem.date_issued})"></md-datepicker>
							</md-input-container>
						</td>
					</tr>
					<tr>
						<td>Expiry Date</td>
						<td>:</td>
						<td>
							<md-input-container flex>
	
								<md-datepicker md-hide-icons="calendar" 
									ng-init="expiry_date=to_date(currentItem.expiry_date)"
									ng-model="expiry_date"
									ng-change="currentItem.expiry_date=to_date(expiry_date);
									updateDocument(currentItem.id, {expiry_date: currentItem.expiry_date)"></md-datepicker>
							</md-input-container>
						</td>
					</tr>
					<tr>
						<td>Limitation on Use of Chainsaw</td>
						<td>:</td>
						<td>
							<md-input-container flex>
								<textarea 
									ng-model="currentItem.limitation_of_use"
									ng-change="updateDocument(currentItem.id, {limitation_of_use: currentItem.limitation_of_use})"></textarea>
							</md-input-container>
						</td>
					</tr>
					<tr>
						<td>Brand</td>
						<td>:</td>
						<td>
							<md-input-container flex>
	
								<input ng-model="currentItem.brand"
								ng-change="updateDocument(currentItem.id, {brand: currentItem.brand})">
							</md-input-container>
						</td>
					</tr>
					<tr>
						<td>Serial Number</td>
						<td>:</td>
						<td>
							<md-input-container flex>
	
								<input ng-model="currentItem.serial_number"
								ng-change="updateDocument(currentItem.id, {serial_number: currentItem.serial_number})">
							</md-input-container>
						</td>
					</tr>
					<tr>
						<td>Metal Seal Number</td>
						<td>:</td>
						<td>
							<md-input-container flex>
	
								<input ng-model="currentItem.metal_seal_number"
									ng-change="updateDocument(currentItem.id, {metal_seal_number: currentItem.metal_seal_number})">
							</md-input-container>
						</td>
					</tr>
				</table>
			</li>
			<li>
				Result of Monitoring:
				<ol start="a">
					<li>Monitoring on Compliance to the Terms and Conditions
						<table>
							<tr>
								<td rowspan="2">TERMS AND CONDITIONS</td>
								<td colspan="2">STATUS OF COMPLIANCE</td>
								<td rowspan="2">PROOF/BASIS</td>
								<td rowspan="2">REMARKS/RECOMMENDATIONS</td>
							</tr>
							<tr>
								<td>Complied</td>
								<td>Not Complied</td>
								<td></td>
								<td></td>
							</tr>
							<tr ng-repeat="compliance in currentItem.compliances track by $index">
								<td>
									<div ng-if="$index != 2">
										{{compliance.terms}}
									</div>
									<div ng-if="$index == 2">
										The chainsaw shall be used only for the intended purpose and shall not be utilized
										and transported outside the applied area covered by
										<md-input-container>
											<input ng-model="compliance.allowed_area_to_be_use[0]"
											ng-change="updateDocument(currentItem.id, {compliances: currentItem.compliances})">
										</md-input-container>
										of <md-input-container>
											<input ng-model="compliance.allowed_area_to_be_use[1]"
												ng-change="updateDocument(currentItem.id, {compliances: currentItem.compliances)">
										</md-input-container>
										located at Bgy.
										<md-input-container>
											<input ng-model="compliance.allowed_area_to_be_use[2]"
											ng-change="updateDocument(currentItem.id, {compliances: currentItem.compliances)">
										</md-input-container>,
										Palawan and his residential area located in
										<md-input-container>
											<input ng-model="compliance.allowed_area_to_be_use[3]"
											ng-change="updateDocument(currentItem.id, {compliances: currentItem.compliances)">
										</md-input-container>
										(geographical location).
									</div>
								</td>
								<td>
									<md-radio-group ng-model="compliance.complied"
										ng-change="updateDocument(currentItem.id, {compliances: currentItem.compliances})">
										<md-radio-button value=true class="md-primary"></md-radio-button>
									</md-radio-group>
								</td>
								<td>
									<md-radio-group ng-model="compliance.complied"
										ng-change="updateDocument(currentItem.id, {compliances: currentItem.compliances})">
										<md-radio-button value=false class="md-primary"></md-radio-button>
									</md-radio-group>
								</td>
								<td>
									<md-input-container>
										<textarea ng-model="compliance.proof"
											ng-blur="updateDocument(currentItem.id, {compliances: currentItem.compliances})"></textarea>
									</md-input-container>
								</td>
								<td>
									<md-input-container>
										<textarea ng-model="compliance.remarks"
											ng-blur="updateDocument(currentItem.id, {compliances: currentItem.compliances})"></textarea>
									</md-input-container>
								</td>
							</tr>
						</table>
					</li>
					<li style="width:200px">Documentation and other issues:
						<div >
							<md-input-container >
								<textarea ng-model="currentItem.documentation"
									ng-blur="updateDocument(currentItem.id, {documentation: currentItem.documentation})">
								</textarea>
							</md-input-container>
						</div>
	
	
					</li>
				</ol>
			</li>
			<li>Recommendations:
				<div>
					<md-input-container flex>
						<textarea ng-model="currentItem.recommendations"
							ng-blur="updateDocument(currentItem.id, {recommendations: currentItem.recommendations})">
						</textarea>
					</md-input-container>
				</div>
	
			</li>
		</ol>
</div>