<style>
    #searchBox {
        padding: 7px;
        font-size: 18px;
        border: none;
    }

    #searchButton {
        padding: 7px 10px;
        margin-right: 16px;
        background: #d7d7d7;
        font-size: 18px;
        border: none;
        cursor: pointer;
        border-radius: 1px;
    }
</style>
<div ng-controller="profile_links_controller">
    <div flex="100" layout-align="center center" ng-show="dataIsLoading" layout>
        <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
    </div>
    <div ng-show="!dataIsLoading">
        <div ng-init="loadProfileLinks()">
            <div class='searchDiv'>
            <md-button class="md-raised md-block md-primary" ng-click="addProfileLink()">Add</md-button>
                <input id='searchBox' ng-init='searchText=""' ng-model='searchText' placeholder="Type keywords here">
                <button type='button' id='searchButton' ng-click="searchProfileLinks(searchText)">
                    <i class="fa fa-search col-green"></i>
                </button>
            </div>
            <md-card ng-repeat="profileLink in profileLinks">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <md-button ng-init="contentShouldExpand[$index]=false; viewProfileLink(profileLink, $index);" 
                        ng-click="contentShouldExpand[$index]=!contentShouldExpand[$index];" 
                        class="md-icon-button" aria-label="View">
                            <md-tooltip>View</md-tooltip>
                            <i ng-if="!contentShouldExpand[$index]" 
                                class="fa fa-angle-down"></i>
                            <i ng-if="contentShouldExpand[$index]"
                                class="fa fa-angle-up"></i>
                        </md-button>
                        <md-button ng-click="updateProfileLink(profileLink.id)" class="md-icon-button"
                            aria-label="View">
                            <md-tooltip>Edit</md-tooltip>
                            <i class="fa fa-edit"></i>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-card-content ng-show="!contentShouldExpand[$index]">
                    <h3>{{profileLink.group_name}}</h3>
                    <small>{{profileLink.description}}</small>
                </md-card-content>
                <md-card-content ng-show="contentShouldExpand[$index]">
                    <div ng-include="'/staff/app/profile_management/links/templates/viewprofile.html'"></div>
                </md-card-content>
            </md-card>
        </div>
    </div>

</div>