<style>
    #searchBox {
        padding: 7px;
        font-size: 18px;
        border: none;
    }

    #searchButton {
        padding: 7px 10px;
        margin-right: 16px;
        background: #d7d7d7;
        font-size: 18px;
        border: none;
        cursor: pointer;
        border-radius: 1px;
    }
</style>
<div ng-controller="profile_links_controller">
    <div ng-init="loadProfiles()">
        <div class='searchDiv'>
            <input id='searchBox' ng-init='searchText=""' ng-model='searchText' placeholder="Type keywords here">
            <button type='button' id='searchButton' ng-click="searchProfileLinks(searchText)">
                <i class="fa fa-search col-green"></i>
            </button>
        </div>
        <md-card ng-repeat="profileLink in profileLinks">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="View">
                        <md-tooltip>View</md-tooltip>
                        <i class="fa fa-eye"></i>
                    </md-button>
                    <md-button ng-click="updateProfileLink(profileLink.id)" class="md-icon-button" aria-label="View">
                        <md-tooltip>Edit</md-tooltip>
                        <i class="fa fa-edit"></i>
                    </md-button>
                </div>
            </md-toolbar>
            <md-card-content>
                <h3>{{profileLink.group_name}}</h3>
                <small>{{profileLink.description}}</small>
            </md-card-content>
        </md-card>
    </div>
</div>