<style type="text/css">
	.roman {
		font-family: 'Times New Roman', Times, serif;
	}
</style>
<!-- <div class="roman" ng-controller="DummyWSUPController" ng-init="currentItem=n"> -->
<div class="roman">

	<!-- header -->
	<div ng-include="'./app/templates/templates/header.html'"></div>
	<hr>
	<div>
		<strong>
			<div>WILDLIFE SPECIAL USE PERMIT</div>
			<div>WSUP No.: {{currentItem.wsup_no}}</div>
		</strong>
	</div>
	<br>
	<br>
	<p>
		<span class="m-l-50"></span>
		{{ currentItem.line1 }}
	</p>
	<br>
	<br>
	<div style="text-align:center; margin-left: 100px; margin-right: 100px" ng-repeat="lineNumber in [2, 4, 6, 8]">
		<h2 style="border:solid 2px; padding:7px">{{currentItem['line'+lineNumber]}}</h2>
		{{currentItem['line'+(lineNumber+1)]}}
	</div>
	<br>
	<p>
		<span class="m-l-50"></span>
		{{ currentItem.line10 }}
	</p>
	<div layout>
		<div style="width:70%"></div>
		<div>APPROVED:</div>
	</div>
	<!-- Signature -->
	<div layout ng-controller="doc_ctrl_draft">
		<div style="width:70%"></div>

		<!-- sign 1 -->
		<div flex style="padding: 10px"
			ng-init="currentItem.sign1 = (currentItem.sign1 == undefined)? { name:'',designation:''}:currentItem.sign1;">
			<div ng-if="currentItem.sign1.signature != undefined;" layout="column" layout-align="center center">
				<img ng-if="currentItem.sign1.signature != undefined" src="{{currentItem.sign1.signature}}"
					alt="Signature1" width="auto" style="margin-bottom: -35px;">
				<div class="align-center"> <strong> <ins>{{currentItem.sign1.name}}</ins> </strong> </div>
				<div class="align-center"> {{currentItem.sign1.designation}} </div>
				<md-button class="md-fab md-mini" aria-label="Remove Signature" ng-if="currentItem.sign1.user == userId"
					ng-click="updateDocument(currentItem.id,{'sign1' : {} })">
					<md-tooltip md-direction="left">Remove Signature</md-tooltip>
					<i class="fa fa-remove"></i>
				</md-button>
			</div>

			<div layout="column" layout-align="center center" ng-if="currentItem.sign1.signature == undefined;"
				id="sign1" ng-init="generate_signature_field('sign1',0);" style="border: black dashed 1px;">
				<canvas></canvas>
				<button ng-click="signclear(0)">Clear Signature</button>
				<button
					ng-click=" updateDocument(currentItem.id,{'sign1.signature': signed(0), 'sign1.user' : userId }) ">Save
					Signature</button>
				<md-input-container md-no-float class="md-block" ng-if="currentItem.sign1.signature == undefined;">
					<input ng-model="currentItem.sign1.name"
						ng-blur="updateDocument(currentItem.id,{'sign1.name' : currentItem.sign1.name })" type="text"
						placeholder="Name" aria-label="Name">
				</md-input-container>
				<md-input-container md-no-float class="md-block" ng-if="currentItem.sign1.signature == undefined;">
					<input ng-model="currentItem.sign1.designation"
						ng-blur="updateDocument(currentItem.id,{'sign1.designation' : currentItem.sign1.designation })"
						type="text" placeholder="Designation" aria-label="designation">
				</md-input-container>
			</div>
		</div>
	</div>
	<br>
	<div layout>
		<div flex="40">
			<p>
				<strong>
					Permit fee Php {{currentItem.paid_amount}}.00
				</strong>
				<br>
				<strong>
					Paid under O.R. No. {{currentItem.paid_or_number}}
				</strong>
				<br>
				<strong>
					Date of Payment: {{currentItem.paid_date}}
				</strong>
			</p>
		</div>
	</div>

	<!-- Signature -->

	<div style="text-align: center">
		<strong>Not Valid Without PCSD Official Seal</strong>
		<br>
		<i>(PLEASE SEE OVERLEAF FOR THE TERMS AND CONDITIONS OF THIS PERMIT)</i>
		</p>
	</div>
	<hr>
	<br>
	<br>
	<div style="text-align:center">TERMS AND CONDITIONS</div>
	This Permit is issued subject to the following terms and conditions:
	<ol>
		<li>The Permittee shall only be allowed to buy and sell the following marine wildlife species that are
			non-threatened and economically important; </li>
		<style>
			.borderedTable tr td {
				border: 1px solid
			}
		</style>
		<div layout layout-align="center">
			<table class="borderedTable">
				<tr style="text-align: center">
					<th>Kind of Species</td>
					<th>Scientific Name</td>
					<th>Local Name</td>
				</tr>
				<tr ng-repeat="specy in currentItem.species">
					<td ng-repeat="key in ['kind', 'scientific_name', 'local_name']">
						{{specy[key]}}
					</td>
				</tr>
			</table>
		</div>

		<li>Collection of non-threatened marine wildlife listed in no. 1 condition must <b>not include</b> those
			individuals
			classified as “young and juvenile” and adult female which have eggs or known as gravid/spawner/breeder.</li>
		<li>Buy and sell of species must start only after the submission to PCSD of the Mayor’s Permit duly approved on
			current year by the City Government which covers of business permit.</li>
		<li>The transport of allowed species indicated in #1 above from Palawan to other places within the Philippines
			shall be accompanied by a Local Transport Permit (LTP) to be secured from PCSDS prior to the scheduled date
			of transport;</li>
		<li>The Permittee shall only deal or transact to individuals with Wildlife Collector’s and/or Wildlife Special
			Use Permit; </li>
		<li>Collection of the above species must be done by the permittee and her authorized collectors; </li>
		<li>In case of transport of live marine wildlife specimens (indicated in no. 1 condition) to other places within
			the Philippines, the permittee must observe the applicable provision of the City Ordinance No. 110 (as
			amended), if to be transported via Puerto Princesa City;</li>
		<li>The permittee shall submit to the PCSDS a quarterly report using quarterly monitoring report for traders of
			Fishery Products (attached hereto as Annex A). Failure to submit a quarterly report shall be a ground for
			non-approval of the application for Local Transport Permit;</li>
		<li>In case of incidental catches that can no longer be returned to the wild, the permittee shall submit an
			inventory of incidental catches within fifteen (15) days after collection; </li>
		<li>The permittee and/or her authorized collectors are allowed to collect aforementioned species. The methods of
			collection with least or no detrimental effects to existing marine wild population and their habitats;</li>
		<li>In case the location of the business establishment will be transferred, the Permittee shall inform the PCSDS
			in writing;</li>
		<li>Comply with the terms of the Letter of Commitment submitted to the PCSD.</li>
		<li>Provide garbage bins in the buying station and aquarium for proper disposal of the waste generated during
			project operation. </li>
		<li>Provide a septic tank in the buying station and aquarium, if necessary. </li>
		<li>Put a perimeter net that will serve as solid waste screener underneath the buying station and aquarium, if
			necessary. </li>
		<li>Do not let other person use PCSD permit for purposes of engaging in any of the RFF operations.</li>
		<li>This permit must be posted at the office and/or where buying/selling station of the Permittee is located;
		</li>
		<li>The permittee shall observe cleanliness and sanitation in the maintenance of the aquarium facility/ies to
			prevent possible contamination and/or spread of pest/diseases which may affect the survival of marine
			wildlife populations and other species in the discharge area/s;</li>
		<li>This permit must be posted at the office and/or where buying/selling station of the Permittee is located;
		</li>
		<li>In the exercise of visitorial powers, PCSDS officials and personnel shall be allowed to conduct
			monitoring/inspection of activities without prior notice; </li>
		<li>In case there is a need for additional condition(s) and/or amendment to this permit to ensure environmental
			integrity or sustainability of lobster and fish harvest as a result of technical
			assessment/evaluation/scientific studies and/or regular monitoring/inspection, the same shall be imposed by
			PCSDS;</li>
		<li>Allow PCSD staff to conduct random sampling of species subject of every transport for biometric purposes in
			order to support a study on the population of said specimens;</li>
		<li>Failure to comply with any of the terms and conditions herein specified shall be sufficient ground for the
			cancellation of this permit and disqualification from renewal, subject to administrative due process;</li>
		<li>Any alteration, erasure or obliteration in this permit shall be sufficient ground for the
			cancellation/revocation of this permit without prejudice to criminal and other liabilities of the offender;
		</li>
		<li>This permit is non-transferable and shall be effective for <b>ONE (1) YEAR</b> from the date of the issuance
			hereof, unless sooner revoked or cancelled for non-compliance with and/or violation of the terms and
			conditions specified herein, or for violation of pertinent laws, rules and regulations; and</li>
		<li>Non-compliance with any of the above conditions or the relevant provisions of PCSD Admin Order No. 12 series
			of 2011 and other relevant laws, rules and regulations shall be sufficient cause for the suspension or
			cancellation of this Permit and the imposition of appropriate penalty provided under the said Admin. Order.
		</li>
	</ol>
	<hr>
	<div style="text-align:center"><b>CONFORME</b></div>
	<P>
		<span class="m-l-50"></span>
		I, <underlined>{{currentItem.applicant.full_name}}</underlined>, grantee of the foregoing permit,
		hereby certify that I have read and understood the Terms and Conditions for which this permit was
		issued and I hereby express my conformity thereto and my commitment to abide by the provisions of RA 9147,
		DENR-DA-PCSD Joint Admin. Order No. 1 s. 2004 as amended, PCSD Admin Order No. 12 and other PCSD policies
		related thereto.
	</P>
	<br><br><br>
	<div layout>
		<div style="width:70%"></div>
		<div>GRANTEE:</div>
	</div>
	<div layout  ng-controller="doc_ctrl_draft">
		<div style="width:70%"></div>
		<div flex style="padding: 10px"
			ng-init="currentItem.sign2 = (currentItem.sign2 == undefined)? { name:'',designation:''}:currentItem.sign2;">
			<div ng-if="currentItem.sign2.signature != undefined;" layout="column" layout-align="center center">
				<img ng-if="currentItem.sign2.signature != undefined" src="{{currentItem.sign2.signature}}"
					alt="Signature1" width="auto" style="margin-bottom: -35px;">
				<div class="align-center"> <strong> <ins>{{currentItem.sign2.name}}</ins> </strong> </div>
				<div class="align-center"> {{currentItem.sign2.designation}} </div>
				<md-button class="md-fab md-mini" aria-label="Remove Signature" ng-if="currentItem.sign2.user == userId"
					ng-click="updateDocument(currentItem.id,{'sign2' : {} })">
					<md-tooltip md-direction="left">Remove Signature</md-tooltip>
					<i class="fa fa-remove"></i>
				</md-button>
			</div>
		</div>
		<div layout="column" layout-align="center center" ng-if="currentItem.sign2.signature == undefined;" id="sign2"
			ng-init="generate_signature_field('sign2',0);" style="border: black dashed 1px;">
			<canvas></canvas>
			<button ng-click="signclear(0)">Clear Signature</button>
			<button ng-click=" updateDocument(currentItem.id,{'sign2.signature': signed(0), 'sign2.user' : userId }) ">
				Save Signature</button>
			<md-input-container md-no-float class="md-block" ng-if="currentItem.sign2.signature == undefined;">
				<input ng-init="currentItem.sign2.name=currentItem.applicant.full_name"
					ng-model="currentItem.sign2.name"
					ng-blur="updateDocument(currentItem.id,{'sign2.name' : currentItem.sign2.name })" type="text"
					placeholder="Name" aria-label="Name">
			</md-input-container>
			<md-input-container md-no-float class="md-block">
				<md-datepicker ng-model="paid_date"
					ng-change="currentItem.paid_date = to_date(paid_date); updateDocument(currentItem.id,{'paid_date': currentItem.paid_date})"
					md-placeholder="Date Signed" md-open-on-focus>
				</md-datepicker>
			</md-input-container>
		</div>
	</div>
	<!-- footer -->
	<div ng-include="'./app/templates/templates/footer.html'"></div>
</div>