<div ng-if="application.status < 2" ng-controller="doc_controller" ng-init="
    applicant_name = application.data.application.applicant.split(' '); 
    doc_network_user = getLocal('doc_user'); application_documents = [];
    getApplicationDocuments(application.date);
    ">
    
    <!-- all documents added -->
    <div ng-if="application_documents.length > 0">
        <div ng-include="'./app/templates/modal/view_document.html'"></div>
        <strong>Added Documents</strong>
        <div>
            <ol>
                <li class="pointer" ng-repeat="x in application_documents" ng-click="currentItem = x; showPrerenderedDialog($event,'viewDocument')">
                    {{x.subject}} - {{x.status}}
                </li>
            </ol>
        </div>
    </div>
    
    <!-- no pending case -->
    <div ng-if="doc_network_user != undefined" ng-init="n={
        template : {
            'name' : 'Certificate of no-pending Case',
            'type' : 'certificate_of_no_pending_case',
            'create' : './app/templates/templates/certificate_npc/create.html',
            'edit' : './app/templates/templates/certificate_npc/edit.html',
            'view' : './app/templates/templates/certificate_npc/view.html',
            'print' : './app/templates/templates/certificate_npc/print.html'
        },
        created : date_now('YYYY-MM-DD'),
        published : date_now('YYYY-MM-DD'),
        category : 'certificate_of_no_pending_case',
        keywords : applicant_name,
        application_no : application.date,
        applicant_f_name : applicant_name[0],
        applicant_m_name : (applicant_name.length > 2)? applicant_name[1] : '',
        applicant_l_name : applicant_name[applicant_name.length - 2],
        address : application.data.application.applicant_address
    };
    day = date_now('DD');
    month = date_now('MMMM');
    year = date_now('YYYY');
    ">
        <hr>
        <md-button class="md-button col-black" ng-click="showPrerenderedDialog($event,'addDocument')">
            <i class="fa fa-plus col-black"></i>
            Create Certificate of no-pending case
        </md-button>
        <hr>
        <!-- modal for creating document -->
        <div ng-include="'./app/templates/modal/addDocument.html'"></div>
    </div>
    <!-- end of no pending case -->

</div>