<strong><small>Attachments :</small></strong>
<ol ng-if="application.data.application.attachments.length > 0">
    <li ng-repeat=" x in application.data.application.attachments" ng-if="x.url != undefined"> 
        <a target="blank" ng-href="{{api_address + '/' +  x.url}}" > {{x.name}} </a> |
        <a target="blank" ng-href="{{api_address + '/' +  x.url}}" download> <strong>DOWNLOAD</strong> </a> 
    </li>
</ol>
<hr>

<md-card
    ng-if="current_active_view == 'my_transactions' || version_2"
    ng-change="upload_attachments(file_drop)"
    ngf-drop ng-model="file_drop"
    ngf-allow-dir="true"
    ngf-drag-over-class="'dragover'"
    multiple="true"
    >

    <md-card-title>
        <h5>Actions</h5>
        <md-divider></md-divider>
    </md-card-title>
    <md-card-content>
        <p ng-if="application.actions.length > 0"  ng-repeat="x in application.actions track by $index ">
            <strong class="m-l-20 col-grey"> {{x.staff}} : </strong>
            <span class="{{'convo_' + $index }}" ></span>
            <i ng-init="load_html(x.message,$index,'convo_')"></i>
            <cite class="m-l-20 font-9"> {{x.date | date}} </cite>
            <hr>
        </p>

        <div>
            <form name="form_add_tread">
                <div layout="row">
                    <textarea flex accept-charset="ISO-8859-1" ng-model="add_tread_message[''+application.id]" rows="2" placeholder="my action/remark"></textarea>
                </div>
                <md-button type="submit" ng-disabled="add_tread_message[''+application.id] == undefined || is_loading" ng-click="add_tread(application.id,add_tread_message[''+application.id]);" class="md-raised" >
                    <cite class="font-12"> <i class="fa fa-send"></i> Send Action</cite>
                </md-button>
            </form>
            <md-progress-linear md-mode="indeterminate" ng-show="uploading_file"></md-progress-linear>
            <md-button class="md-raised font-12"  ng-hide="uploading_file" ngf-select="upload_attachments($files,application.id)">
                <cite class="font-10"> <i class="fa fa-upload"></i> upload attachments</cite>
            </md-button>
        </div>
        
    </md-card-content>
</md-card>

<div ng-if="application.status == 0">
    <md-button class="md-warn md-raised" ng-dblclick="rejectApplication(application,$event)" >
        <md-tooltip md-direction="top">Double click</md-tooltip>
        Reject
    </md-button>
    <md-button class="md-primary md-raised" ng-if="application.status == 0" ng-dblclick="receive_single(application)" >
        <md-tooltip md-direction="top">Double click</md-tooltip>
        Receive
    </md-button>    
</div>

<div ng-if="validate_user([99,5]) && application.status == 1 ">
        <form name="approve_application_form" ng-init="application.certificate_of_inspection = {};application.payment_slip={}">
            <!-- certificate of inspection -->
            <md-card >
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Certificate of inspection</span>
                        <span class="md-subhead">Digital form</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row" layout-align="space-between" ng-controller="user_management_controller" ng-init="download_users()">
                    <div flex layout="column" >
                        <md-input-container class="md-block" flex-gt-sm>
                                <label>Personnel</label>
                                <md-select ng-model="application.certificate_of_inspection.personnel" required>
                                    <md-option ng-repeat="x in get_users_by_level(6)" value="{{x.data.first_name}} {{x.data.last_name}}">
                                        {{x.data.first_name}} {{x.data.last_name}}
                                    </md-option>
                                </md-select>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label>Remark</label>
                            <textarea ng-model="application.certificate_of_inspection.remark" md-maxlength="300" rows="3" md-select-on-focus></textarea>
                        </md-input-container>
                    </div>
                    <div flex layout="column">
                        <md-input-container flex class="md-block">
                            <label>Location</label>
                            <input ng-model="application.certificate_of_inspection.location" required>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label> Latitude </label>
                            <input ng-model="application.certificate_of_inspection.latitude" required>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label> Longitude</label>
                            <input ng-model="application.certificate_of_inspection.longitude" required>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
            <!-- end of c-o-i -->
            <!-- payment slip -->
            <md-card >
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Payment Receipt</span>
                        <span class="md-subhead">Digital copy</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row" layout-align="space-between">
                    <div layout="column">
                        <md-input-container flex class="md-block">
                            <label>OR Number</label>
                            <input ng-model="application.payment_slip.or_number" required>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label>Ammount</label>
                            <input type="number" ng-model="application.payment_slip.ammount" required>
                        </md-input-container>
                    </div>
                    <div  layout="column">
                        <strong>on :</strong>
                        <md-datepicker ng-model="date_issued" ng-change="application.payment_slip.issued = to_date(date_issued)" md-placeholder="Date issued" md-open-on-focus></md-datepicker>
                        
                        <md-input-container flex class="md-block">
                            <label>Issued By:</label>
                            <input ng-model="application.payment_slip.issued_by" required>
                        </md-input-container>
                    </div>
                    
                </md-card-content>
            </md-card>
            <!-- end of payment slip -->
        </form>
    <md-button class="md-raised md-warn" ng-if="application.status == 1" ng-disabled="application_loading" ng-dblclick="rejectApplication(application,$event)" >
        <md-tooltip md-direction="top">Double click</md-tooltip>
        Reject
    </md-button>
    <md-button class="md-raised md-primary" ng-disabled="approve_application_form.$invalid || application_loading " 
        ng-dblclick="acceptApplication(application,$event,{'data.certificate_of_inspection':application.certificate_of_inspection,'data.payment_slip':application.payment_slip})">
        <md-tooltip md-direction="top">Double click</md-tooltip>
        Accept
    </md-button>
</div>

<!-- approval -->
<div ng-show="validate_user([99,7]) && application.status == 3">
    <md-button class="md-raised md-warn" ng-disabled="application_loading" ng-dblclick="rejectApplication(application,$event)" >
            <md-tooltip md-direction="top">Double click</md-tooltip>
            Reject</md-button>
    <md-button class="md-raised " ng-disabled="application_loading" ng-dblclick="returnApplication(application,$event,5)" >
            <md-tooltip md-direction="top">Double click</md-tooltip>
            Return</md-button>
    <md-button class="md-raised md-primary" ng-disabled="application_loading" ng-dblclick="approveApplication(application,$event)">
            <md-tooltip md-direction="top">Double click</md-tooltip>
            Approve</md-button>
</div>

<!-- Recomendation -->
<div ng-if="validate_user([99,8]) && application.status == 4">
    <md-button class="md-raised md-warn" ng-disabled="application_loading" ng-dblclick="rejectApplication(application,$event)" > 
            <md-tooltip md-direction="top">Double click</md-tooltip>
            <i class="fa fa-remove"></i> Reject</md-button>
    <md-button class="md-raised " ng-disabled="application_loading" ng-dblclick="returnApplication(application,$event,7)" > 
            <md-tooltip md-direction="top">Double click</md-tooltip>
            <i class="fa fa-mail-reply"></i> Return</md-button>
    <md-button class="md-raised md-primary" ng-disabled="application_loading" ng-dblclick="recommendApplication(application,$event)"> 
            <md-tooltip md-direction="top">Double click</md-tooltip>
            <i class="fa fa-mail-forward"></i> Recommend</md-button>
</div>

<!-- Acknowledgement -->
<div ng-if="validate_user([99,4]) && application.status == 5">
    <md-button class="md-raised md-warn" ng-disabled="application_loading" ng-dblclick="rejectApplication(application,$event)" >
            <md-tooltip md-direction="top">Double click</md-tooltip>
            Reject</md-button>
    <md-button class="md-raised " ng-disabled="application_loading" ng-dblclick="returnApplication(application,$event,8)" >
            <md-tooltip md-direction="top">Double click</md-tooltip>
            Return</md-button>
    <md-button class="md-raised md-primary" ng-disabled="application_loading" ng-dblclick="acknowledgeApplication(application,$event)">
            <md-tooltip md-direction="top">Double click</md-tooltip>
            Acknowledge</md-button>
</div>

<md-progress-circular ng-show="application_loading" class="md-accent md-hue-1" md-diameter="60"></md-progress-circular>