<div ng-controller="operations_category_controller" ng-init="set_page_title('Operations - Category Management')">
    
    <md-button class="md-raised" ng-click="add_category()">
        Add Category 
        <i class="fa fa-plus col-green m-l-10" >
            <md-tooltip md-direction="buttom">Add Category</md-tooltip> 
        </i>
    </md-button>
    <hr>
    <ol>
        <li ng-repeat="x in categories" >
            <div layout>
                    <md-input-container md-no-float class="md-block">
                        <input ng-model="x.value" placeholder="Category" aria-label="Category" ng-blur="update_category(x)">
                    </md-input-container>
        
                    <i class="fa fa-trash col-red pointer m-l-10" 
                        ng-click="delete_category(x)">
                        <md-tooltip md-direction="buttom">Delete Category</md-tooltip> 
                    </i>
            </div>
            
        </li>
    </ol>
</div>