<div ng-controller='receipt_controller' ng-init='set_page_title("Official Receipt");loadReceipt();
    saveReceipt=updateReceipt;
    saveButtonShouldHide=true;
    backButtonShouldHide=true;
    currentItem=receipt'>
    <div ng-include="'app/receipt/template/form.html'"></div><br>
    <md-button class="md-button md-primary" aria-label="Print Document"
        ng-click="open_print_view('./app' + currentItem.template.print + '/view.html', currentItem);" layout-gt-sm>
        <i class="fa fa-print"></i>
        Print this document
    </md-button>
    <div ng-include="'app/templates/templates/footer.html'"></div>
</div>