<!-- <md-content style="height: {{ iframeHeight - 150 }}px;" layout-sm="column" layout-gt-sm ng-init="">
        <div flex>
          <table ng-table="queriesTable" class="table" show-filter="true">
            <tr ng-repeat="query in $data track by query.id">
              <td title="'Control Number'" sortable="'control_number'" filter="{control_number: 'text'}">
                {{ query.control_number }}
              </td>
              <td title="'Communication Status'" sortable="'communication_status'" filter="{communication_status: 'text'}">
                {{ query.communication_status }}
              </td>
              <td title="'Correspondence Description'" sortable="'correspondence_description'" filter="{correspondence_description: 'text'}">
                {{ query.correspondence_description }}
              </td>
              <td title="'Date of Correspondence'" sortable="'date_of_correspondence'" filter="{date_of_correspondence: 'text'}">
                {{ query.date_of_correspondence }}
              </td>      
              <td title="''">
                <md-button class="md-raised" ng-click="update(query)">
                  <i class="fa fa-plus col-green"></i>
                  VIEW
                </md-button>
              </td>
            </tr>
          </table>
        </div>
      </md-content> -->
<form name="filterByDateForm">
  Filter inquiries between
  <md-datepicker ng-model='start' required></md-datepicker>
  and
  <md-datepicker ng-model='end' required></md-datepicker>
  <md-button 
    class="md-primary md-raised md-block" 
    type="submit" 
    ng-click='filterByDatesBetween(start, end)'
    ng-disabled='filterByDateForm.$invalid'>Filter</md-button>
    <md-button 
    class="md-primary md-raised md-block" 
    ng-click='clearFilter()'>Clear</md-button>
</form>
<md-input-container>
  <md-button class="md-primary md-raised md-block" type="submit" ng-click="export(incomingQueries)">Export</md-button>
</md-input-container>
<md-card ng-repeat="query in incomingQueries track by $index">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-init="contentShouldExpand[$index]=false; incomingQueryModel[$index]=query;"
        ng-click="contentShouldExpand[$index]=!contentShouldExpand[$index];" class="md-icon-button" aria-label="View">
        <md-tooltip>View</md-tooltip>
        <i ng-if="!contentShouldExpand[$index]" class="fa fa-angle-down"></i>
        <i ng-if="contentShouldExpand[$index]" class="fa fa-angle-up"></i>
      </md-button>
      <md-button ng-hide="query.read_only" ng-click="update(query)" class="md-icon-button" aria-label="View">
        <md-tooltip>Edit</md-tooltip>
        <i class="fa fa-edit"></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-card-content ng-show="!contentShouldExpand[$index]">
    <h3>{{query.control_number}}</h3>
    <small>{{query.communication_status}}</small>
  </md-card-content>
  

  <md-card-content ng-show="contentShouldExpand[$index]">
    <div ng-include="'/staff/app/records/queries/incoming/list/template/viewquery.html'"></div>
  </md-card-content>
</md-card>