<div layout ng-controller="NoPendingCaseController" 
    ng-init="set_page_title('No Pending Case Certification- Create');
        setSubject('No Pending Case Certification');
        setCategory('no_pending_case_certification');
        setTemplate({
			'name' : 'No Pending Case Certification',
			'type' : 'certification',
			'permit' : 'false',
			'create' : 	'./app/templates/templates/certificate_npc/create.html',
			'edit' : 	'./app/templates/templates/certificate_npc/edit.html',
			'print' : 	'./app/templates/templates/certificate_npc/print.html',
			'view' : 	'./app/templates/templates/certificate_npc/view.html'
        });
        setViewPath('/no_pending_case/view');
        setListPath('/no_pending_case/list/all');
        setCreatePath('/no_pending_case/create')">
    <div flex="100" layout-align="center center" ng-if="is_loading" layout>
        <md-progress-circular md-mode="indeterminate" md-diameter="70">
        </md-progress-circular>
    </div>
    <form ng-if="!is_loading" ng-cloak name="form_add_draft" flex>
            <hr>
            <div ng-include="n.template.create" ></div>
            
            <md-button class="md-primary md-raised" 
                ng-disabled="form_add_draft.$invalid" 
                ng-controller="doc_controller"
                ng-init="doc_init()"
                ng-click="create(doc_user.id);"
                >
                Create Document
            </md-button>
    </form>
   
</div>