    <div flex layout="column" md-whiteframe="3" ng-init=" initData(wtf) " layout-padding="50" layout-margin class="md-card p-l-20 p-r-20">
    <form name="form_online_application" >
        <div flex layout-gt-xs="row" layout-xs="column">
            <div flex flex-gt-xs="15" layout-align="center center">
                <img src="images/pcsd_logo.png" class="p-t-5" style="width:100%;">
            </div>
            <div flex layout-align="center" class="m-l-20">
                <h4><strong>Republic of the Philippines</strong> <br>
                    <small>Republic Act 7611</small><br>
                    <small>PALAWAN COUNCIL for SUSTAINABLE DEVELOPMENT</small>
                </h4>
                Date: {{ date_now() | date : 'MMMM d, yyyy'}}
            </div>
        </div>
        <link rel="stylesheet" type="text/css" href="css/style.css">

        <md-divider></md-divider>

        <!-- title -->
        <div flex class="p-t-10 p-b-10">
            <h3 class="col-blue-grey">ONLINE APPLICATION FOR WILDLIFE EXPORT CERTIFICATION/RE-EXPORT CERTIFICATION</h3>
        </div>
        
        <md-divider></md-divider>

        <strong class="col-grey m-t-20">Applicant Photo : </strong>
        <div ng-init="new_application.applicant_photo = user.data.profile_picture">
            <div flex-gt-xs="35" layout-padding  ng-show="!is_using_camera"
                ngf-drop ng-model="picFile"
                ngf-allow-dir="true"
                ngf-drag-over-class="'dragover'"
                ngf-multiple="false"
                ngf-pattern="image/*"
                >
    
                <img ng-hide="picFile !== null" ng-src="{{ (new_application.applicant_photo == undefined)? 'images/user.png' : new_application.applicant_photo }}" alt="Applicant Photo" width="100%" md-whiteframe="3">
    
                <img class="align-center" ng-show="picFile !== null" ng-src="{{croppedDataUrl}}" />
    
                <img-crop ng-show="picFile !== null" image="picFile  | ngfDataUrl"                 
                    result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                </img-crop>
    
                <md-progress-linear ng-show="upload_process()" md-mode="determinate" value="{{photo_uploading_rate}}"></md-progress-linear>
                <hr>
    
                <md-button ng-hide="picFile !== null"
                    ngf-select ng-model="picFile" accept="image/*">
                    Upload Picture
                </md-button>

                <md-button ng-click="toggle_using_camera()">
                    Use Camera
                </md-button>
    
                <md-button ng-show="(picFile !== null) && !upload_process()" ng-click="upload_photo(croppedDataUrl, 'wtf_photo.jpg');picFile=null;">Save</md-button> 
                <md-button ng-show="(picFile !== null) && !upload_process()" ng-click="clear_cropping_image()" >Cancel</md-button>
 
    
            </div>
    
            <div layout="column" ng-if="is_using_camera">
    
                <div ng-hide="fromCamera == undefined" class="align-center"><img ng-src="{{croppedDataUrl}}" /></div>
                <md-button ng-if="fromCamera != undefined" ng-click="upload_photo(croppedDataUrl, 'wtf_photo.jpg')" >
                    Save Image
                </md-button>
                
                <img-crop ng-hide="fromCamera == undefined" image="fromCamera"                 
                    result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                </img-crop>
    
                <ng-camera
                    capture-message="Captured!"
                    countdown="3"
                    viewer-height="375"
                    viewer-width="500"
                    crop-height="375"
                    crop-width="500"
                    output-height="525"
                    output-width="700"
                    image-format="jpeg"
                    jpeg-quality="100"
                    action-message="Use this image"
                    snapshot="fromCamera"
                    shutter-url="shutter.mp3"
                ></ng-camera>
                <md-button ng-click="toggle_using_camera();picFile = null">
                </md-button>
            </div>
        </div>
        <hr>

        <div class="m-t-20" ng-hide="is_using_camera">

            <div flex>
                <h4>
                    NELSON P. DEVANADERA <br>
                    <small>Executive Director</small><br>
                    <small>Palawan Council for Sustainable Development Staff</small>
                </h4>


                sir:
                <br>

                <div>
 
                     <p> I would like to request for the issuance of permit/certification for the following species 
                         /items/articles of wildife(fauna/flora) intended for import for porpuses

                            <md-input-container style="margin: 0px; width: 400px">
                                    <label flex-gt-sm> </label>
                                    <input ng-model="new_application.porpuses" required>
                            </md-input-container>
                            
                            (commercial/non-commercial/scientific reseach,etc. </p>                  
               </div>

                       <br>  


                    <h4 class="col-blue-grey" ng-init="new_application.species = [{}]" flex>
                         Specimen: <md-button class="md-raised" ng-click="new_application.species.push({});">Add Specimen</md-button>
                    </h4>

                  <div>
                        <div ng-repeat="x in new_application.species"  flex layout-gt-sm="row" >
                            <div flex-gt-sm="5">
                                <i ng-if="new_application.species.length > 1" class="fa fa-trash pointer col-red" ng-click="new_application.species.splice(new_application.species.indexOf(x),1);"></i>
                                {{$index + 1}}.
                            </div>
        
                            
                                <md-input-container class="md-block m-r-10" flex-gt-sm>
                                    <label>Common Name/Scientific Name</label>
                                    <input ng-model="new_application.species[new_application.species.indexOf(x)].scientific_name" required>
                                 </md-input-container>
             
                                 <md-input-container class="md-block" flex-gt-sm=>
                                    <label>Description of Parts/derivatives </label>
                                    <input ng-model="new_application.species[new_application.species.indexOf(x)].derivatives" required>
                                 </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="10">
                                    <label>Quantity</label>
                                    <input type="number" min="1" max="9999" ng-model="new_application.species[new_application.species.indexOf(x)].species_qty" required>
                                </md-input-container>
            
                                <md-input-container>
                                <label>Unit</label>
                                <md-select ng-model="new_application.species[new_application.species.indexOf(x)].species_unit" required>
                                    <md-option value="pcs">pcs</md-option>
                                    <md-option value="kg">kg</md-option>
                                    <md-option value="cm">cm</md-option>
                                    <md-option value="dozen">dozen</md-option>
                                </md-select>
                                </md-input-container>
            
                                <md-input-container class="md-block" flex-gt-sm="10">
                                <label>Boxes</label>
                                <input type="number" min="1" max="9999" ng-model="new_application.species[new_application.species.indexOf(x)].species_boxes">
                                </md-input-container>
            
            
                        </div>
                    </div>

                    <br>

                    <p>The aforemetioned specimen will be imported on or before</p>
                                            
                <div>
                     <div layout>
                            <b style="margin-left: 70px">Air Cargo</b>

                            <b style="margin-left: 230px">Sea Cargo</b>

                            <b style="margin-left: 230px">Postal Cargo</b>
                     </div>
<!---------------------------------------------->
                  <div layout >
                        <div layout="row">
                                        <md-input-container style="width: 150px">
                                            <label>Plane:</label>
                                            <input ng-model="new_application.plane" >
                                        </md-input-container>
                                        
                                        <md-input-container style="width: 150px">
                                            <label>Flt. No</label>
                                            <input ng-model="new_application.flt_no">         
                                        </md-input-container>
                               
                                        <md-input-container style="width: 150px">
                                            <label>Vessel:</label>
                                            <input ng-model="new_application.vessel" >
                                        </md-input-container>
                                        
                                        <md-input-container style="width: 150px">
                                            <label>Voyage No</label>
                                            <input ng-model="new_application.voyage_no">         
                                        </md-input-container>

                                        <md-input-container>
                                            <label>Carrier</label>
                                            <input ng-model="new_application.carrier" >
                                        </md-input-container>
                                
                             </div>
                         </div>

                 </div>

                         <div layout="row">
                             <div layout="column">
                                        <md-input-container>
                                            <label>Port of Loading:</label>
                                            <input ng-model="new_application.port_air">
                                        </md-input-container>
                  
                                        <div layout-gt-xs="row">
                                                <div flex-gt-xs>
                                                <md-datepicker ng-model="date_air" ng-change="new_application.date_air = to_date(date_air)" md-placeholder="Date of Loading"></md-datepicker>
                                                </div>
                                            </div>              
                             </div>
                                   
                            <div layout="column" style="margin-left: 100px">
                                        <md-input-container>
                                                <label>Port of Loading</label>
                                                <input ng-model="new_application.port_sea" >
                                        </md-input-container>
                                        
                                        <div layout-gt-xs="row">
                                                <div flex-gt-xs>
                                                <md-datepicker ng-model="date_sea" ng-change="new_application.date_sea = to_date(date_sea)" md-placeholder="Date of Loading"></md-datepicker>
                                                </div>
                                        </div>
                                           

                            </div>
                            
                            <div layout="column" style="margin-left: 100px">
                                    <md-input-container>
                                        <label>Port of Loading</label>
                                        <input ng-model="new_application.port_postal" >
                                    </md-input-container>
                                    
                                    <div layout-gt-xs="row">
                                            <div flex-gt-xs>
                                             <md-datepicker ng-model="date_postal" ng-change="new_application.date_postal = to_date(date_postal)" md-placeholder="Date of Loading"></md-datepicker>
                                            </div>
                                    </div>
                                   
                            </div>
                         </div>
 <!---------------------------------------------------->
                                        <!-- Exporter -->

                    <div layout="row" ng-init="new_application.tin_no = user.data.tin_no; new_application.applicant_address = user.data.current_address;">
                        <md-input-container flex>
                            <label>Name of Exporter </label>
                            <input ng-model="new_application.name_exporter" required>
                        </md-input-container>   

                        <md-input-container class="md-block" flex-gt-sm>
                            <label> Address : </label>
                            <input ng-model="new_application.address_exporter" required>
                        </md-input-container>
                  </div>

                  <div> 
                        <md-input-container>
                            <label>Tax Identification Number: </label>
                            <input ng-model="new_application.tin_exporter" required>
                        </md-input-container>
                  </div>

                  <div layout="row">
                      <md-input-container class="md-block" flex-gt-sm>
                          <label>Exporter Contact Number</label>
                          <input ng-model="new_application.exporter_contact"required>
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm>
                          <label>Fax No</label>
                          <input ng-model="new_application.exporter_fax"required>
                      </md-input-container>
                  </div>

                                          <!-- Applicant/importer -->

                <hr class="m-t-40">
                
                <h4 class="col-blue-grey">
                    Applicant:
                </h4>
                <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm>
                       <label>Name of Importer</label>
                       <input ng-model="new_application.applicant" required>
                    </md-input-container>
    
                    <md-input-container class="md-block" flex-gt-sm>
                       <label>Contact Number</label>
                       <input ng-model="new_application.contact" required>
                    </md-input-container>
                </div>

                <div layout="row" ng-init="new_application.tin_no = user.data.tin_no; new_application.applicant_address = user.data.current_address;">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Address : </label>
                        <input ng-model="new_application.applicant_address" required>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                       <label>Fax No: </label>
                       <input ng-model="new_application.fax_no" required>
                    </md-input-container>

                </div>
                
                <div>
                        <md-input-container class="md-block" flex-gt-sm>
                                <label>Tax Identification Number: </label>
                                <input ng-model="new_application.tin_no" required>
                        </md-input-container>
                </div>
                 
     
                   
        
              
               
                
                <strong>Required Attachments :</strong>
                <div ng-init="new_application.attachments = [
                    {name:'Letter of Intent/Application'},
                    {name:'Payment of non-refundable application fee under Section 37 of PCSD AO 12'},
                    {name:'Personal Profile/Resume'},
                    {name:'Research/Project Proposal'},
                    {name:'Endorsement letter  from a recognized expert of a research or academic institution or conservation organization;'},
                    {name:' In case collection of wildlife is necessary, Free and Prior Informed Consent (FPIC) of Indigenous Peoples (IP), and/or prior clearance of the concerned Local Government Units (LGU), and in the case of protected areas, clearance from the Protected Area Management Board (PAMB), consent of individuals or associations with valid tenurial or other private rights to the area concerned, and/or clearance form other relevant agencies or institutions where the collection shall be made;'},
                    {name:'Affidavit of Undertaking by an individual proponent or a Memorandum of Agreement between the PCSD and a proponent-institution containing the following minimum terms'}
                    ] 
                    ">
                    <ol>
                        <li ng-repeat="x in new_application.attachments">
                            <cite ng-class="{'col-green':(x.url !== undefined)}">{{x.name}}</cite>
                            <i ng-hide="x.url == undefined" class="fa fa-check col-green"></i>
                            <i ng-show="x.url == undefined" class="fa fa-times col-red"></i>
                            <button class="col-blue" ng-click="change_attachment_index($index);showPrerenderedDialog($event,'upload_modal')">upload</button> 
                        </li>
                    </ol>

                    <strong ng-init="ia = new_application.attachments.length;ib = new_application.attachments.length + 1;ic = new_application.attachments.length + 2;id = new_application.attachments.length + 3;ie = new_application.attachments.length + 4;">
                        Other attachments </strong>
                        <cite class="col-grey">(Optional for attachments not stated above)</cite>
                    <div>
                        <input placeholder="File name" ng-model="new_application.attachments[ia].name" > 
                    </div>
                    <div>
                        <input placeholder="File name" ng-model="new_application.attachments[ib].name" > 
                    </div>
                    <div>
                        <input placeholder="File name" ng-model="new_application.attachments[ic].name" > 
                    </div>
                    <div>
                        <input placeholder="File name" ng-model="new_application.attachments[id].name" > 
                    </div>
                    <div>
                        <input placeholder="File name" ng-model="new_application.attachments[ie].name" > 
                    </div>
                   
                </div>
    
            </div>
    
            <hr class="m-t-20">
            <div ng-show=" is_loading " layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <md-button ng-hide=" is_loading " ng-disabled="form_online_application.$invalid" ng-click="submit_application(new_application,'Application for Wildlife Export/Re Export Certification','wtf')" 
                class="md-primary md-raised md-block" >
                <strong class="font-16">Submit Application</strong>
            </md-button>
        </div>

    </form>
    <!-- modals -->
    <div style="visibility: hidden" ng-include="'app/templates/modals/select/upload.html'" ></div>
</div> 