<div flex layout="column" md-whiteframe="3" ng-init=" initData('CR') " layout-padding="50" layout-margin class="md-card p-l-20 p-r-20">
    <form name="form_online_application" >
        <div flex layout-gt-xs="row" layout-xs="column">
            <div flex flex-gt-xs="15" layout-align="center center">
                <img src="images/pcsd_logo.png" class="p-t-5" style="width:100%;">
            </div>
            <div flex layout-align="center" class="m-l-20">
                <h4><strong>Republic of the Philippines</strong> <br>
                    <small>Republic Act 7611</small><br>
                    <small>PALAWAN COUNCIL for SUSTAINABLE DEVELOPMENT</small>
                </h4>
                Date: {{ date_now() | date : 'MMMM d, yyyy'}}
            </div>
        </div>

        <md-divider></md-divider>

        <!-- title -->
        <div flex class="p-t-10 p-b-10">
            <h3 class="col-blue-grey m-t-20 m-b-20">ONLINE APPLICATION FOR PERMIT TO PURCHASE/IMPORT CHAINSAW</h3>
        </div>
        
        <md-divider></md-divider>

        <div class="m-t-20" >

            <div flex>
                <h4>
                    NELSON P. DEVANADERA <br>
                    <small>Executive Director</small><br>
                    <small>Palawan Council for Sustainable Development Staff</small>
                </h4>
                 
                <br>
                <p ng-init="new_application.applicant = user.data.full_name; new_application.applicant_address = user.data.current_address; new_application.nature = '';">
                    <span class="m-r-20"></span>
                    I/We <input type="text" placeholder="applicant name" ng-model="new_application.applicant" required>, resident of 
                    <input type="text" placeholder="applicant address" ng-model="new_application.applicant_address" required>
                    , applies for a Permit to Purchase/Import Chainsaw.
                </p> 
                <p>
                    <span class="m-r-20"></span>
                    The requirements needed for my/our application is/are hereby submitted for your evaluation.
                </p>
                <p>
                    <span class="m-r-20"></span>
                    That the filing of this application does not authorize me/us to purchase and/or import chainsaw unit(s) until after the Permit has been issued.
                </p>
                <p>
                    <span class="m-r-20"></span>
                    I/We understood that any false representation or declaration embodied in this application or submitted requirements shall be a ground for the denial of this application without prejudice to the filing of appropriate cases.
                </p>


                <h4 class="col-blue-grey" ng-init="new_application.chainsaw = [{}]" flex>
                    Chainsaw: <md-button class="md-raised" ng-click="new_application.chainsaw.push({});">Add Chainsaw</md-button>
                </h4>
                <div>
                    <div ng-repeat="x in new_application.chainsaw"  flex layout-gt-sm="row" >
                        <div flex-gt-sm="5">
                            <i ng-if="new_application.chainsaw.length > 1" class="fa fa-trash pointer col-red" ng-click="new_application.chainsaw.splice(new_application.chainsaw.indexOf(x),1);"></i>
                            {{$index + 1}}.
                        </div>
    
                        <md-autocomplete
                            class="md-block" flex-gt-sm="30"
                                md-selected-item="new_application.chainsaw[new_application.chainsaw.indexOf(x)].brand"
                                md-search-text="brand"
                                md-search-text-change="new_application.chainsaw[new_application.chainsaw.indexOf(x)].brand = brand"
                                md-items="x in chainsaw_bran_list"
                                md-item-text="x"
                                md-min-length="0"
                                placeholder="Brand">
                            <md-item-template>
                                {{x}}
                            </md-item-template>
                        </md-autocomplete>
    
                        <md-input-container class="md-block" flex-gt-sm="10">
                            <label>Quantity</label>
                            <input type="number" min="1" max="99" ng-model="new_application.chainsaw[new_application.chainsaw.indexOf(x)].quantity" required>
                        </md-input-container>
    
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Details</label>
                            <input ng-model="new_application.collector_or_supplier.chainsaw[new_application.chainsaw.indexOf(x)].details" required>
                        </md-input-container>
    
                    </div>
                </div>

                <p>Purpose for Purchasing/Importing: <input ng-model="new_application.purpose"> </p>
                <p>Name of Seller/ Supplier: <input ng-model="new_application.supplier_name"> </p>
                <p>Address of Seller/ Supplier: <input ng-model="new_application.supplier_address"> </p>

                <p>If Imported:</p>
                <p>-Expected date and Time of arrival</p>
                <p>Or release from the Bureau of Customs: 
                    <md-datepicker ng-model="date_from_custom" ng-change="new_application.date_from_custom = to_date(date_from_custom)" md-placeholder="Date from Customs" md-open-on-focus></md-datepicker> 
                </p>
                <p>Import Entry Declaration from BSP: 
                    <md-datepicker ng-model="date_of_entry_bsp" ng-change="new_application.date_of_entry_bsp = to_date(date_of_entry_bsp)" md-placeholder="Date of entry" md-open-on-focus></md-datepicker> 
                </p>
    
                <hr>
    
                
                <strong>Required Attachments :</strong>
                <div ng-init="new_application.attachments = [
                    {name:'Affidavit of Legal Use'},
                    {name:'Business Permit from LGU(Mayors Permit)'},
                    {name:'Copy of Chainsaw Registration (COR)'},
                    {name:'Barangay Certificate/Clearance'},
                    {name:'Permit to Operate (PCA/DENR)'},
                    {name:'Barangay Resolution'},
                    {name:'Certificate from Head Office'},
                    {name:'Picture of Area'},
                    {name:'Copy of Land Title'},
                ]
                    ">
                    <ol>
                        <li ng-repeat="x in new_application.attachments">
                            <cite ng-class="{'col-green':(x.url !== undefined)}">{{x.name}}</cite>
                            <i ng-hide="x.url == undefined" class="fa fa-check col-green"></i>
                            <i ng-show="x.url == undefined" class="fa fa-times col-red"></i>
                            <button class="col-blue" ng-click="change_attachment_index($index);showPrerenderedDialog($event,'upload_modal')">upload</button>
                        </li>
                    </ol>

                    <strong ng-init="ia = new_application.attachments.length;ib = new_application.attachments.length + 1;ic = new_application.attachments.length + 2">
                        Other attachments </strong>
                        <cite class="col-grey">(Optional for attachments not stated above)</cite>
                    <div>
                        <input placeholder="File name" ng-model="new_application.attachments[ia].name" > 
                    </div>
                    <div>
                        <input placeholder="File name" ng-model="new_application.attachments[ib].name" > 
                    </div>
                    <div>
                        <input placeholder="File name" ng-model="new_application.attachments[ic].name" > 
                    </div>

                </div>
    
            </div>
    
            <hr class="m-t-20">
            <div ng-show=" is_loading " layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <md-button ng-hide=" is_loading " ng-disabled="form_online_application.$invalid" ng-click="submit_application(new_application,'Application for permit to purchase/import of chainsaw','ptp')" 
                class="md-primary md-raised md-block" >
                <strong class="font-16">Submit Application</strong>
            </md-button>
        </div>

    </form>

    <!-- modals -->
    <div style="visibility: hidden" ng-include="'app/templates/modals/select/upload.html'" ></div>
</div>