<div  class="md-dialog-container" id="contact_modal" > 

        <md-dialog aria-label="Contact">
            <form name="form_edit_contact">
                <md-toolbar class="bg-blue-grey">
                <div class="md-toolbar-tools m-t-10">
                    <strong> Edit Contact  </strong>
                </div>
                </md-toolbar>
                
                <md-dialog-content layout-padding="20">
    
                    <div layout-padding>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Password</label>
                            <input ng-model="editProfilePassword" type="password" required>
                        </md-input-container>
                    </div>
    
                    <div layout-gt-sm="row" ng-init="edit_contact = user.data.current_phone">
    
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Contact Number</label>
                            <input ng-model="edit_contact" required>
                        </md-input-container>

                    </div>
    
                </md-dialog-content>
    
                <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="close_dialog()">
                    close
                </md-button>
                <div ng-show=" is_loading " layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <md-button type="submit" ng-disabled="form_edit_contact.$invalid" ng-hide="is_loading" class="md-primary md-raised" ng-click="edit_profile('current_contact',edit_contact,editProfilePassword)">
                    save
                </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </div>