<div ng-controller="profile_links_controller">
        <div ng-if="!profileLink.readonly" ng-init="set_page_title('Profile Management - Edit Link');
                loadProfileLink();
                saveProfileLink=update;
                showRemoveButton=true">
                <div layout="row" layout-align="center center" ng-show="isDataLoading" style="height: 250px">
                        <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
                </div>
                <div ng-show="!isDataLoading"
                        ng-include="'/staff/app/profile_management/links/templates/profilelinkform.html'">
                </div>
        </div>
        <div ng-if="profileLink.readonly" 
                ng-include="'/staff/app/profile_management/links/view/view.html'"></div>
</div>