<div
ng-init="n.subject = 'CERTIFICATION FOR WILDLIFE IMPORT'; titles = ['Ms.','Mrs.','Mr.']; n.keywords = []; ">
	
	<h3 class="align-center">CERTIFICATION FOR WILDLIFE IMPORT</h3>
	<hr>
	<md-input-container class="md-block m-t-40">
	    <label>Certification No.</label>
	    <input ng-model="n.application_no" required>
	</md-input-container> 
	<br>

	<strong>Applicant Information</strong>
	<div layout>
		<md-input-container flex>
			<label>Last Name</label>
			<input ng-model="n.applicant.last_name" required>
		</md-input-container>
		<md-input-container class="md-block"  flex>
			<label>First Name</label>
			<input ng-model="n.applicant.first_name" required>
		</md-input-container>
		<md-input-container class="md-block"  flex>
			<label>Middle Name</label>
			<input ng-model="n.applicant.middle_name">
		</md-input-container>
		<md-input-container class="md-block"  flex>
			<label>Address</label>
			<input ng-model="n.applicant.address">
		</md-input-container>
		<input type="hidden"
			ng-value="n.applicant.full_name=n.applicant.first_name + ' ' + n.applicant.middle_name + ' ' + n.applicant.last_name">
	</div>

	<div>
		<!-- <md-input-container > -->
			<strong>Wildlife/Wildlife Derivatives to be Imported</strong>
			<table ng-init="n.species=n.species || [{}]">
				<tr ng-repeat="specy in n.species">
					<td>
						<md-input-container flex>
							<label>Species (Scientific Name/Common Name)</label>
							<md-tooltip direction="left">Species (Scientific Name/Common Name)</md-tooltip>														
							<input ng-model="n.species[$index].name" required>
						</md-input-container>
					</td>
					<td>
						<md-input-container flex>
							<label>Quantity</label>
							<input ng-model="n.species[$index].quantity" required>
						</md-input-container>
					</td>
					<td>
						<md-button class="md-fab md-mini" aria-label="Remove this row" 
							ng-click="n.species.splice($index, 1)" ng-if="n.species.length > 1">
							<md-tooltip md-direction="left">Remove Specy</md-tooltip>
							<i class="fa fa-remove" ></i>
						</md-button> 
					</td>
				</tr>
			</table>
			<md-button ng-click="n.species.push({})" class="md-primary md-raised">
				Add Row
			</md-button>
		<!-- </md-input-container> -->
	</div>
	<strong>Place of Origin</strong>	
	<div layout>
		<md-input-container flex>
			<label>Country</label>
			<input ng-model="n.origin.country" required></input>
		</md-input-container>
		<md-input-container flex>
			<label>City/State/Province</label>
			<input ng-model="n.origin.address"></input>
		</md-input-container>
	</div>
		
	<div>
		<md-input-container flex> 
		<label>Transportation Vehicle/Vessel</label>
		<md-select ng-model="n.transportation.type">
			<md-option ng-repeat="vessel in ['Aircraft', 'Seacraft', 'Courrier']" value="{{vessel}}">
				{{vessel}}
			</md-option>
			</md-select>
		</md-input-container>
		<md-input-container flex>
			<label>Date of Import</label>
			<md-tooltip direction="left">Date of Import</md-tooltip>														
			
			<md-datepicker 
			ng-change="n.import.date=to_date(import.date)"
			ng-model="import.date"
			md-tooltip="Date of Import"
			required></md-datepicker>
		</md-input-container>
		<md-input-container>
			<label>Port of Destination</label>
			<input ng-model="n.destination_port">
		</md-input-container>
		<md-input-container>
			<label>Date of Issuance of Certificate</label>
			<md-tooltip direction="left">Date of Issuance of Certificate</md-tooltip>														
			<md-datepicker 
				ng-model="issuance_date"
				ng-change="n.issuance_date=to_date(issuance_date)">

			</md-datepicker>
		</md-input-container>
	</div>

	<hr>
	<br>
	<strong>Payment</strong>
	<div layout>
		<md-input-container flex>
		    <label>Paid amount</label>
		    <input ng-model="n.paid_amount" >
		</md-input-container>
		<md-input-container flex>
		    <label>OR Number</label>
		    <input ng-model="n.paid_or_number" >
		</md-input-container>
		<md-input-container flex>
			<label>Date of Payment</label>
			<md-datepicker ng-model="paid_date"
				md-change="n.paid_date=to_date(paid_date)"
				md-open-on-focus>
			</md-datepicker>
		</md-input-container>
	</div>
	<hr>
	<br>
	<br>
	<strong>PREVIEW</strong>
	<br>
	<p> 
		<span class="m-l-50"></span>
		{{ n.line1 = 
			'This is to certify that ' + n.applicant.full_name + ' of ' + n.applicant.address + 
			', is authorized to import from ' + n.origin.address + ', ' + n.origin.country +
			', the following for commercial purposes only, provided, that a Non-CITES Export Certification ' + 
			'or equivalent permit has been secured from CITES Management Authority/' + n.origin.country + '.'
		}}
	</p>
	<style>.borderedTable tr td { border: 1px solid }</style>
	<table class="borderedTable" style="width: 100%">
			<tr style="text-align: center">
				<td>Species</td>
				<td>Quantity</td>
			</tr>
			<tr ng-repeat="specimen in n.species">
				<td>{{specimen.name}}</td>
				<td>{{specimen.quantity}}</td>
			</tr>
	</table>
	<br>
	<p>
		<span class="m-l-50"></span>
		{{ n.line2 = 
			'The above-mentioned ' + toString(n.species, "name") + ' shall be imported by ' + n.applicant.full_name +
			' on ' + get_full_date(n.import.date) + ' via ' + n.transportation.type + ' Vessel at ' + n.destination_port +
			' and have been verified as not included in Appendices I, II and III of Convention on International Trade ' +
			'in Endangered Species of Wild Fauna and Flora (CITES).'
		}}
	</p>

	<p>
		<span class="m-l-50"></span>
		{{
			n.line3 = 
			'Certification fee in the amount of Php ' + n.paid_amount + 
			' was paid under the Palawan Council for Sustainable ' +
			'Development (PCSD) Official Receipt No. ' + n.paid_or_number + ' dated ' + get_full_date(n.paid_date) + '.'
		}}
	</p>

	<p>
		<span class="m-l-50"></span>
		{{
			n.line4 = 
			'This Certification is not valid without the dry seal of the Palawan Council for 
			Sustainable Development or if ' +
			'contains erasures or altercation.'
		}}
	</p>
	
	<p>
		<span class="m-l-50"></span>
		{{
			n.line5 = 
			'Issued this ' + to_day_of_month(n.issuance_date) + ' day of ' + get_full_month_name(n.issuance_date) + 
			', ' + to_year(n.issuance_date) +
			' in Palawan Council for Sustainable Development Staff (PCSDS) Office, Sta. Monica, Puerto Princesa City.'
		}}
	</p>
</div>