<form name= "form_jaobudgetMOOE" id="formreset" ng-init="jaoBMOOE = {data : {}}" >
        <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                        <label>Month</label>
                        <input ng-model="jaoBMOOE.Month" maxlength="4" required>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm></md-input-container>
                <md-input-container class="md-block" flex-gt-sm></md-input-container>
        </div>


        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                    <label>Travelling Expenses - Local</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Travelling_Expenses" maxlength="4" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                    <label>ICT Training Expenses</label>
                    <input type = "number" ng-model="jaoBMOOE.data.ICT_Training" maxlength="4" required>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                        <label>Training Expenses</label>
                        <input type = "number" ng-model="jaoBMOOE.data.Training" maxlength="4" required>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                        <label>ICT Office Supplies</label>
                        <input type = "number" ng-model="jaoBMOOE.data.ICT_Office" maxlength="4" required>
                </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                    <label>Office Supplies Expenses</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Office_Supplies" maxlength="4" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                    <label>Accountable Forms Expenses</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Accountable_Forms" maxlength="4" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                    <label>Fuel, Oil and Lubricants Expenses</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Fuel_Oil" maxlength="4" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                    <label>Other Supplies and Materials Expenses</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Other_Supplies" maxlength="4" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                    <label>Water Expense</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Water_Expense" maxlength="4" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                    <label>Electricity Expense</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Electricity" maxlength="4" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                    <label>Postage and Courier Services</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Postage_and_Courier " maxlength="4" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                    <label>Mobile</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Mobile" maxlength="4" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                    <label>Landline</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Landline" maxlength="4" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Internet Subscription Expenses</label>
                <input type = "number" ng-model="jaoBMOOE.data.Internet_Subscription" maxlength="4" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                    <label>Cable, Satellite, Telegraph and Radio Expenses</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Cable_Satellite" maxlength="4" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Other Professional Services</label>
                <input type = "number" ng-model="jaoBMOOE.data.Other_Professional " maxlength="4" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                    <label>Janitorial Services</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Janitorial_Services" maxlength="4" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Security Services</label>
                <input type = "number" ng-model="jaoBMOOE.data.Security_Services" maxlength="4" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                    <label>Other General Services - ICT Services</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Other_General_Services_ICT" maxlength="4" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Building</label>
                <input type = "number" ng-model="jaoBMOOE.data.Building" maxlength="4" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                    <label>OOffice Equipment</label>
                    <input type = "number" ng-model="jaoBMOOE.data.OOffice_Equipment" maxlength="4" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Motor Vehicles</label>
                <input type = "number" ng-model="jaoBMOOE.data.Motor_Vehicles" maxlength="4" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                    <label>Repair and Maintenance - Furnitures and Fixtures</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Repair_Maintenance" maxlength="4" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Taxes, Duties and Licenses</label>
                <input type = "number" ng-model="jaoBMOOE.data.Taxes_Duties" maxlength="4" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                    <label>Fidelity Bond Premiums</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Fidelity_Bond" maxlength="4" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Insurance Expense</label>
                <input type = "number" ng-model="jaoBMOOE.data.Insurance" maxlength="4" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                    <label>Advertising Expenses</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Advertising" maxlength="4" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                    <label>Representation Expenses</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Representation" maxlength="4" required>
                </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Printing and Publication Expenses</label>
                <input type = "number" ng-model="jaoBMOOE.data.Printing" maxlength="4" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                    <label>Advertising Expenses</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Advertising" maxlength="4" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm>
                <label>Transportation and Delivery Expenses</label>
                <input type = "number" ng-model="jaoBMOOE.data.Transportation" maxlength="4" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                    <label>Rents - Building and Structures</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Rents_Building" maxlength="4" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm>
                <label>Rents - Living Quarter</label>
                <input type = "number" ng-model="jaoBMOOE.data.Rents_Living" maxlength="4" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                    <label>Library and Other Reading Materials Subscription</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Library" maxlength="4" required>
            </md-input-container>

            
        </div>
        
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                    <label>Other Maintenance and Other Operating Expeses</label>
                    <input type = "number" ng-model="jaoBMOOE.data.Other_Maintenance" maxlength="4" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                  
            </md-input-container>

        </div>
    
        <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                        <md-button type="submit" ng-click="jaoBudgetMOOE_add(jaobudget,jaoBMOOE)" class="md-raised md-block md-primary" >
                                Submit <!----ng-disabled="form_jaobudget.$invalid" -->
                        </md-button>
                </md-input-container>
        </div>
</form>