<div ng-include="'./app/templates/application/style.html'"></div>
<style type="text/css">
    .roman {
        font-family: 'Times New Roman', Times, serif;
    }
</style>
<div ng-init="currentItem = render_params.data;print(3000); " class="roman" style="margin:0.5in">
<!-- <div ng-controller="DummyChainsawRegistrationController" ng-init="currentItem=n;" class="roman" style="margin:0.5in"> -->

    <div ng-include="'./app/templates/templates/header.html'"></div>
    <hr>
    <p>
        <div class="align-center">
            <strong style="font-size: 24px">{{ currentItem.line1}}</strong><br>
            {{ currentItem.line2.toUpperCase() }}
        </div>
    </p>
    <div class="align-center">
        <div style="width:100%">
            {{currentItem.line3}}<br>
        </div>
    </div>
    <br>
    <div class="align-center" style="padding:0.25in; border:1px solid; margin-left:1in; margin-right: 2in">
            <b>{{ currentItem.line4}}</b><br>
            {{ currentItem.line5 }}
        </div>
        <br>	
    <div>
        <div ng-repeat="line in [6, 7, 8]">
            {{currentItem['line'+line]}}<br>
        </div>
    </div>
    <br>
    <div>
        <table>
            <tr>
                <td>Brand</td>
                <td>{{currentItem.chainsaw.brand}}</td>
                <td>Serial/Engine No.:</td>
                <td>{{currentItem.chainsaw.serial_number}}</td>
            </tr>
            <tr>
                <td>Engine Type and Horsepower:</td>
                <td>{{currentItem.chainsaw.horsepower}}</td>
                <td>PCSD Metal Seal No.:</td>
                <td>{{currentItem.chainsaw.metal_seal_number}}</td>
            </tr>
            <tr>
                <td>Issued on</td>
                <td>{{currentItem.issued_date}}</td>
                <td>at</td>
                <td>{{currentItem.issued_at}}</td>
            </tr>
            <tr>
                <td>Expiry Date</td>
                <td>{{currentItem.expiry_date}}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
    <div layout>
        <div style="width:60%">&nbsp;</div>
        <div>APPROVED:</div>
    </div>
    <div layout ng-controller="doc_ctrl_draft">
        <div style="width:60%">&nbsp;</div>

        <div>
            <div flex
                ng-init="currentItem.sign1 = (currentItem.sign1 == undefined) ? { name:'',designation:''} : currentItem.sign1;">
                <div ng-if="currentItem.sign1.signature != undefined;" layout="column" layout-align="center center">
                    <img ng-if="currentItem.sign1.signature != undefined" src="{{currentItem.sign1.signature}}"
                        alt="Signature1" width="auto" style="margin-bottom: -35px;">
                    <div class="align-center"> <strong> <ins>{{currentItem.sign1.name}}</ins> </strong> </div>
                    <div class="align-center"> {{currentItem.sign1.designation}} </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div>
        {{currentItem['line15']}}
    </div>
    <p>
        <div class="align-center">
           <i>{{currentItem['line16']}}</i>
        </div>
    </p>
    <br>
    <div>
        <div ng-repeat="line in [17, 18, 19]"><b>{{currentItem['line'+line]}}</b></div>
    </div>

    <div ng-include="'./app/templates/templates/footer.html'"></div>
</div>