<div ng-include="'./app/templates/application/style.html'"></div>
<div class="p-t-20 p-l-10" ng-controller="DummyLTPWildlifeController" ng-init="set_certificate($localStorage.params)">
    <div layout="row">
        <div flex layout-gt-xs="row" layout-xs="column">
            <div flex flex-gt-xs="15" layout-align="center center">
                <img src="./images/pcsdlogo.png" class="p-t-5" style="width:100%;">
            </div>
            <div flex layout-align="left" class="m-l-20">
                <div>&nbsp;</div>
                <h4><strong>Republic of the Philippines</strong> <br>
                    <small>(Republic Act 7611)</small><br>
                    <small>PALAWAN COUNCIL for SUSTAINABLE DEVELOPMENT</small>
                </h4>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="start">
        <div layout="column" layout-align="start">
            <div><strong style="text-decoration: underline">
                Certification No.: {{application.data.application.certificate_number}}
            </strong></div>
        </div>
        <div class="p-r-50"></div>
    </div>

    <h5 style="text-align: center; margin-top:35px;margin-bottom:45px;" >CERTIFICATION OF INSPECTION</h5>
    <br/>
    This is to certify that the <underlined>{{application.data.application.applicant.name}}</underlined>
    has undertaken the inspection of wildlife/wildlife derivative and by-products which was produced/gathered from 
    <underlined>{{application.data.application.origin}}</underlined> for the purposes of <underlined>{{application.data.application.purpose}}</underlined>. The species
    and its quantity of are as follows:
<br><br>
        <table class="borderedTable" style="width: 100%">
            <tr style="text-align: center; font:bold">
                <td>Species (Scientific Name/Common Names)</td>
                <td>Quantity</td>
                <td>Description (i.e. live, fresh,etc.)</td>
                <td>Remarks (i.e. kind, size, and no. of boxes etc.)</td>
            </tr>
            <tr ng-repeat="specy in application.data.application.species" style="text-align: justify">
                <td>{{specy.name}}</td>
                <td>{{specy.quantity}}</td>
                <td>{{specy.description}}</td>
                <td>{{specy.remarks}}</td>

            </tr>
        </table>
    <br/>
    <br/>
    This certification is being issued upon the request of Mr./Ms. 
    <underlined>{{application.data.application.applicant.name}}</underlined>
    to support his/her application for transport of the above-mentioned specimens to 
    <underlined>{{application.data.application.recipient.name}}</underlined> which 
    will be transported on 
    <underlined>{{application.data.application.transportation.date}}</underlined> through 
    <underlined>{{application.data.application.transportaion.means}}</underlined> 
    <br/>
    <br/>
    
    Issued this <underlined>{{date_now('DD')}}</underlined> day of <underlined>{{date_now('MMMM')}}</underlined>,
    <underlined>{{date_now('YYYY')}}</underlined> in Palawan Council for Sustainable Development Staff (PCSDS) Office
    in Sta. Monica, Puerto Princesa City.
    <br/>
    <br/>
    <div class="underlined" style="width: 15%" ng-repeat="i in [1, 2]">&nbsp;</div>
    <br/>
    <br/>
    <div ng-include="'./app/templates/application/attachments_template.html'"></div>
    <div ng-include="'./app/templates/application/stamp_template.html'"></div>
    </div>