<!-- <div ng-if="render_params.data != undefined" ng-init="set_application($localStorage.params);print();"></div> -->
<div class="p-t-20 p-l-10" ng-controller="WildlifeImportCertificationController" ng-init="loadCertification()">
    <div ng-include="'./app/templates/application/style.html'"></div>
    
            <div layout="row">
                <div flex layout-gt-xs="row" layout-xs="column">
                    <div flex flex-gt-xs="15" layout-align="center center">
                        <img src="./images/pcsdlogo.png" class="p-t-5" style="width:100%;">
                    </div>
                    <div flex layout-align="left" class="m-l-20">
                        <div>&nbsp;</div>
                        <h4><strong>Republic of the Philippines</strong> <br>
                            <small>(Republic Act 7611)</small><br>
                            <small>PALAWAN COUNCIL for SUSTAINABLE DEVELOPMENT</small>
                        </h4>
                    </div>
                </div>
            </div>
            <div layout="row">
                <div>
                    <div><strong>PCSD</strong></div>
                    <div>Wildlife Export</div>
                    <div>Certification No. {{application.data.application.certification_number}}</div>
                </div>
            </div>
    
            <br>
            <div style="text-align: center; font-size:20px">
                <strong><underlined>C E R T I F I C A T I O N</underlined></strong>
            </div>
            <br>
            
            <div>
                This is to certify that <b>{{application.data.application.importer.name}}</b> of 
                <b>{{application.data.application.importer.address}}</b>, is authorized to
                import from <b>{{application.data.application.origin.country}}</b>, the following for 
                {{application.data.application.purpose}} purposes
                only, provided, that a Non-CITES or equivalent permit has been secured from 
                CITES Management Authority/{{application.data.application.origin.country}}.
            </div>
            <br><br>
            
            <div layout="row" layout-align="center center">
                <table style="text-align: center; width: 30%">
                    <tr><td><b>SPECIES</b></td><td>&nbsp;</td><td><b>QUANTITY</b></td></tr>
                    <tr  ng-repeat="specy in application.data.application.species">
                        <td>{{specy.name}}/{{specy.description}}</td>
                        <td></td>
                        <td>{{specy.quantity}}</td>
                    </tr>
                </table>
            </div>
            <br>
            The above-mentioned {{toString(application.data.application.species, "description")}}
            shall be imported by {{application.data.application.importer.name}} via <b>Cargo Vessel at 
            {{getLoadingPort(application.data.application.import)}}</b> and have been verified as not included in Appendices I, II and III
            of the Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES).
            <br>
            <br>
            Certification fee in the amount of Php {{application.data.application.fee}} was paid under Palawan Council for Sustainable
            Development Staff Office Receipt No. {{application.data.application.official_receipt.number}}
            dated {{format(application.data.application.official_receipt.date, "MMMM DD, YYYY")}}.
            <br>
            <br>
            This certification is not valid without the dry seal of the Palawan Council for Sustainable Development or if contains erasures
            or altercation.
            <br>
            <br>
            Issued this {{format(application.data.application.issuance_date, "DD")}}th day of 
            {{format(application.data.application.issuance_date, "MMMM")}}
            {{format(application.data.application.issuance_date, "YYYY")}} at PCSD Building, Sta. Monica Heights,
            Puerto Princesa City, Palawan.
            <br>
            <br>
            Validated by ERED Staff
            <br><br><br>
            <div layout="row">
                <div>
                    <div class="underlined">{{application.data.application.validator.full_name.toUpperCase()}}</div>
                    <div><b>{{application.data.application.validator.position.toUpperCase()}}</b></div>
                    <div><b>PCSDS</b></div>
                </div>
                <div style="width: 65%"></div>
                <div>
                    <div class="underlined" style="text-align: center">{{pcsd.head.full_name.toUpperCase()}}</div>
                    <div style="text-align: center"><b>{{pcsd.head.position}}</b></div>
                    <div></div>
                </div>
            </div>
            
            <br><br>
            <div style="text-align: center; font-size:14px">
                <i>Vision</i>: Palawan, an innovative and dynamic global center of sustainable development<br>
                <i>Mission</i>: PCSDS as the driver of environmental conservation and inclusive development in 
                Palawan,<br> a biosphere reserve and science-for-sustainability site, guided by the Strategic Environment
                Plan
            </div>
        </div>