<div ng-controller = "ApprehensionController">
    <md-toolbar class="bg-teal">
        <h1 class="md-toolbar-tools">
            <md-button class="md-raised" ng-click="openApprehensionForm($event)">
                <i class="fa fa-plus col-green"></i>
                add new apprehension
            </md-button>
        </h1>
    </md-toolbar>
    
    <md-content style="height: {{iframeHeight - 150}}px;" layout-sm="coulumn" 
    layout-gt-sm ng-init="">
    
        <div flex>
            <table ng-table="apprehensionsTable" class="table" show-filter="true">
                <tr ng-repeat="apprehension in $data">
                    <td title="'Control Number'" sortable="'Control_Number'" filter="{Control_Number: 'text'}"> {{ apprehension.Control_Number }} </td>
                    <td title="'Control Title'" sortable="'Case_ID'" filter="{Case_ID: 'text'}"> {{ apprehension.Case_ID }} </td>
                    <td title="'Violations '" sortable="'Violations'" filter="{Violations: 'text'}"> {{ apprehension.Violations.join(',') }} </td>
                    <td title="'Month'" sortable="'Month'" filter-data="Months" filter="{ Month:'select' }"> {{ Months[apprehension.Month - 1].title }} </td>
                    <td title="'Day'" sortable="'Day'"> {{ apprehension.Day}} </td>
                    <td title="'Year'" sortable="'Year'" filter="{Year:'text'}"> {{ apprehension.Year}} </td>
                    <td title="'AO Sitio'" sortable="'AO_Sitio'" filter="{AO_Sitio:'text'}"> {{ apprehension.AO_Sitio}} </td>
                    <td title="'AO Barangay'" sortable="'AO_Barangay'" filter="{AO_Barangay:'text'}"> {{ apprehension.AO_Barangay}} </td>
                    <td title="'AO Municipality'" sortable="'AO_Municipality'" filter="{AO_Municipality:'text'}"> {{ apprehension.AO_Municipality}} </td>
                    <td title="'PA Sitio'" sortable="'PA_Sitio'" filter="{PA_Sitio:'text'}"> {{ apprehension.PA_Sitio}} </td>
                    <td title="'PA Barangay'" sortable="'PA_Barangay'" filter="{PA_Barangay:'text'}"> {{ apprehension.PA_Barangay}} </td>
                    <td title="'PA Municipality'" sortable="'PA_Municipality'" filter="{PA_Municipality:'text'}"> {{ apprehension.PA_Municipality}} </td>
                    <td title="'Apprehending Agency'" sortable="'Apprehending_Agency'" filter="{Apprehending_Agency:'text'}"> {{ apprehension.Apprehending_Agency}} </td>
                    <td title="'Remarks'" sortable="'Remarks'" filter="{Remarks:'text'}"> {{ apprehension.Remarks}} </td>
                    
                    <!-- <td filter="{First_Name: 'text'}" title="'First Name'" sortable="'First_Name'"> {{ x.First_Name }} </td>
                    <td filter="{Last_Name: 'text'}" title="'Last Name'" sortable="'Last_Name'"> {{ x.Last_Name }} </td>
                    <td filter-data="dropDownSelect.Project_Type" filter="{ Project_Type: 'select'}" title="'Project Type'" >  {{ x.Project_Type }} </td>
                    <td filter="{address: 'text'}" title="'Address'" >  {{ x.address }} </td>
                    <td filter-data="dropDownSelect.Municipality" filter="{ Municipality: 'select'}" title="'Municipality'" >  {{ x.Municipality }} </td>
                    <td filter-data="dropDownSelect.Issued_Year" filter="{ Issued_Year: 'select'}" title="'Issued Year'" sortable="'Issued_Year'"> {{ x.Issued_Year }} </td>
                    <td filter-data="dropDownSelect.Issued_Month" filter="{ Issued_Month: 'select'}" title="'Issued Month'" > {{ x.Issued_Month }} </td>
                    <td title="'Issued Day'" > {{ x.Issued_Day }} </td>
                    <td filter="{Validity_Date: 'text'}" title="'Validity Date'" sortable="'Validity_Date'"> {{ x.Validity_Date }} </td> 
                </tr>
            </table>
        </div>
    </md-content>
    
    <!-- modal -->
    <!-- <div ng-include="'./app/pages/database/modals/addWSUP.html'" ></div> -->
</div>
