<div ng-controller="CriminalCasesController">
    <md-toolbar class="bg-teal">
      <h1 class="md-toolbar-tools">
        <md-button class="md-raised" ng-click="openForm($event)">
          <i class="fa fa-plus col-green"></i>
          add new criminal case
        </md-button>
        <md-button class="md-raised" ng-click="refreshList()">
          <i class="fa fa-refresh col-green"></i>
            clear filter
        </md-button>
      </h1>
    </md-toolbar>
  
    <md-content
      style="height: {{ iframeHeight - 150 }}px;"
      layout-sm="coulumn"
      layout-gt-sm
      ng-init=""
    >
      <div flex>
        <table ng-table="criminalCasesTable" class="table" show-filter="true">
          <tr ng-repeat="criminalCase in $data">
            <td
              title="'Case Number'"
              sortable="'Criminal_Case_Number'"
              filter="{Criminal_Case_Number: 'text'}"
            >
              {{ criminalCase.Criminal_Case_Number }}
            </td>
            <td
              title="'Date Filed'"
              sortable="'Date_Filed'"
              filter="{Date_Filed: 'text'}"
            >
              <div style="width:90px">{{ criminalCase.Date_Filed }}</div>
            </td>
            <td
              title="'Plaintiff'"
              sortable="'Plaintiff'"
              filter="{Plaintiff: 'text'}"
            >
            <div style="width:175px">{{ criminalCase.Plaintiff }}</div>
            </td>
            <td
              title="'Accused'"
              sortable="'Accused'"
              filter="{Accused: 'text'}"
            >
            <div style="width:175px">{{ criminalCase.Accused }}</div>
            </td>
            <td
              title="'NPS Number'"
              sortable="'NPS_Number'"
              filter="{NPS_Number: 'text'}"
            >
              {{ criminalCase.NPS_Number }}
            </td>
            <td
              title="'Search Warrant'"
              sortable="'Search_Warrant'"
              filter="{Search_Warrant: 'text'}"
            >
              {{ criminalCase.Search_Warrant }}
            </td>
            <td
              title="'Bail Amount'"
              sortable="'Bail_Amount'"
              filter="{Bail_Amount: 'text'}"
            >
              {{ criminalCase.Bail_Amount }}
            </td>
            <td
              title="'Complainant'"
              sortable="'Complainant'"
              filter="{Complainant: 'text'}"
            >
              {{ criminalCase.Complainant }}
            </td>
            <td
              title="'Agency Filed'"
              sortable="'Agency_Filed'"
              filter="{Agency_Filed: 'text'}"
            >
            <div style="width:175px">{{ criminalCase.Agency_Filed }}</div>
            </td>
            <td
              title="'Court Raffled'"
              sortable="'Court_Raffled'"
              filter="{Court_Raffled: 'text'}"
            >
              {{ criminalCase.Court_Raffled }}
            </td>
            <td
              title="'Respondents'"
              sortable="'Respondents'"
              filter="{Respondents: 'text'}"
            >
              <a href="#" ng-click="viewRepondents($event, criminalCase.Respondents)">View</a>
            </td>
            <td
              title="'Violations '"
              sortable="'Violations'"
              filter="{Violations: 'text'}"
            >
            <div style="width: 170px">
              {{ criminalCase.Violations }}
            </div>
            </td>
            <td
              title="'Apprehended Items'"
              sortable="'Apprehended_Items'"
              filter="{Apprehended_Items:'text'}"
            >
              {{ criminalCase.Apprehended_Items }}
            </td>
            <td
              title="'Other Details'"
              sortable="'Other_Details'"
              filter="{Other_Details:'text'}"    
              style="padding-left: 10px"     
            >
              <div style="width: 250px" ng-if="row[criminalCase.id].shouldCollapse">{{ firstNWords[criminalCase.id] }}</div>
              <div style="width: 250px" ng-if="!row[criminalCase.id].shouldCollapse">{{ criminalCase.Other_Details }}</div>

              <!-- <a href='#' ng-if="criminalCase.firstNWords.includes('...')" ng-click="expandDetails(criminalCase.Other_Details)">View More</a> -->
              <a href='' ng-if="row[criminalCase.id].shouldCollapse" ng-click="$event.preventDefault();expand(row[criminalCase.id])">View More</a>
              <a href='' ng-if="!row[criminalCase.id].shouldCollapse" ng-click="$event.preventDefault();collapse(row[criminalCase.id])">View Less</a>

            </td>
            <td
              title="'Conveyances'"
              sortable="'Conveyances'"
              filter="{Conveyances:'text'}"
            >
              {{ criminalCase.Conveyances }}
            </td>
            <td
              title="'Market Value'"
              sortable="'Market_Value'"
              filter="{Market_Value:'text'}"
            >
              {{ criminalCase.Market_Value }}
            </td>
            <td
              title="'Disposition'"
              sortable="'Disposition'"
              filter="{Disposition:'text'}"
            >
              {{ criminalCase.Disposition }}
            </td>
            <td
              title="'Apprehension Address'"
              sortable="'Apprehension_Address'"
              filter="{Apprehension_Address:'text'}"
            >
              {{ criminalCase.Apprehension_Address }}
            </td>
            <td
              title="'Apprehension Date'"
              sortable="'Apprehension_Date'"
              filter="{Apprehension_Date:'text'}"
            >
              {{ criminalCase.Apprehension_Date }}
            </td>
            <td
              title="'Apprehending Agency'"
              sortable="'Apprehending_Agency'"
              filter="{Apprehending_Agency:'text'}"
            >
              {{ criminalCase.Apprehending_Agency }}
            </td>
            <td
              title="'Apprehending Officers'"
              sortable="'Apprehending_Officers'"
              filter="{Apprehending_Officers:'text'}"
            >
              {{ criminalCase.Apprehending_Officers }}
            </td>
            <td
              title="'Form Filing'"
              sortable="'Form_of_Filing'"
              filter="{Form_of_Filing:'text'}"
            >
              {{ criminalCase.Form_of_Filing }}
            </td>
            <td
              title="'Court Status'"
              sortable="'Court_Status'"
              filter="{Court_Status:'text'}"
            >
              {{ criminalCase.Court_Status }}
            </td>
            <td
              title="'Prosecutor Status'"
              sortable="'Prosecutor_Status'"
              filter="{Prosecutor_Status:'text'}"
            >
              {{ criminalCase.Prosecutor_Status }}
            </td>
            <td
              title="'Fiscals Resolution Date'"
              sortable="'Fiscals_Resolution_Date'"
              filter="{Fiscals_Resolution_Date:'text'}"
            >
              {{ criminalCase.Fiscals_Resolution_Date }}
            </td>
            <td
              title="'Decision Date'"
              sortable="'Decision_Date'"
              filter="{Decision_Date:'text'}"
            >
            <div style="width:90px">{{ criminalCase.Decision_Date }}</div>
            </td>
            <td
              title="'Deciding Agency'"
              sortable="'Deciding_Agency'"
              filter="{Deciding_Agency:'text'}"
            >
              {{ criminalCase.Deciding_Agency }}
            </td>
            <td
              title="'Decision'"
              sortable="'Decision'"
              filter="{Decision:'text'}"
            >
              {{ criminalCase.Decision }}
            </td>
            <td
              title="'Receipt Date'"
              sortable="'Receipt_Date'"
              filter="{Receipt_Date:'text'}"
            >
            <div style="width:90px">{{ criminalCase.Receipt_Date }}</div>
            </td>
            <td title="'Penalty'" sortable="'Penalty'" filter="{Penalty:'text'}">
              {{ criminalCase.Penalty }}
            </td>
            <td title="''">
              <md-button
                class="md-raised"
                ng-click="openCriminalCaseFormForUpdating($event, criminalCase)"
              >
                <i class="fa fa-plus col-green"></i>
                EDIT
              </md-button>
            </td>
          </tr>
        </table>
      </div>
    </md-content>
    <div ng-include="'./app/pages/database/modals/respondentList.html'"></div>
    <div ng-include="'./app/pages/database/modals/criminalCaseRegistrationForm.html'"></div>
  </div>
  
  