
<div class="md-dialog-container" id="info_modal" > 

	<md-dialog aria-label="Information">
		<md-toolbar class="bg-teal">
		  <div class="md-toolbar-tools m-t-10">
		    <strong> Permitting Informations  </strong>
		  </div>
		</md-toolbar>

		<md-dialog-content layout-padding="20">

			<h3>BRAIN INFORMATION</h3>

		</md-dialog-content>

		<md-dialog-actions layout="row">
		  <span flex></span>
		  <md-button ng-click="close_dialog()">
		   close
		  </md-button>
		</md-dialog-actions>
	</md-dialog>
</div>