
<div class="md-dialog-container" id="login_modal" > 

	<md-dialog aria-label="Register Applicant">
		<md-toolbar class="bg-blue">
		  <div class="md-toolbar-tools m-t-10">
		    <strong> Applicant Login </strong>
		  </div>
		</md-toolbar>

		<md-dialog-content layout-padding="20" >

			<form name="form_login" ng-init="login = {}" >
					
				<md-input-container class="md-block" flex-gt-sm>
					<label>Email</label>
					<input type="email" ng-model="login.name" required>
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Password</label>
					<input ng-model="login.password" type="password" required>
				</md-input-container>

			

		</md-dialog-content>

		<md-dialog-actions layout="column">
		  	<div layout>
				<span flex></span>
				  <div ng-show=" is_loading " layout="row" layout-sm="column" layout-align="space-around">
					  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
				  </div>
				  <md-button ng-hide=" is_loading " type="submit" ng-disabled="form_login.$invalid" ng-click="userLogin(login);" class="md-raised md-block md-primary" >
					 Login
				  </md-button>
			</form>
	  
				  <md-button class="md-fab md-mini bg-red" aria-label="Gmail" ng-click="google_login()">
					  <i class="fa fa-google"></i>
				  </md-button>
	  
				  <md-button ng-click="close_dialog()">
					  close
				  </md-button>
			</div>	

			<div layout>
				<md-button ng-hide="viaMobile" class="md-fab md-mini bg-green" aria-label="phone" ng-click="phone_login();">
					<i class="fa fa-mobile"></i>
				</md-button>

				<form ng-if="viaMobile" layout name="form_phone_verification" >
					<md-input-container class="md-block m-r-10" flex-gt-sm>
						<label>Verification code</label>
						<input ng-model="verificationCode" minlength="6" required />
					</md-input-container>
					<md-button type="submit" ng-disabled="form_phone_verification.$invalid" ng-click="submit_phone_verification_code(verificationCode);viaMobile = true;" class="md-raised md-block md-primary m-r-10" >
						Submit Verification Code
					</md-button>
				</form>
				
				<div id="recaptcha-container"></div>
			</div>
			<cite ng-show="viaMobile" class="font-11">Complete captcha to send SMS verification code.</cite>
			<br>
			<md-divider></md-divider>
			<strong>Guide:</strong>
			<md-divider></md-divider>
			<cite>
				You can choose either <br>
				"email password", "Gmail", <br>		
				or "SMS" authentication.
			</cite>
			<br>
			<p>
				<strong>email password</strong> - click register and enter your email with desired <br>
				password and continue to your profile.
			</p>
			<p>
				<strong>Gmail</strong> - click the red "G" button, a pop-up will apear redirecting you <br>
				to google account login.
			</p>
			<p>
				<strong>SMS</strong> - click the green "phone icon" button, <br>
				submit your mobile phone number, <br>
				complete captcha and wait for SMS containing a verification code, <br>
				submit the received code and complete your profile.
			</p>
		</md-dialog-actions>
	</md-dialog>
</div>