<md-radio-group ng-model="dataSelector" ng-change="filter_incoming(dataSelector)" layout="row">
    <md-radio-button value="" class="md-primary">All Transaction</md-radio-button>
    <md-radio-button value="0"> New </md-radio-button>
    <md-radio-button value="1"> Received </md-radio-button>
    <md-radio-button value="2"> Rejected </md-radio-button>
    <md-radio-button value="3"> Accepted </md-radio-button>
    <md-radio-button value="4"> Approved </md-radio-button>
    <md-radio-button value="5"> Recomended </md-radio-button>
    <md-radio-button value="6"> Acknowledged </md-radio-button>
</md-radio-group>

<table ng-table="tbl_incoming" class="table" show-filter="true">
    <tr ng-repeat="x in $data track by $index " class="pointer" ng-click="open_single(x,$vent)" ng-mouseover="update_single(x)">
        <td title="'id'" sortable="'id'"> {{x.id}} </td>
        <td title="'Date'" filter="{date : 'text'}" > {{x.date.split(' ')[0]}} </td>
        <td title="'User'" filter="{'user.data.full_name' : 'text'}"> {{x.user.data.full_name}} </td>
        <td title="'Name'" > {{ x.name }} </td>
        <td title="'Status'" > 
          <strong ng-class=" {'col-green' : (x.status == 0), 'col-blue' : (x.status == 1), 'col-red' : (x.status == 2),
                'col-teal' : (x.status == 3),'col-brown' : (x.status == 4),'col-indigo' : (x.status == 5),'col-deep-orange' : (x.status == 6) } ">
            {{ getTransactionStatus(x.status) }}
          </strong> 
        </td>
    </tr>
</table>


  <div style="visibility: hidden">
    <div class="md-dialog-container" id="receiveSingleTransaction">
      <md-dialog layout-padding layout="column" layout-align="center center">
        <md-dialog-content>
          <div class="md-dialog-content" ng-hide="application == {} "  layout="column" layout-align="center center">
            <!-- LTP template -->
            <div ng-show="application.name == 'Application for Local Transport Permit'">
                <div ng-include="'app/templates/application/ltp.html'"></div>
            </div>

            <div ng-if="application.status == 0" ng-show="validate_user([5]) && application !== ''">
                <md-button class="md-warn md-raised" ng-click="rejectApplication(application,$event)" >Reject</md-button>
                <md-button class="md-primary md-raised" ng-disabled="is_single_loading" ng-if="application.status == 0" ng-click="receive_single(application)" >Receive</md-button>    
            </div>

            <div ng-show="is_single_loading" layout="row" layout-sm="column" layout-align="space-around">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
          </div>
          <!-- loading -->
          <div ng-show=" application == {} " layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
        </md-dialog-content>

      </md-dialog>
    </div>
  </div>