

<md-input-container class="md-block" flex-gt-sm="30">
    <label>Filter</label>
    <md-select ng-model="dataSelector" ng-change="filter_incoming(dataSelector)" >
      <md-option value="">All Transaction</md-option>
      <md-option value="0">New</md-option>
      <md-option value="1">Received</md-option>
      <md-option value="2">Rejected</md-option>
      <md-option value="3">Accepted</md-option>
      <md-option value="4">Approved</md-option>
      <md-option value="5">Recomended</md-option>
      <md-option value="6">Acknowledged</md-option>
      <md-option value="7">Used</md-option>
    </md-select>
</md-input-container>

<table ng-table="tbl_incoming" class="table" show-filter="true">
    <tr ng-repeat="x in $data | orderBy : 'status' track by $index " class="pointer" ng-click="open_single(x,$vent)" ng-mouseover="update_single(x)">
        <td title="'id'" sortable="'id'"> {{x.id}} </td>
        <td title="'Date'" filter="{date : 'text'}" sortable="'date'"> {{x.date.split(' ')[0]}} </td>
        <td title="'User'" filter="{'user.data.full_name' : 'text'}"> {{x.user.data.full_name}} </td>
        <td title="'Name'" > {{ x.name }} </td>
        <td title="'Status'" > 
          <strong ng-class=" {'col-green' : (x.status == 0), 'col-blue' : (x.status == 1), 'col-red' : (x.status == 2),
                'col-teal' : (x.status == 3),'col-brown' : (x.status == 4),'col-indigo' : (x.status == 5),'col-deep-orange' : (x.status == 6) } ">
            {{ getTransactionStatus(x.status) }}
          </strong> 
        </td>
    </tr>
</table>


  <div style="visibility: hidden">
    <div class="md-dialog-container" id="receiveSingleTransaction">
      <md-dialog layout-padding layout="column" layout-align="center center">
        <md-dialog-content>
          <div class="md-dialog-content" ng-hide="application == {} "  layout="column" layout-align="center center">
            
            <!-- Templates -->
            <div ng-repeat=" x in application_templates" ng-show="application.name == x.name">
                <div ng-include="x.url"></div>
                <hr>
                <div ng-include="x.action"></div>
            </div>

            <div ng-if="application.status == 0" ng-show="validate_user([5]) && application !== ''">
                <md-button class="md-warn md-raised" ng-click="rejectApplication(application,$event)" >Reject</md-button>
                <md-button class="md-primary md-raised" ng-disabled="is_single_loading" ng-if="application.status == 0" ng-click="receive_single(application)" >Receive</md-button>    
            </div>

            <div ng-show="is_single_loading" layout="row" layout-sm="column" layout-align="space-around">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
          </div>
          <!-- loading -->
          <div ng-show=" application == {} " layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
        </md-dialog-content>

      </md-dialog>
    </div>
  </div>