<md-radio-group ng-model="dataSelector" ng-change="filter_incoming(dataSelector)" layout="row">
    <md-radio-button value="" class="md-primary">All Transaction</md-radio-button>
    <md-radio-button value="0"> New </md-radio-button>
    <md-radio-button value="1"> Received </md-radio-button>
</md-radio-group>

<table ng-table="tbl_incoming" class="table" show-filter="true">
    <tr ng-repeat="x in $data track by $index " class="pointer" ng-click="open_single(x,$vent)" ng-mouseover="update_single(x)">
        <td title="'id'" sortable="'id'"> {{x.id}} </td>
        <td title="'Date'" filter="{date : 'text'}" > {{x.date.split(' ')[0]}} </td>
        <td title="'User'" filter="{'user.data.full_name' : 'text'}"> {{x.user.data.full_name}} </td>
        <td title="'Name'" > {{ x.name }} </td>
        <td title="'Status'" > 
          <strong ng-class=" {'col-green' : (x.status == 0), 'col-blue' : (x.status == 1), 'col-red' : (x.status == 2),
                'col-teal' : (x.status == 3) } ">
            {{ getTransactionStatus(x.status) }}
          </strong> 
        </td>
    </tr>
</table>


  <div style="visibility: hidden">
    <div class="md-dialog-container" id="receiveSingleTransaction">
      <md-dialog layout-padding layout="column" layout-align="center center">

        <div ng-hide="opened_single == {} " layout="column" layout-align="center center">
            <h2>{{opened_single.name}}</h2>
            <hr>
            <strong class="col-grey">Date : </strong> {{ opened_single.date.split(' ')[0] }} 
            <hr>
            <strong class="col-grey">Applicant : </strong> {{ opened_single.user.data.full_name }} 
            <hr>

            <div ng-if="opened_single.status > 0" ng-init="staff = opened_single.data.received.staff; " >
              <strong class="col-grey">Received by : </strong> {{ staff.data.first_name }} {{ staff.data.middle_name }} {{ staff.data.last_name }} 
              <br>
              Receive Date : {{opened_single.data.received.date.split(' ')[0] | date}}
              <hr>
            </div>

            <div ng-if="opened_single.status == 2 " ng-init="staff = opened_single.data.rejected.staff; ">
              <strong class="col-grey">Rejected by : </strong> {{ staff.data.first_name }} {{ staff.data.middle_name }} {{ staff.data.last_name }} 
              <br>
              Date of Rejection : {{opened_single.data.rejected.date.split(' ')[0] | date}}
              <hr>
            </div>

            <div ng-if="opened_single.status == 3 " ng-init="staff = opened_single.data.accepted.staff; ">
              <strong class="col-grey">Accepted by : </strong> {{ staff.data.first_name }} {{ staff.data.middle_name }} {{ staff.data.last_name }} 
              <br>
              Accept Date : {{opened_single.data.rejected.date.split(' ')[0] | date}}
              <hr>
            </div>

            <md-button ng-disabled="is_single_loading" ng-if="opened_single.status == 0" ng-click="receive_single(opened_single)" >Receive</md-button>

            <div ng-show="is_single_loading" layout="row" layout-sm="column" layout-align="space-around">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
        
        <div ng-show=" opened_single == {} " layout="row" layout-sm="column" layout-align="space-around">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

      </md-dialog>
    </div>
  </div>