
<div layout="row" ng-init="invalidate_my_transactions();">

    <md-content flex="30" ng-style="{ height: (iframeHeight - 195) + 'px' }">
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="x in my_transactions" ng-click="set_application(x)">
                <div class="md-list-item-text" layout="column">
                    <h3>No. {{x.id}} - {{ x.date.split(' ')[0] }}</h3>
                    <h4>{{ x.name }}</h4>
                    <p>{{ x.user.data.full_name }}</p>
                </div>
                <md-divider ></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
    
    <md-content ng-if="application !== undefined" flex ng-style="{ height: (iframeHeight - 195) + 'px' }">
        
        <!-- Templates -->
        <div ng-repeat=" x in application_templates" ng-show="application.name == x.name">
            <div ng-include="x.url"></div>
            <md-divider class="m-t-20 m-b-10"></md-divider>
            <div ng-include="x.action"></div>
        </div>


    </md-content>
</div>