<style>
    #searchBox {
      padding: 7px;
      font-size: 18px;
      border: none;
    }
  
    #searchButton {
      float: right;
      padding: 7px 10px;
      margin-right: 16px;
      background: #d7d7d7;
      font-size: 18px;
      border: none;
      cursor: pointer;
      border-radius: 1px;
    }
  </style>
  <div ng-controller="operation_controller" ng-init="set_page_title('Operations List');loadOperations()">
    <md-toolbar class="bg-darkgreen">
      <h1 class="md-toolbar-tools">
        <md-button class="md-raised" ng-click="refreshList()">
          <i class="fa fa-refresh col-green"></i>
          clear filter
        </md-button>
      </h1>
    </md-toolbar>
    <md-content style="height: {{ iframeHeight - 150 }}px;" layout-sm="column" layout-gt-sm ng-init="">
      <div flex>
        <table ng-table="operationsTable" class="table" show-filter="true">
          <tr ng-repeat="operation in $data track by operation.id">
            <td title="'Operation No.'" sortable="'operation_no'" filter="{operation_no: 'text'}">
              {{ operation.ooeration_no }}
            </td>
            <td title="'Title'" sortable="'title'" filter="{title: 'text'}">
              {{ operation.title }}
            </td>
            <td title="'Description'" sortable="'description'" filter="{description: 'text'}">
              {{ operation.description }}
            </td>
            <td title="'Location'" sortable="'location'" filter="{location: 'text'}">
              {{ operation.location }}
            </td>
            <td title="'Remarks'" sortable="'remarks'" filter="{remarks: 'text'}">
              {{ operation.remarks }}
            </td>
            <td title="'Date of Operation'" sortable="'date'" filter="{date: 'text'}">
              {{ to_date(operation.date) }}
            </td>
  
            <td title="''">
              <md-button class="md-raised" ng-click="loadViewPage(operation)">
                <i class="fa fa-plus col-green"></i>
                VIEW
              </md-button>
            </td>
          </tr>
        </table>
      </div>
    </md-content>
  </div>