<div ng-controller="SUPMonitoringController" ng-init="n.subject = 'CHAINSAW SPECIAL USE PERMIT MONITORING REPORT'; 
    n.keywords = [];" class="roman">
    <h3 class="align-center">{{n.subject}}</h3>
    <hr>
    <div layout>
        <div style="width:75%"></div>
        <md-input-container flex>
            <label>Monitoring Date:</label>
            <md-datepicker md-hide-icons="calendar" ng-model="monitoring_date"
                ng-change="n.monitoring_date=to_date(monitoring_date)"></md-datepicker>
        </md-input-container>
    </div>
    <div class="align-center"><h4>CHAINSAW SPECIAL USE PERMIT</h4></div>
    <style>
        td {
            padding-right: 5px
        }
    </style>
    <ol>
        <li>Project Information:<br>
            <table>
                <tr>
                    <td>Name of Proponent</td>
                    <td>:</td>
                    <td>
                        <md-input-container flex>

                            <input ng-model="n.proponent_name" ng-blur="n.keywords[0]=n.proponent_name">
                        </md-input-container>
                    </td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>:</td>
                    <td>
                        <md-input-container flex>

                            <textarea ng-model="n.address"></textarea>
                        </md-input-container>
                    </td>
                </tr>
                <tr>
                    <td>Coordinates</td>
                    <td>:</td>
                    <td>
                        <md-input-container flex>

                            <input ng-model="n.coordinates">
                        </md-input-container>
                    </td>
                </tr>
                <tr>
                    <td>Certificate of Registration Number</td>
                    <td>:</td>
                    <td>
                        <md-input-container flex>

                            <input ng-model="n.registration_number" ng-blur="n.keywords[1]=n.registration_number">
                        </md-input-container>
                    </td>
                </tr>
                <tr>
                    <td>Brand</td>
                    <td>:</td>
                    <td>
                        <md-input-container flex>

                            <input ng-model="n.brand">
                        </md-input-container>
                    </td>
                </tr>
                <tr>
                    <td>Serial Number</td>
                    <td>:</td>
                    <td>
                        <md-input-container flex>

                            <input ng-model="n.serial_number">
                        </md-input-container>
                    </td>
                </tr>
                <tr>
                    <td>Metal Seal Number</td>
                    <td>:</td>
                    <td>
                        <md-input-container flex>

                            <input ng-model="n.metal_seal_number">
                        </md-input-container>
                    </td>
                </tr>
                <tr>
                    <td>Place of Origin</td>
                    <td>:</td>
                    <td>
                        <md-input-container flex>
                            <input ng-model="n.place_of_origin">
                        </md-input-container>
                    </td>
                </tr>
                <tr>
                    <td>Place of Destination</td>
                    <td>:</td>
                    <td>
                        <md-input-container flex>
                            <input ng-model="n.place_of_destination">
                        </md-input-container>
                    </td>
                </tr>
                <tr>
                    <td>Date Issued</td>
                    <td>:</td>
                    <td>
                        <md-input-container flex>
                            <md-datepicker md-hide-icons="calendar" ng-model="date_issued"
                                ng-change="n.date_issued=to_date(date_issued)"></md-datepicker>
                        </md-input-container>
                    </td>
                </tr>
                <tr>
                        <td>Validity Period</td>
                        <td>:</td>
                        <td>
                            <md-input-container flex>
                                <md-datepicker md-hide-icons="calendar" ng-model="valid_until"
                                    ng-change="n.valid_until=to_date(valid_until)"></md-datepicker>
                            </md-input-container>
                        </td>
                    </tr>
            </table>
        </li>
        <li>
            Result of Monitoring:
            <ol start="a">
                <li>Monitoring on Compliance to the Terms and Conditions
                    <table>
                        <tr>
                            <td rowspan="2">TERMS AND CONDITIONS</td>
                            <td colspan="2">STATUS OF COMPLIANCE</td>
                            <td rowspan="2">PROOF/BASIS</td>
                            <td rowspan="2">REMARKS/RECOMMENDATIONS</td>
                        </tr>
                        <tr>
                            <td>Complied</td>
                            <td>Not Complied</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="compliance in n.compliances track by $index">
                            <td>
                                <div ng-if="$index != 2">
                                    {{compliance.terms}}
                                </div>
                                <div ng-if="$index == 2"
                                    ng-init="compliance.terms = 'The chainsaws covered by this Permit shall be used 
                                        only within the parcel of land covered by ' + 
                                        compliance.allowed_area_to_be_use[0] + 
                                        'in Brgy. ' + compliance.allowed_area_to_be_use[1] + ', Palawan'">
                                    The chainsaws covered by this Permit shall be used only within the parcel of land covered by
                                    <md-input-container>
                                        <input ng-model="compliance.allowed_area_to_be_use[0]">
                                    </md-input-container>
                                    in Brgy. <md-input-container>
                                        <input ng-model="compliance.allowed_area_to_be_use[1]">
                                    </md-input-container>, Palawan
                                </div>
                            </td>
                            <td>
                                <md-radio-group ng-model="compliance.complied">
                                    <md-radio-button value=true class="md-primary"></md-radio-button>
                                </md-radio-group>
                            </td>
                            <td>
                                <md-radio-group ng-model="compliance.complied">
                                    <md-radio-button value=false class="md-primary"></md-radio-button>
                                </md-radio-group>
                            </td>
                            <td>
                                <md-input-container>
                                    <textarea ng-model="compliance.proof"></textarea>
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container>
                                    <textarea ng-model="compliance.remarks"></textarea>
                                </md-input-container>
                            </td>
                        </tr>
                    </table>
                </li>
                <li style="width:200px">Documentation and other issues:
                    <div>
                        <md-input-container>
                            <textarea ng-model="n.documentation"></textarea>
                        </md-input-container>
                    </div>


                </li>
            </ol>
        </li>
        <li>Recommendations:
            <div>
                <md-input-container flex>
                    <textarea ng-model="n.recommendations"></textarea>
                </md-input-container>
            </div>

        </li>
    </ol>
</div>