<div class="md-list-item-text" layout="column">
        Subject : {{item.subject}}<br>
        Monitoring Date: {{item.monitoring_date}}<br>
        Address: {{item.address}}<br>
        Name of Proponent/Authorized Representative: {{item.proponent_name}}<br>
        Certificate of Registration Number: {{item.registration_number}}<br>
        Brand: {{item.brand}}<br>
        Serial Number: {{item.serial_number}}<br>
        Metal Serial Number: {{item.serial_number}}
    <md-divider></md-divider>
</div>