<!-- <div style="width:90%" ng-controller="DummyChainsawPurch1asePermitController" ng-init="currentItem=n"> -->
<div style="width:90%">

    <hr>
    <br>
    <div style="width:100%" ng-repeat="line in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
        <input style="width:100%" ng-if="line!=3" ng-model="currentItem['line'+line]">
        <textarea style="width:100%" ng-if="line==3" ng-model="currentItem['line'+line]"></textarea>
        <br><br>
    </div>
    <br>
    <div style="margin-left:2in">
        <div style="text-align:center"><input ng-model="currentItem.line11"></div>
        <DIV>
            <ul>
                <li ng-repeat="line in [12, 13, 14]">
                    <textarea style="width:100%" ng-model="currentItem['line'+line]"></textarea>
                </li>
            </ul>
        </DIV>
    </div>
    <br>
    <div>
        <div ng-repeat="line in [15, 16, 17]">
            <input style="width:100%" ng-model="currentItem['line'+line]">
        </div>
    </div>
    <div>
        <input style="width:100%" ng-model="currentItem['line18']">
    </div>
</div>