<!-- <div style="width:90%" ng-controller="DummyChainsawPurchasePermitController" ng-init="currentItem=n"> -->
<div style="width:90%">

    <hr>
    <br>
    <div style="width:100%" ng-repeat="line in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
        <input style="width:100%" ng-if="line!=3&&line!=4" ng-model="currentItem['line'+line]"
            ng-blur="lines={};lines['line'+line]=currentItem['line'+line];updateDocument(currentItem.id, lines)">
        <textarea style="width:100%" ng-if="line==3||line==4" ng-model="currentItem['line'+line]"
        ng-blur="lines={};lines['line'+line]=currentItem['line'+line];updateDocument(currentItem.id, lines)"></textarea>
        <br><br>
    </div>
    <br>
    <div style="margin-left:2in">
        <div style="text-align:center"><input ng-model="currentItem.line11"></div>
        <DIV>
            <ul>
                <li ng-repeat="line in [12, 13, 14, 15]">
                    <textarea style="width:100%" ng-model="currentItem['line'+line]"
                    ng-blur="lines={};lines['line'+line]=currentItem['line'+line];updateDocument(currentItem.id, lines)"></textarea>
                </li>
            </ul>
        </DIV>
    </div>
    <br>
    <div>
        <div ng-repeat="line in [16, 17, 18]">
            <input style="width:100%" ng-model="currentItem['line'+line]" 
            ng-blur="lines={};lines['line'+line]=currentItem['line'+line];updateDocument(currentItem.id, lines)">
        </div>
    </div>
    <div>
        <input style="width:100%" ng-model="currentItem['line19']" 
            ng-blur="updateDocument(currentItem.id, {line19: currentItem.line19})">
    </div>
</div>