<style type="text/css">
	.roman {
		font-family: 'Times New Roman', Times, serif;
	}
</style>
<div class="roman" ng-controller="DummyChainsawPurchasePermitController" ng-init="currentItem=n">
	<!-- header -->
	<div ng-include="'./app/templates/templates/header.html'"></div>
	<hr>
    
    <p>
        <div class="align-center">
            <strong>{{ currentItem.line1}}</strong><br>
            {{ currentItem.line2 }}
        </div>
    </p>
    <br>
    <p>
        {{ currentItem.line3 }}
    </p>
    <p>
        <table>
            <tr>
                <td>Name:</td>
                <td>{{currentItem.applicant.title + ' ' + currentItem.applicant.full_name}}</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>{{currentItem.applicant.address}}</td>
            </tr>
            <tr>
                <td>Purpose:</td>
                <td>{{currentItem.purpose}}</td>
            </tr>

            <tr>
                <td>Date Issued:&nbsp;&nbsp;</td>
                <td>{{currentItem.date_issued}}</td>
            </tr>
        </table>
    </p>
    <div layout>
        <div style="width:60%">&nbsp;</div>
        <div>
            {{currentItem.line8 }}
        </div>
    </div>
    
    <!-- Signature -->
	<div layout ng-controller="doc_ctrl_draft">
        <div style="width:60%">&nbsp;</div>
        <!-- sign 1 -->
		<div flex style="padding: 10px" ng-init="currentItem.sign1 = (currentItem.sign1 == undefined)? { name:'',designation:''}:currentItem.sign1;">
            <div ng-if="currentItem.sign1.signature != undefined;" layout="column" layout-align="center center">
                <img ng-if="currentItem.sign1.signature != undefined" src="{{currentItem.sign1.signature}}" alt="Signature1" width="auto" style="margin-bottom: -35px;">
                <div class="align-center"> <strong> <ins>{{currentItem.sign1.name}}</ins> </strong> </div>
                <div class="align-center"> {{currentItem.sign1.designation}} </div>
                <md-button class="md-fab md-mini" aria-label="Remove Signature" ng-if="currentItem.sign1.user == userId" ng-click="updateDocument(currentItem.id,{'sign1' : {} })">
                    <md-tooltip md-direction="left">Remove Signature</md-tooltip>
                    <i class="fa fa-remove" ></i>
                </md-button> 
            </div>
            
            <div layout="column" layout-align="center center" ng-if="currentItem.sign1.signature == undefined;" 
            id="sign1" ng-init="generate_signature_field('sign1',0);" style="border: black dashed 1px;">
                <canvas></canvas>
                <button ng-click="signclear(0)">Clear Signature</button>
                <button ng-click=" updateDocument(currentItem.id,{'sign1.signature': signed(0), 'sign1.user' : userId }) ">
                    Save Signature
                </button>
                <md-input-container md-no-float class="md-block" ng-init="currentItem.sign1=currentItem.issued_by">
                    <input ng-model="currentItem.sign1.name" ng-blur="updateDocument(currentItem.id,{'sign1.name' : currentItem.sign1.name })" type="text" placeholder="Name" aria-label="Name">
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                    <input ng-model="currentItem.sign1.designation" ng-blur="updateDocument(currentItem.id,{'sign1.designation' : currentItem.sign1.designation })"  type="text" placeholder="Designation" aria-label="designation">
                </md-input-container>
			</div>
        </div>
        
    </div>
	<!-- footer -->
	<div ng-include="'./app/templates/templates/footer.html'"></div>
</div>