<strong>Applicant Information</strong>
	<div layout>
		<md-input-container class="md-block" flex>
			<label>Name of Company</label>
			<input ng-model="n.applicant.name" ng-blur="n.keywords[1]=n.applicant.name" required>
		</md-input-container>
		<md-input-container class="md-block" flex>
			<label>Address</label>
			<input ng-model="n.applicant.address" ng-blur="n.keywords[2]=n.applicant.address" required>
		</md-input-container>
		<md-input-container class="md-block" flex>
			<label>Head</label>
			<input ng-model="n.applicant.head" ng-blur="n.keywords[3]=n.applicant.head">
		</md-input-container>
		<md-input-container class="md-block" flex>
			<label>Contact Number</label>
			<input ng-model="n.applicant.contact_number" ng-blur="n.keywordsk[4]=n.applicant.contact_number">
		</md-input-container>
	</div>