<strong>Applicant Information</strong>
	<div layout>
		<md-input-container class="md-block" flex>
			<label>Name of Company</label>
			<input ng-model="n.gratuitous_permit.applicant.name" ng-blur="n.gratuitous_permit.keywords[1]=n.gratuitous_permit.applicant.name" required>
		</md-input-container>
		<md-input-container class="md-block" flex>
			<label>Address</label>
			<input ng-model="n.gratuitous_permit.applicant.address" ng-blur="n.gratuitous_permit.keywords[2]=n.gratuitous_permit.applicant.address" required>
		</md-input-container>
		<md-input-container class="md-block" flex>
			<label>Head</label>
			<input ng-model="n.gratuitous_permit.applicant.head" ng-blur="n.gratuitous_permit.keywords[3]=n.gratuitous_permit.applicant.head">
		</md-input-container>
		<md-input-container class="md-block" flex>
			<label>Contact Number</label>
			<input ng-model="n.gratuitous_permit.applicant.contact_number" ng-blur="n.gratuitous_permit.keywordsk[4]=n.gratuitous_permit.applicant.contact_number">
		</md-input-container>
	</div>