<div ng-include="'./app/templates/application/style.html'"></div>

<!-- <div ng-if="render_params.data != undefined" ng-init="set_application($localStorage.params);print();"></div> -->

<div ng-controller="DummyLTPWildlifeController"  ng-init="set_application($localStorage.params);">
        <div ng-if="render_params.data != undefined"></div>
        <div class="p-t-20 p-l-10">
        
            <div layout="row">
                <div flex layout-gt-xs="row" layout-xs="column">
                    <div flex flex-gt-xs="15" layout-align="center center">
                        <img src="/images/pcsdlogo.png" class="p-t-5" style="width:100%;">
                    </div>
                    <div flex layout-align="center" class="m-l-20" style="text-align: center">
                        <h4>
                            <small>Office of the President</small> <br>
                            <small>Republic of the Philippines</small><br>
                            <strong>PALAWAN COUNCIL for SUSTAINABLE DEVELOPMENT</strong>
                        </h4>
                    </div>
                </div>
            </div>
            <div style="margin-left:70%">
                <div class="underlined"></div>
                <div style="text-align: center">(Date)</div>
            </div>
            <div style="text-align: center; margin-top: 25px;margin-bottom: 25px;">
            <strong> APPLICATION FOR INSPECTION OF WILDLIFE OR WILDLIFE PRODUCTS FOR LOCAL TRANSPORT PERMIT</strong>
            </div>
        
            <div>
                Executive Director<br/>
                Palawan Council for Sustainable Development Staff<br/><br/>
                Sir: <br/>
                I would like to request for the specy and certification of the following species/commodities/items
                intended for transport for purposes of <u>{{application.data.application.purpose}}</u>, which are produced/gathered from 
                <u>{{application.data.application.origin}}.</u>
                
                <div layout="row" layout-align="center">
                        <table style="width: 70%;margin-top: 10px; margin-bottom: 15px">
                                <tr>
                                    <td>SPECIES</td>
                                    <td>QUANTITY</td>
                                    <td>DESCRIPTION</td>
                                    <td>REMARKS</td>
                                </tr>
                                <tr ng-repeat="specy in application.data.application.species" 
                                class="underlined">
                                    <td
                                    title="SPECIES"
                                    >{{specy.name}}
                                    </td>
                                    <td
                                    title="QTY"
                                    >{{specy.quantity}}
                                    </td>
                                    <td
                                    title="DESCRIPTION"
                                    >{{specy.description}}
                                    </td>
                                    <td
                                    title="REMARKS"
                                    >{{specy.remarks}}
                                    </td>
                                </tr>
                            </table>
                        <div class="p-r-50"></div>
                </div>
        
                The above species/commodities will be transported by 
                <u>{{application.data.application.transporter.name}}</u> of 
                <u>{{application.data.application.consignee.name}}</u> 
                <u>{{application.data.application.consignee.address}}</u> to 
                <u>{{application.data.application.recipient.name}}</u> of
                <u>{{application.data.application.recipient.address}}</u> via <u>{{application.data.application.transportation.means}}</u> on 
                <u>{{application.data.application.transportation.date}}.</u><br/>
                TIN: <u>{{application.data.application.applicant.TIN}}</u>
                <br>
                <DIV style="width: 25%; margin-left: 70%">
                    <div style="margin-bottom:25px;">Verty truly yours,</div>
                    <div style="text-align: center">
                            <div class="underlined">{{application.data.application.applicant.name}}</div>
                            <div>(Name and Signature)</div>
                            <div class="underlined">{{application.data.application.applicant.address}}</div>
                            <div>(Address)</div>
                    </div>
                    
                </DIV>
        
            </div>        
        </div>
        <div ng-include="'./app/templates/application/attachments_template.html'"></div>
        <div ng-include="'./app/templates/application/stamp_template.html'"></div>
</div>
