<div ng-if="is_path('/print')" ng-init="set_application($localStorage.params);printView();"></div>
<style>
    table {
        border-collapse: collapse;
    }
    thead tr td {
        height: 50px;
    }
    td {
        border: 1px solid black;
        padding: 10px;
    }
</style>
<div>
    <div layout="row">
        <div flex layout-gt-xs="row" layout-xs="column">
            <div flex flex-gt-xs="15" layout-align="center center">
                <img src="./images/pcsdlogo.png" class="p-t-5" style="width:100%;">
            </div>
            <div flex layout-align="center" class="m-l-20">
                <h4><strong>Republic of the Philippines</strong> <br>
                    <small>Republic Act 7611</small><br>
                    <small>PALAWAN COUNCIL for SUSTAINABLE DEVELOPMENT</small>
                </h4>
            </div>
        </div>
    </div>
    
    <div class="align-center m-t-20 m-b-10">
        <h3 >APPLICATION FOR: LOCAL TRANSPORT PERMIT (AO12)</h3>
        <h4>Transaction No.: {{application.date}} </h4>
    </div>
    
        
    <div layout="row" layout-align="end">
        <div layout="column" layout-align="center center">
            <div><strong style="text-decoration: underline"> {{application.date | date : 'MMMM d, yyyy'}} </strong></div>
            <div>(date)</div>
        </div>
        <div class="p-r-50"></div>
    </div>

    <h4>
        NELSON P. DEVANADERA <br>
        <small>Executive Director</small><br>
        <small>Palawan Council for Sustainable Development Staff</small>
    </h4>

    Sir: <br>

    <span class="p-l-20"></span>I would like to request for the inspection and certification of the following species/items and 
    corresponding information intended for transport by virtue of {{application.data.application.required_permit_type}} {{application.data.application.required_permit}}
    to wit: 
    <br>

    <h4 class="col-blue-grey" >
        Purpose of transport:
    </h4>
    <div flex layout-gt-sm="row"></div>
        <div flex-gt-sm="30"><md-checkbox aria-label="commercial" ng-disabled="true" ng-model="application.data.application.purpose.commercial"></md-checkbox> Commercial </div>
        <div flex-gt-sm="30"><md-checkbox aria-label="research" ng-disabled="true" ng-model="application.data.application.purpose.research"></md-checkbox> Research </div>
        <div flex-gt-sm="30"><md-checkbox aria-label="Exhibit" ng-disabled="true" ng-model="application.data.application.purpose.exhibit"></md-checkbox> Exhibit </div>
        <div flex-gt-sm="30" ng-if="application.data.application.purpose.other"><md-checkbox aria-label="Other" ng-disabled="true" ng-model="application.data.application.purpose.other != ''"></md-checkbox> {{application.data.application.purpose.other}} </div>
    </div>

    <br>
    <hr>
    <div layout>
        <div flex></div>
        <div>
            <table >
                <thead >
                    <tr>
                        <td><strong>Species</strong></td>
                        <td><strong>Quantity</strong> </td>
                        <td><strong>Description</strong></td>
                        <td><strong>Remarks</strong></td>
                    </tr>
                </thead>
                <tr ng-repeat=" x in application.data.application.specimen">
                    <td>{{x.species_name}}</td>
                    <td>{{x.species_qty}}{{x.species_unit}}</td>
                    <td>{{x.species_des}}</td>
                    <td>{{x.species_boxes}} {{(x.species_boxes > 1)?'boxes':'box'}}</td>
                </tr>
            </table>
        </div>
        <div flex></div>
    </div>
    <br>
    <hr>
    <p>
        The above-enumerated species shall be transported by Mr/Mrs {{application.data.application.shipper.name}} to {{application.data.application.recipient.name}}
        with address at {{application.data.application.recipient.address}} on {{application.data.application.date_of_transport.split(' ')[0] | date}} 
        via <span ng-if="application.data.application.via.aircraft">Aircraft</span>
        <span ng-if="application.data.application.via.vessel">Vessel</span> located at {{application.data.application.place_of_transport}}
    </p>
    <hr>
    <strong>Place of Origin :
        {{application.data.application.place_of_origin.barangay}}, {{application.data.application.place_of_origin.municipality}} </strong> <br>

    <strong>Collertor or Supplier :
        {{application.data.application.collector_or_supplier.name}},
        {{application.data.application.collector_or_supplier.address}}
    </strong> 
    <br>
    <br>

    <br> <br>
    <div layout="row" layout-align="end">
        <div layout="column" layout-align="center center">
            <div><strong style="text-decoration: underline"> {{application.data.application.applicant}} </strong></div>
            <div>(Applicant)</div>
            <div class="m-t-20"> <strong>TIN : {{application.data.application.tin_no}}</strong> </div>
        </div>
        <div class="p-r-50"></div>
    </div>
    
    <div ng-include="'./app/templates/application/attachments_template.html'"></div>
    <div ng-include="'./app/templates/application/stamp_template.html'"></div>

</div>