
<div ng-controller="doc_controller" ng-init="doc_init(); ">
    <div ng-controller="summary_of_information_controller" ng-init="load_data();set_page_title(currentItem.subject);">
        <div ng-controller="doc_ctrl_published" 
            ng-init="loadReciepients(doc_user[currentItem.agency.id],currentItem.agency.id);init_publishing_receipients();">
            <div ng-if="currentItem.template != undefined" ng-include="currentItem.template.view"></div>

            <div layout-gt-sm layout-sm="column" layout-align="center center">
                
                <md-button class="md-button md-primary" ng-click="openSendDocument(currentItem, $event)" layout-gt-sm>
                    <i class="fa fa-paper-plane m-r-5"></i>
                    {{ (currentClicked == 'received') ? 'Forward' : 'Send' }}
                </md-button>
                <md-button ng-if="currentItem.template != undefined" class="md-fab md-mini" aria-label="Print Document" 
                    ng-click="open_print_view(currentItem.template.print, currentItem);">
                    <md-tooltip md-direction="left">Print this document</md-tooltip>
                    <i class="fa fa-print" ></i>
                </md-button> 
                
            </div>
        
            <div ng-if="currentReciepients.length > 0">
                <hr>
                <h4>Receipients</h4>
                <ol>
                    <li ng-repeat="x in currentReciepients">
                        <strong class="col-grey">{{x.name}}</strong>
                        <br>
                        <ul>
                            <li ng-repeat="x in x.sentItems">
                                {{x.date}} : 
                                <strong ng-class="{ 'col-green' : (x.status == 'received'), 'col-orange' : (x.status == 'declined'), 'col-red' : (x.status == 'pending') }">
                                        {{x.status}}
                                </strong> ,
                                <cite>{{x.remarks}}</cite>
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>

        </div>
    </div>

    <div ng-include="'./app/doc/modals/sendDocument.html'" ></div>
</div>