<!-- Particles Plugin Js -->

<div layout="column" class=" bg-black" style="height:{{get_window_height()}}px;" >
	<div flex="10"></div>
	<div flex="20" layout-padding="20" layout="column" layout-align="center center">
		<div>
			<img src="images/brain_logo.png" width="30%" style="margin-left:35%" height="auto" alt="pcsd">
		</div>
		<strong>PALAWAN COUNCIL FOR SUSTAINABLE DEVELOPMENT</strong>
		<cite class="col-green">Biodiversity Resources Access Information Network</cite>
		<br>
	</div>
	<div flex layout="row"  layout-align="center center">
		
		<div layout-padding="20" flex-xs="60" flex-gt-xs="40" layout="column">
			<md-content md-whiteframe="3" >
				<form name="form_login" ng-init="login = {}" >
					
					<h3>Login</h3>
					<md-divider>
					<br>
					<md-input-container class="md-block" flex-gt-sm>
						<label>ID Number</label>
						<input ng-model="login.id_number" required>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>User KEY</label>
						<input ng-model="login.key" type="password" required>
					</md-input-container>

					<div layout="column" layout-align="center center">
						<div ng-show="is_loading" layout="row" layout-sm="column" layout-align="space-around">
							<md-progress-circular md-mode="indeterminate"></md-progress-circular>
						</div>
						<md-button ng-hide="is_loading" type="submit" ng-disabled="form_login.$invalid" ng-click="login_attempt(login)" class="md-raised md-block md-primary" >
				           Login
				        </md-button>
					</div>
					<br>
					<h6 class="align-center">Version {{ app_version_code }}</h6>
					
					<div layout="row">
						<md-button flex ng-show="software_update_available"  
							ng-disabled="!software_update_available" 
							ng-click="open_software_update_folder()" 
							class="md-raised md-warn" >
							Install Software Update
						</md-button>
					</div>
					<br>
				</form>
			</md-content>
		</div>
	</div>
	
</div>