
<div ng-controller="account_management_controller" ng-init="set_page_title('Account Management - Accounts')">
    
    <div layout>
        <!-- user list -->
        <div ng-hide=" (is_xs || is_sm) && is_user_selected " flex-gt-sm="30" flex-sm>  
                <md-list class="md-dense" flex>
                    <md-subheader class="col-white bg-grey">
                        <div layout class=" pointer">
                            <div ng-click="add_new_account($event)">
                                <i class="fa fa-user-plus col-white">
                                    <md-tooltip md-direction="buttom">Create New Account</md-tooltip> 
                                </i> 
                                <strong>Accounts </strong>
                            </div>
                            <input flex ng-model="search_user" placeholder="search" class="m-l-10 m-r-10 m-t--5 p-t-5 p-b-5 p-l-5" style="border: none;border-bottom: #777 1px;">
                        </div>
                    </md-subheader>
                    <md-content style="height : {{iframeHeight - 185}}px;">
                        <md-list-item class="md-3-line" ng-repeat="x in users | filter : search_user" ng-click="select_user(x)">
                            <div class="md-list-item-text" layout="column">
                                <h3> {{x.name}} - {{x.phone}} </h3>
                                <h4> {{ x.data.first_name }} {{ x.data.middle_name }} {{ x.data.last_name }} </h4>
                                <p> {{x.access }}, {{x.data.designation}} </p>
                            </div>
                        </md-list-item>
                    </md-content>
                </md-list>
        </div>
        <!-- View user -->
        <div flex  ng-hide=" (is_xs || is_sm) && !is_user_selected " class="p-l-10 p-r-10 m-l-10 p-t-10" md-whiteframe="2">
            <md-content style="height : {{iframeHeight - 195}}px;">
                
                <div ng-show="is_user_selected">
                    <md-button hide-gt-sm class="md-fab md-mini " aria-label="back" ng-click="clear_selected_user()">
                        <i class="fa fa-chevron-left"></i>
                    </md-button>

                    <div class="md-display-1">
                        Phone : <strong> {{selected_user.phone}} </strong>
                        <i class="fa fa-edit pointer col-pink" ng-click="edit_phone_number(selected_user.id)">
                            <md-tooltip md-direction="buttom">Edit Phone Number</md-tooltip> 
                        </i>  
                    </div> 
                    
                    <hr>
                    
                    Code Name : <strong>{{selected_user.name}} </strong>
                    <md-divider></md-divider>

                    Name : <strong> {{selected_user.data.first_name}} {{selected_user.data.middle_name}} {{selected_user.data.last_name}} </strong>
                    <md-divider></md-divider>
    
                    Designation : <strong> {{selected_user.data.designation}} </strong>
                    <md-divider></md-divider>
    
                    Email : <strong> {{selected_user.data.email}} </strong>
                    <md-divider></md-divider>

                    <md-button class="md-button md-warn" ng-click="delete_user(selected_user)"> 
                        Delete
                        <i class="fa fa-trash"></i>   
                        <md-tooltip md-direction="buttom">Delete Account</md-tooltip> 
                    </md-button>

                    <md-button class="md-button md-primary" ng-click="open_edit_modal($event,selected_user)"> 
                        Edit
                        <i class="fa fa-edit"></i>   
                        <md-tooltip md-direction="buttom">Edit Account</md-tooltip> 
                    </md-button>

                    <hr>

                    <div layout>
                        <div flex>
                            <md-card>
                                <md-card-title>
                                    <h3 class="md-title">Access Menu</h3>
                                </md-card-title>
                                <md-content>
                                    <div class="p-t-10">
                                        <ol>
                                            <li ng-repeat="x in selected_user.menu">
                                                {{x.title}}
                                                <i class="fa fa-trash col-red pointer m-l-10" 
                                                    ng-click="removing_access(x.title,'menu',x,selected_user.id,$index);">
                                                    <md-tooltip md-direction="buttom">Remove access of {{x.title}}</md-tooltip> 
                                                </i>
                                                <br>
                                                <div class="m-l-20" ng-if="x.menu">
                                                    <ul>
                                                        <li ng-repeat="y in x.menu">
                                                            {{y.title}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                </md-content>
                            </md-card>
                        </div> 
                        <div flex>
                            <md-card>
                                <md-card-title>
                                    <h3 class="md-title">Available Access Menu</h3>
                                </md-card-title>
                                <md-content ng-controller="menu_management_controller" >
                                    <div class="p-t-10">
                                        <ol>
                                            <li ng-repeat="x in menu_modules" ng-if="!check_menu_if_exist(selected_user.menu,x.title)">
                                                {{x.title}}
                                                <i class="fa fa-plus col-green pointer m-l-10" 
                                                    ng-click="adding_access_menu(x.title,'menu',x,selected_user.id);">
                                                    <md-tooltip md-direction="buttom">Add access of {{x.title}}</md-tooltip> 
                                                </i>
                                                <br>
                                                <div class="m-l-20" ng-if="x.menu">
                                                    <ul>
                                                        <li ng-repeat="y in x.menu">
                                                            {{y.title}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                </md-content>
                            </md-card>
                        </div>
                    </div>
                    

                    
                </div>
                
            </md-content>
        </div>
        
    </div>
    
    <!--  edit modal -->
    <div ng-include="'./app/account_management/modals/edit_user.html'" ></div>
    <!-- end modal -->
</div>
