<div layout ng-controller="monitoring_controller" 
    ng-init="set_page_title('Chainsaw Monitoring - Create');
        load_last_number('last_no_for_chainsaw_monitoring');
        setSubject('Chainsaw Monitoring Report');
        setCategory('chainsaw_monitoring');
        setTemplate({
			'name' : 'Intelligence Report',
			'type' : 'report',
			'permit' : 'false',
			'create' : 	'./app/templates/templates/monitoring/chainsaw/create.html',
			'edit' : 	'./app/templates/templates/monitoring/chainsaw/edit.html',
			'print' : 	'./app/templates/templates/monitoring/chainsaw/print.html',
			'view' : 	'./app/templates/templates/monitoring/chainsaw/view.html'
        });
        setViewPath('/operations/monitoring/chainsaw/view');
        setListPath('/operations/monitoring/chainsaw/list/all');
        setCreatePath('/operations/monitoring/chainsaw/create')">
    <div flex="100" layout-align="center center" ng-if="is_loading" layout>
        <md-progress-circular md-mode="indeterminate" md-diameter="70">
        </md-progress-circular>
    </div>
    <form ng-if="!is_loading" ng-cloak name="form_add_draft" flex>
            <cite class="col-red">
                Last control no: <strong> {{last_control_number}} </strong>
            </cite>
            <hr>
            <div ng-include="n.template.create" ></div>
            
            <md-button class="md-primary md-raised" 
                ng-disabled="form_add_draft.$invalid" 
                ng-controller="doc_controller"
                ng-init="doc_init()"
                ng-click="create(doc_user.id);"
                >
                Create Document
            </md-button>
    </form>
   
</div>