<div ng-init="n.subject = 'INTELLIGENCE REPORT'; 
    n.keywords = [];" class="roman">
    <h3 class="align-center">{{n.subject}}</h3>
    <hr>
    <div layout>
        <div style="width:80%"></div>
        <md-input-container>
            <label>Date of Report</label>
            <md-datepicker md-hide-icons="calendar" ng-model="report_date"
                ng-change="n.report_date=to_date(report_date)">
            </md-datepicker>
        </md-input-container>
    </div>
    <div layout>
        <div style="width:80%"></div>
        <md-input-container>
            <label>Date Received</label>
            <md-datepicker md-hide-icons="calendar" ng-model="date_received" 
                ng-change="n.date_received=to_date(date_received)">
            </md-datepicker>
        </md-input-container>
    </div>

    <md-input-container class="md-block m-t-40">
        <label>Subject</label>
        <input ng-model="n.report_subject" required>
    </md-input-container>
    <br>
    <div layout flex>
        <md-input-container flex>
            <label>References</label>
            <textarea ng-model="n.references"></textarea>
        </md-input-container>
        <md-input-container flex>
            <label>Control No.</label>
            <input ng-init="n.keywords[0]=''" ng-model="n.control_number" ng-blur="n.keywords[0]=n.control_number">
        </md-input-container>
        <md-input-container flex>
            <label>Reference No.</label>
            <input ng-init="n.keywords[1]=''" ng-model="n.reference_number" ng-blur="n.keywords[1]=n.reference_number">
        </md-input-container>
    </div>
    <md-input-container class="md-block" flex>
        <label>Evaluation</label>
        <textarea ng-model="n.evaluation"></textarea>
    </md-input-container>
    <div layout>
        <table ng-init="n.persons_involved=[{}]">
            <tr>
                <td>Name of suspected person</td>
                <td>Physical description</td>
                <td>Character disposition</td>
                <td>Address</td>
                <td>Contact information</td>
                <td>Alleged activities</td>
            </tr>
            <tr ng-repeat="person_involved in n.persons_involved track by $index">
                <td>
                    <md-input-container>
                        <input ng-model="n.persons_involved[$index].name"
                            ng-blur="n.keywords[$index+2]=n.persons_involved[$index].name">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <textarea ng-model="n.persons_involved[$index].physical_description"></textarea>
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <textarea ng-model="n.persons_involved[$index].character_disposition"></textarea>
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <textarea ng-model="n.persons_involved[$index].address"></textarea>
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <textarea ng-model="n.persons_involved[$index].contact_information"></textarea>
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <textarea ng-model="n.persons_involved[$index].alleged_activities"></textarea>
                    </md-input-container>
                </td>
                <td>
                    <md-button class="md-fab md-mini" aria-label="Remove this row"
                        ng-click="n.persons_involved.splice($index, 1)" ng-if="n.persons_involved.length > 1">
                        <md-tooltip md-direction="left">Remove this person</md-tooltip>
                        <i class="fa fa-remove"></i>
                    </md-button>
                </td>
            </tr>
        </table>
    </div>
    <md-button ng-click="n.persons_involved.push({})" class="md-primary md-raised">
        Add Row
    </md-button>
    <div layout>
        <md-input-container class="md-block" flex>
            <label>Description of target items:</label>
            <textarea ng-model="n.target_items_description"></textarea>
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Relationship and connections of each suspected persons involved:</label>
            <textarea ng-model="n.relationship"></textarea>
        </md-input-container>
        <md-input-container>
            <label>Support group/system</label>
            <textarea ng-model="n.support_group"></textarea>
        </md-input-container>
    </div>
    <div layout>
        <md-input-container flex>
            <label>Last known area of operation:</label>
            <textarea ng-model="n.last_known_operation_area"></textarea>
        </md-input-container>
        <md-input-container flex>
            <label>Last known modes of trafficking:</label>
            <textarea ng-model="n.last_trafficking_modes"></textarea>
        </md-input-container>
        <md-input-container flex>
            <label>Financial transaction:</label>
            <textarea ng-model="n.financial_transaction"></textarea>
        </md-input-container>
    </div>
    <div layout>
        <md-input-container flex>
            <label>Information available from other enforcement agencies:</label>
            <textarea ng-model="n.info_from_other_agencies"></textarea>
        </md-input-container>
        <md-input-container flex>
            <label>Risk & threat assessment:</label>
            <textarea ng-model="n.risk_assessment"></textarea>
        </md-input-container>
        <md-input-container flex>
            <label>Recommendations:</label>
            <textarea ng-model="n.recommendations"></textarea>
        </md-input-container>
    </div>
    <div layout>
        <md-input-container flex>
            <label>Suggested distribution:</label>
            <textarea ng-model="n.suggested_distribution"></textarea>
        </md-input-container>
    </div>
</div>