<style type="text/css">
    .roman {
        font-family: 'Times New Roman', Times, serif;
    }
</style>
<div ng-include="'./app/templates/application/style.html'"></div>

<!-- <div class="roman"> -->
<div>
    <!-- header -->
    <div ng-include="'./app/templates/templates/header.html'"></div>
    <hr>
    <p>
        <div class="align-center">
            <h3>{{currentItem.subject}}</h3>
        </div>
    </p>
    <br>
    <div layout>
        <div>SUBJECT:</div>
        <div class="underlined" flex></div>
    </div>
    <table>
        <tr>
            <td>
                <b>DATE OF REPORT:</b>
            </td>
            <td>
                {{currentItem.report_date}}
            </td>
            <td>
                <b>CONTROL NO:</b>
            </td>
            <td>
                {{currentItem.control_number}}
            </td>
        </tr>
        <tr>
            <td>
                <b>DATE RECEIVED:</b>
            </td>
            <td>
                {{currentItem.date_received}}
            </td>
            <td>
                <b>REFERENCE NO:</b>
            </td>
            <td>
                {{currentItem.reference_number}}
            </td>
        </tr>
        <tr>
            <td>
                <b>REFERENCES:</b>
            </td>
            <td>
                {{currentItem.references}}
            </td>
            <td>
                <b>EVALUATION:</b>
            </td>
            <td>
                {{currentItem.evaluation}}
            </td>
        </tr>
    </table>

    <ol>
        <li>
            NAMES OF SUSPECTED PERSONS INVOLVED:<br>
            <div ng-repeat="person_invovled in currentItem.persons_invovled">
                <div class="underlined" flex>{{person_invovled.name}}</div>
            </div>
        </li>
        <li>
            PHYSICAL DESCRIPTION OF EACH SUSPECTED PERSONS INVOLVED:<br>
            <table>
                <tr ng-repeat="person_involved in currentItem.persons_invovled">
                    <td class="underlined">{{person_involved.name}}</td>
                    <td>&nbsp;&nbsp;</td>
                    <td class="underlined">{{person_involved.physical_description}}</td>
                </tr>
            </table>
        </li>
        <li>
            CHARACTER DISPOSITION:<br>
            <table>
                <tr ng-repeat="person_involved in currentItem.persons_invovled">
                    <td class="underlined">{{person_involved.name}}</td>
                    <td>&nbsp;&nbsp;</td>
                    <td class="underlined">
                        {{person_involved.character_disposition}}
                    </td>
                </tr>
            </table>
        </li>
        <li>
            ADDRESSES & LOCATIONS OF PERSON/S INVOLVED: <br>
            <table>
                <tr ng-repeat="person_involved in currentItem.persons_invovled">
                    <td class="underlined">{{person_involved.name}}</td>
                    <td>&nbsp;&nbsp;</td>
                    <td class="underlined">
                        {{person_involved.address}}
                    </td>
                </tr>
            </table>
        </li>
        <li>
            CONTACT DETAILS OF EACH SUSPECTED PERSONS INVOLVED: <br>
            <table>
                <tr ng-repeat="person_involved in currentItem.persons_invovled">
                    <td class="underlined">{{person_involved.name}}</td>
                    <td>&nbsp;&nbsp;</td>
                    <td class="underlined">
                        {{person_involved.contact_information}}
                    </td>
                </tr>
            </table>
        </li>
        <li>
            ALLEGED ACTIVITIES & PARTICIPATION OF EACH SUSPECTED PERSONS INVOLVED: <br>
            <table>
                <tr ng-repeat="person_involved in currentItem.persons_invovled">
                    <td class="underlined">{{person_involved.name}}</td>
                    <td>&nbsp;&nbsp;</td>
                    <td class="underlined">
                        {{person_involved.alleged_activities}}
                    </td>
                </tr>
            </table>
        </li>
        <li>
            DESCRIPTION OF TARGET ITEMS:<br>
            <div class="underlined" flex>
                {{currentItem.target_items_description}}
            </div>
        </li>
        <li>
            RELATIONSHIPS AND CONNECTIONS OF EACH SUSPECTED PERSONS INVOLVED:<br>
            <div class="underlined" flex>
                {{currentItem.relationships}}
            </div>
        </li>
        <li>
            SUPPORT GROUP/SYSTEM:<br>
            <div class="underlined" flex>
                {{currentItem.support_system}}
            </div>
        </li>
        <li>
            LAST KNOWN AREA OF OPERATION:<br>
            <div class="underlined" flex>
                {{currentItem.last_known_operation_area}}
            </div>
        </li>
        <li>
            LAST KNOWN MODES OF TRAFFICKING:<br>
            <div class="underlined" flex>
                {{currentItem.last_trafficking_modes}}
            </div>
        </li>
        <li>
            FINANCIAL TRANSACTION:<br>
            <div class="underlined" flex>
                {{currentItem.last_known_operation_area}}
            </div>
        </li>
        <li>
            INFORMATION AVAILABLE FROM OTHER ENFORCEMENT AGENCIES:<br>
            <div class="underlined" flex>
                {{currentItem.info_from_other_agencies}}
            </div>
        </li>
        <li>
            RISK & THREAT ASSESSMENTS:<br>
            <div class="underlined" flex>
                    {{currentItem.risk_assessment}}
                </div>
        </li>
        <li>
            SUGGESTED DISTRIBUTION:<br>
            <div class="underlined" flex>
                {{currentItem.suggested_distribution}}
            </div>
        </li>
    </ol>


    <!-- Signature -->
    <div layout>
        <div style="width:50%">Recommended by:</div>
        <div>Noted by:</div>
    </div>
    <div layout ng-controller="doc_ctrl_draft">
        <!-- sign 1 -->
        <div flex style="padding: 10px"
            ng-init="currentItem.sign1 = (currentItem.sign1 == undefined)? { name:'',designation:''}:currentItem.sign1;">
            <div ng-if="currentItem.sign1.signature != undefined;" layout="column" layout-align="center center">
                <img ng-if="currentItem.sign1.signature != undefined" src="{{currentItem.sign1.signature}}"
                    alt="Signature1" width="auto" style="margin-bottom: -35px;">
                <div class="align-center"> <strong> <ins>{{currentItem.sign1.name}}</ins> </strong>
                </div>
                <div class="align-center"> {{currentItem.sign1.designation}} </div>
                <md-button class="md-fab md-mini" aria-label="Remove Signature" ng-if="currentItem.sign1.user == userId"
                    ng-click="updateDocument(currentItem.id,{'sign1' : {} })">
                    <md-tooltip md-direction="left">Remove Signature</md-tooltip>
                    <i class="fa fa-remove"></i>
                </md-button>
            </div>

            <div layout="column" layout-align="center center" ng-if="currentItem.sign1.signature == undefined;"
                id="sign1" ng-init="generate_signature_field('sign1',0);" style="border: black dashed 1px;">
                <canvas></canvas>
                <button ng-click="signclear(0)">Clear Signature</button>
                <button
                    ng-click=" updateDocument(currentItem.id,{'sign1.signature': signed(0), 'sign1.user' : userId }) ">Save
                    Signature</button>
                <md-input-container md-no-float class="md-block" ng-if="currentItem.sign1.signature == undefined;">
                    <input ng-model="currentItem.sign1.name"
                        ng-blur="updateDocument(currentItem.id,{'sign1.name' : currentItem.sign1.name })" type="text"
                        placeholder="Name" aria-label="Name">
                </md-input-container>
                <md-input-container md-no-float class="md-block" ng-if="currentItem.sign1.signature == undefined;">
                    <input ng-init="currentItem.sign1.designation='Command Center Officer'"
                        ng-model="currentItem.sign1.designation"
                        ng-blur="updateDocument(currentItem.id,{'sign1.designation' : currentItem.sign1.designation })"
                        type="text" placeholder="Designation" aria-label="designation">
                </md-input-container>
            </div>
        </div>

        <div flex style="padding: 10px"
            ng-init="currentItem.sign2 = (currentItem.sign2 == undefined)? { name:'',designation:''}:currentItem.sign2;">
            <div ng-if="currentItem.sign2.signature != undefined;" layout="column" layout-align="center center">
                <img ng-if="currentItem.sign2.signature != undefined" src="{{currentItem.sign2.signature}}"
                    alt="Signature1" width="auto" style="margin-bottom: -35px;">
                <div class="align-center"> <strong> <ins>{{currentItem.sign2.name}}</ins> </strong>
                </div>
                <div class="align-center"> {{currentItem.sign2.designation}} </div>
                <md-button class="md-fab md-mini" aria-label="Remove Signature" ng-if="currentItem.sign2.user == userId"
                    ng-click="updateDocument(currentItem.gratuitous_permit.id,{'sign2' : {} })">
                    <md-tooltip md-direction="left">Remove Signature</md-tooltip>
                    <i class="fa fa-remove"></i>
                </md-button>
            </div>

            <div layout="column" layout-align="center center" ng-if="currentItem.sign2.signature == undefined;"
                id="sign2" ng-init="generate_signature_field('sign2',1);" style="border: black dashed 1px;">
                <canvas></canvas>
                <button ng-click="signclear(1)">Clear Signature</button>
                <button
                    ng-click=" updateDocument(currentItem.id,{'sign2.signature': signed(1), 'sign2.user' : userId }) ">Save
                    Signature</button>
                <md-input-container md-no-float class="md-block" ng-if="currentItem.sign2.signature == undefined;">
                    <input ng-model="currentItem.sign2.name"
                        ng-blur="updateDocument(currentItem.id,{'sign2.name' : currentItem.sign2.name })" type="text"
                        placeholder="Name" aria-label="Name">
                </md-input-container>
                <md-input-container md-no-float class="md-block" ng-if="currentItem.sign2.signature == undefined;">
                    <input ng-init="currentItem.sign2.designation='ERED-PCSDS'" ng-model="currentItem.sign2.designation"
                        ng-blur="updateDocument(currentItem.id,{'sign2.designation' : currentItem.sign2.designation })"
                        type="text" placeholder="Designation" aria-label="designation">
                </md-input-container>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div ng-include="'./app/templates/templates/footer.html'"></div>
</div>