<div ng-controller="opsMap_controller" ng-init="set_page_title('Map')" style="position: relative">
    <div ng-controller="operations_map_controller" ng-init="loadMapBox();">
        <md-button class="md-fab md-mini" ng-click='toggleSidenav()' style="position: absolute; right: 5px">
            <md-tooltip md-direction="left">View Search List</md-tooltip>
            <i class="fa fa-angle-double-left fa-6 m-r-5" aria-hidden="true"></i>
        </md-button>
        <div id="opsMap" style="height: {{iframeHeight - 115}}px"></div>
        <md-sidenav class="md-sidenav-right" md-component-id="closeEventsDisabled" md-whiteframe="4"
            md-disable-close-events>
            <div></div>
            <md-toolbar class="md-hue-3">
                <div class="md-toolbar-tools" layout='row'>
                    Operations
                    <div style="width: 177px;padding-left:100px">
                        <a href="" ng-click='showPrerenderedDialog($event, "formSearchOperations")'>
                            <i class="fa fa-search m-r-5"></i>
                        </a>
                        <a href="" ng-click='refreshOperations()'>
                            <i class="fa fa-refresh m-r-5"></i>
                        </a>
                    </div>
                </div>
            </md-toolbar>
            <md-content layout-margin="" flex>
                <!-- <md-virtual-repeat-container id="vertical-container" style="height:100px;width: 100%;max-width: 400px;">
                    <div md-virtual-repeat="item in infiniteItems" md-on-demand class="repeated-item" flex>
                        {{item}}
                    </div>
                </md-virtual-repeat-container> -->
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat='operation in operations track by $index'
                        ng-click="loadOperation(operation.id)">
                        <div class="md-list-item-text" layout="column">
                            <div layout>
                                <div style='width: 75%;'>
                                    <div>
                                        <strong>{{operation.name}}</strong>
                                    </div>
                                    <div>{{operation.description}}</div>
                                </div>
                                <md-button class="md-fab md-mini"
                                    ng-click="setCurrentOperation(operation);showPrerenderedDialog($event, 'windowOperationDetails')">
                                    <md-tooltip md-direction="left">View Details</md-tooltip>
                                    <i class="fa fa-eye"></i>
                                </md-button>
                            </div>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <div ng-init='isInCRUDMode=false'>
            <md-button ng-click="goToCreateOperationPage()" ng-show='!isInCRUDMode'>Add Operation</md-button>
            <div ng-show='isInCRUDMode'>
                <md-button ng-click='drawRoute()' ng-enabled='buttonAddRoute.isEnabled'>{{buttonAddRoute.text}}
                </md-button>
                <md-button ng-click='drawArea()' ng-enabled='buttonAddArea.isEnabled'>{{buttonAddArea.text}}</md-button>
                <md-button ng-click='drawImage()'>{{buttonAddImage.text}}</md-button>
                <md-button ng-click='drawFlag()'>{{buttonAddFlag.text}}</md-button>
                <md-button ng-click='drawText()'>Add Text</md-button>
            </div>
        </div>
        <div style="visibility: hidden;">
            <div id='windowOperationDetails' class="md-dialog-container">
                <md-dialog layout="column" layout-align="center center">
                    <md-toolbar class="bg-teal">
                        <div class="md-toolbar-tools">
                            <h2>Track Record</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="close_dialog()">
                                <i class="fa fa-times col-white"></i>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-dialog-content>
                        <br>
                        <div>
                            <md-input-container class="md-block">
                                <label>Title</label>
                                <input ng-model='currentOperation.name' readonly>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Operation No.</label>
                                <input ng-model='currentOperation.operation_id' readonly>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Description</label>
                                <textarea ng-model='currentOperation.description' readonly></textarea>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Date Created</label>
                                <input ng-model='time' readonly>
                                </md-datepicker>
                            </md-input-container>
                            <md-button class="md-primary md-raised" ng-click="close_dialog();">
                                OK
                            </md-button>
                        </div>

                    </md-dialog-content>
                </md-dialog>
            </div>
        </div>
        <div style="visibility: hidden;">
            <div id='formSearchOperations' class="md-dialog-container">
                <md-dialog layout="column" layout-align="center center">
                    <md-toolbar class="bg-teal">
                        <div class="md-toolbar-tools">
                            <h2>Search Operations</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="close_dialog()">
                                <i class="fa fa-times col-white"></i>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-dialog-content>
                        <div></div>
                        <form name='formSearchOperation'>
                            <br>
                            <md-input-container>
                                <label>Search:</label>
                                <input ng-model='operationName' placeholder="Enter the name of operation" required>
                            </md-input-container>
                            <md-button class="md-primary md-raised" ng-click="searchOperations(operationName)"
                                ng-disabled='formSearchOperation.$invalid'>
                                OK
                            </md-button>
                        </form>
                    </md-dialog-content>
                </md-dialog>

            </div>

        </div>

        <div style="visibility: hidden;">
            <div id='windowAddText' class="md-dialog-container">
                <md-dialog layout="column" layout-align="center center">
                    <md-toolbar class="bg-teal">
                        <div class="md-toolbar-tools">
                            <h2>{{windowAnnotationTitle}}</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="close_dialog()">
                                <i class="fa fa-times col-white"></i>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-dialog-content>
                        <div></div>
                        <form name='formAnnotation'>
                            <br>
                            <md-input-container>
                                <label>Title:</label>
                                <input ng-model='annotation.title' placeholder="" required>
                            </md-input-container>
                            <md-input-container>
                                <label>Description:</label>
                                <input ng-model='annotation.description' placeholder="">
                            </md-input-container>
                            <md-button class="md-primary md-raised" ng-click="saveAnnotation(annotation)"
                                ng-disabled='formAnnotation.$invalid'>
                                OK
                            </md-button>
                        </form>
                    </md-dialog-content>
                </md-dialog>

            </div>

        </div>
        <div style="visibility: hidden;">
            <div id='windowRoute' class="md-dialog-container">
                <md-dialog layout="column" layout-align="center center">
                    <md-toolbar class="bg-teal">
                        <div class="md-toolbar-tools">
                            <h2>Route</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="close_dialog()">
                                <i class="fa fa-times col-white"></i>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-dialog-content>
                        <!-- <div > -->
                            <form name='formRoute'>
                                <div layout='column'>
                                    <br>
                                    <md-input-container>
                                        <label>Title:</label>
                                        <input ng-model='mapObject.name' placeholder="" required>
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Description:</label>
                                        <input ng-model='mapObject.description' placeholder="">
                                    </md-input-container>
                                    <md-input-container ng-hide='colorPickerIsHidden'>
                                        <label>Color:</label>
                                        <input colorpicker='hex' ng-model='mapObject.color'>
                                        </color-picker>
                                    </md-input-container>
                                    <md-button class="md-primary md-raised" ng-click="saveRoute(mapObject)"
                                        ng-disabled='formRoute.$invalid'>
                                        OK
                                    </md-button>
                                </div>
                            </form>
                        <!-- </div> -->
                    </md-dialog-content>
                </md-dialog>

            </div>

        </div>
        <button ngf-capture="'camera'" ngf-select="addToImageArea($file)" ng-model="file" name="file"
            ngf-pattern="'image/*'" ngf-accept="'image/*'" accept="image/*" ng-show=false id='imageUploader'>
        </button>
    </div>
</div>