<style>
    textarea {
        width: 100%
    }
</style>
<!-- <div style="width:90%" ng-controller="SEPController" ng-init="currentItem=n"> -->
<div style="width:90%">
    <div ng-include="'./app/templates/application/style.html'"></div>

    <p>
        <div class="align-center">
            {{ n.line1 = 'SEP CLERANCE'}}<br>
            <input ng-model="currentItem.line2" ng-blur="updateDocument(currentItem.id,{'line2': currentItem.line2})">
        </div>

    </p>
    <br>
    <p>
        <textarea 
            ng-model="currentItem.line3" 
            ng-blur="updateDocument(currentItem.id,{'line3': currentItem.line3})">
        </textarea>
    </p>
    <p>
        <span class="m-l-50"></span>
        <div ng-init="titles=['Name of Project', 'Project Location (Street, Sitio, Barangay, Municipality)',
			'Name of Proponents', 'Address of Proponent']"></div>
        <div class="align-center" ng-repeat="x in [1, 3, 5, 7]">
            <div>
                <input ng-model="currentItem['line'+(x+3)]" ng-blur="lines={}; lines['line'+(x+3)]=currentItem['line'+(x+3)];
                    updateDocument(currentItem.id, lines)">
            </div>
            <div>
                <input ng-model="currentItem['line'+(x+4)]" ng-blur="lines={}; lines['line'+(x+4)]=currentItem['line'+(x+4)];
                    updateDocument(currentItem.id, lines)">
                </div>
            <br>
        </div>

    </p>
    <p>
        <textarea ng-model="currentItem.line12" ng-blur="updateDocument(currentItem.id, {line12:currentItem.line12})">

        </textarea>
    </p>
    <p>
        <div layout>
            <div style="width:60%">&nbsp;</div>
            <div>
                <input ng-model="currentItem.line13" ng-blur="updateDocument(currentItem.id, {line13: currentItem.line13})"><br>
                <input ng-model="currentItem.line14" ng-blur="updateDocument(currentItem.id, {line14: currentItem.line14})">
            </div>
        </div>
    </p>
    <p>
        <div>
            <input ng-model="currentItem.line15" ng-blur="updateDocument(currentItem.id, {line15: currentItem.line15})"><br>
            <input ng-model="currentItem.line16" ng-blur="updateDocument(currentItem.id, {line16: currentItem.line16})"><br>
            <input ng-model="currentItem.line17" ng-blur="updateDocument(currentItem.id, {line17: currentItem.line17})">
        </div>
    </p>
    <br>
    <p>
        <input ng-model="currentItem.line18" ng-blur="updateDocument(currentItem.id, {line18: currentItem.line18})"><br>
    </p>
    <p>
        <div>
            <input ng-model="currentItem.line19" ng-blur="updateDocument(currentItem.id, {line19: currentItem.line19})"><br>
            <input ng-model="currentItem.line20" ng-blur="updateDocument(currentItem.id, {line20: currentItem.line20})">
        </div>
    </p>
    <br>
    <hr>
    <div class="align-center">
        <input ng-init="currentItem.line21='TERMS AND CONDITIONS'" ng-model="currentItem.line21"
        ng-blur="updateDocument(currentItem.id, {line21: currentItem.line21})">
    </div>
    <br>
    <div>
        <textarea ng-init="currentItem.line22='This Clearance is issued  subject to the terms and conditions stipulated below:'"
            ng-model="currentItem.line22"
            ng-blur="updateDocument(currentItem.id, {line22: currentItem.line22})"></textarea>
    </div>
    
    <ul
        ng-init='[
            "The proponent shall pay the penalty of fine in an amount of not less than Php 50,000.00 for violating section 
            22.4 of PCSD Admin Order No 06, \"Operating any project without the required SEP Clearance;\"",
            ""
        ]'
    >
        <li>

        </li>
    </ul>
    <br>
    <p>
        <textarea ng-init="currentItem.line24='Non-compliance with any of the above condition shall sufficient cause for the suspension 
            or cancellation of the clearance and/or penalty in an amount not less than FIFTY THOUSAND PESOS (P50,000.00) 
            for every violation thereof pursuant to Section 23.4 of PCSD Admin. Order No 06, as amended.'"
            ng-model="currentItem.line24"
            ng-blur="updateDocument(currentItem.id, {line24: currentItem.line24})">
        </textarea> 
    </p>
    <br>
    <p>
        <input ng-init="currentItem.line25='CONFORME'" ng-model="currentItem.line25" 
        ng-blur="updateDocument(currentItem.id, {line25: currentItem.line25})">
    </p>
    <p>
        <textarea ng-init="currentItem.line26='I, ' + currentItem.proponent.name + ' proponent/grantee of the foregoing Clearance, 
            hereby certify that I have read and understood the Terms and Conditions for which this SEP Clearance is issued 
            and I hereby express my confomity thereto and my commitment to abide by the provision of Republic Act 7611, 
            PCSD Adminstrative Order No 06, as amended, and other PCSD policies related thereto.'"
            ng-model="currentItem.line26"
            ng-blur="updateDocument(currentItem.id, {line26: currentItem.line26})">
        </textarea>
    </p>
    <p>
        <input ng-model="currentItem.proponent.name" ng-blur="updateDocument(currentItem.id, {line20: currentItem.line20})"><br>
        <input ng-init="currentItem.line27='Signature over Printed Name'" ng-model="currentItem.line27"
        ng-blur="updateDocument(currentItem.id, {line27: currentItem.line27})">
        <br>
        <input ng-init="currentItem.line28='Date Signed: '" ng-model="currentItem.line28"
        ng-blur="updateDocument(currentItem.id, {line28: currentItem.line28})">
    </p>
    <br>
    <textarea ng-init="currentItem.line29='SUBSCRIBED AND SWORN to before me this ' + 
    to_day_of_month(date_now('YYYY-MM-DD')) +' day of ' 
        + get_full_month_name(date_now('YYYY-MM-DD')) +' ' +to_year(date_now('YYYY-MM-DD')) + ' in Puerto Princesa City affiant exhibiting to me valid 
        government identification no. '" ng-model="currentItem.line29"
        ng-blur="updateDocument(currentItem.id, {line29: currentItem.line29})"></textarea>
    <br><br>
    <input ng-init="currentItem.line30='Doc No. '" ng-model="currentItem.line30"
    ng-blur="updateDocument(currentItem.id, {line30: currentItem.line30})">
    <input ng-init="currentItem.line31='Page No. '" ng-model="currentItem.line31"
    ng-blur="updateDocument(currentItem.id, {line31: currentItem.line31})">
    <input ng-init="currentItem.line32='Book No. '" ng-model="currentItem.line32"
    ng-blur="updateDocument(currentItem.id, {line32: currentItem.line32})">
    <input ng-init="currentItem.line33='Series of. '" ng-model="currentItem.line33"
    ng-blur="updateDocument(currentItem.id, {line33: currentItem.line33})">
    <br>
</div>