<script>
    // var map;
    // function initMap() {
    //     map = new google.maps.Map(document.getElementById('map'), {
    //     center: {lat: 9.784568, lng: 118.7340907},
    //     zoom: 9
    //     });
    // }
</script>
<!-- <div class="coordinate-map-view" id="map" style="height:300px"></div> -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJnCE34jNQ8mfQAcBt1zlGj5CJZwaOYfM&callback=initMap" async defer></script> -->
<section layout-xs="column" layout-gt-xs="row" ng-controller="applications_controller" 
    ng-init="set_page_title('Online Applications');load_db(0);active_btn = 'New';load_pending();">

        <div layout="column" style="width:300px" class="p-r-10" ng-style="{ height: (iframeHeight - 48) + 'px' }">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="search_application_box"> <i class="fa fa-search"></i> </span>
                </div>
                <input class="form-control" ng-model="search_application" placeholder="Search Application" aria-label="Search Application" aria-describedby="search_application_box">
            </div>
            
            <div layout="row" layout-align="center center" layout-padding>
                <md-button class="md-icon-button" aria-label="New" 
                    ng-click="load_db(0);active_btn = 'New';">
                    <md-tooltip md-direction="top">NEW</md-tooltip>
                    <i class="fa fa-bolt col-green font-18"></i>
                </md-button>

                <md-button class="md-icon-button" aria-label="PROCESSING" 
                    ng-click="load_db(1);active_btn = 'PROCESSING';">
                    <md-tooltip md-direction="top">PROCESSING</md-tooltip>
                    <i class="fa fa-hand-rock-o col-yellow font-18"></i>
                </md-button>

                <md-button class="md-icon-button" aria-label="REVIEWING" 
                ng-click="load_db(3);active_btn = 'REVIEWING';">
                    <md-tooltip md-direction="top">REVIEWING</md-tooltip>
                    <i class="fa fa-file-o col-pink font-18"></i>
                </md-button>

                <md-button class="md-icon-button" aria-label="RECOMMENDING" 
                ng-click="load_db(4);active_btn = 'RECOMMENDING';">
                    <md-tooltip md-direction="top">RECOMMENDING</md-tooltip>
                    <i class="fa fa-check-square col-orange font-18"></i>
                </md-button>

                <md-button class="md-icon-button" aria-label="APPROVAL" 
                ng-click="load_db(5);active_btn = 'APPROVAL';">
                    <md-tooltip md-direction="top">APPROVAL</md-tooltip>
                    <i class="fa fa-thumbs-o-up col-blue font-18"></i>
                </md-button>

                <md-button class="md-icon-button" aria-label="RELEASING" 
                ng-click="load_db(6);active_btn = 'RELEASING';">
                    <md-tooltip md-direction="top">RELEASING</md-tooltip>
                    <i class="fa fa-file-text col-teal font-16"></i>
                </md-button>

                <md-button class="md-icon-button" aria-label="Used" 
                ng-click="load_db(7);active_btn = 'Used';">
                    <md-tooltip md-direction="top">Used</md-tooltip>
                    <i class="fa fa-signing font-18"></i>
                </md-button>

                <md-button class="md-icon-button" aria-label="Rejected" 
                ng-click="load_db(2);active_btn = 'Rejected';">
                    <md-tooltip md-direction="top">Rejected</md-tooltip>
                    <i class="fa fa-thumbs-o-down col-grey font-16"></i>
                </md-button>

            </div>

            <h4 class="align-center" 
                ng-class="{'col-green': (active_btn == 'New'),
                            'col-yellow': (active_btn == 'PROCESSING'),
                            'col-orange': (active_btn == 'RECOMMENDING'),
                            'col-pink': (active_btn == 'REVIEWING'),
                            'col-blue': (active_btn == 'APPROVAL'),
                            'col-teal': (active_btn == 'RELEASING'),
                            'col-grey': (active_btn == 'Rejected')
                        }">
                {{active_btn}} <small class="badge badge-info">{{application_list.length}}</small> 
            </h4>
            <md-content flex>
                <md-list class="md-dense" >
                    <md-list-item class="md-3-line" ng-repeat="x in application_list | orderBy:'-date' | filter : search_application track by $index" 
                        ng-click="open_application_tab(x)">
                        <img ng-src="{{api_address}}/{{x.user.data.profile_picture}}" class="md-avatar" alt="{{x.name}}" />
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ x.user.data.full_name }}</h3>
                            <h4>{{ x.name }}</h4>
                            <p>{{x.date | date}} 
                                <i class="fa fa-circle" 
                                ng-class="{'col-green': (x.status == '0'),
                                'col-orange': (x.status == '4'),
                                'col-yellow': (x.status == '1'),
                                'col-pink': (x.status == '3'),
                                'col-blue': (x.status == '5'),
                                'col-teal': (x.status == '6'),
                                'col-grey': (x.status == '7')}"></i> 
                                #{{x.date}}
                            </p>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>
                    <hr>
                </md-list>
            </md-content>

            <h4 class="md-title align-center bg-grey" layout-padding> My Pending </h4>
            <md-content flex="25" ng-class="{'bg-pink':(pending_list.length > 0)}">
                <md-list class="md-dense" >
                    <md-list-item class="md-3-line" ng-repeat="x in pending_list | orderBy:'-date' track by $index" 
                        ng-click="open_application_tab(x)">
                        <img ng-src="{{api_address}}/{{x.user.data.profile_picture}}" class="md-avatar" alt="{{x.name}}" />
                        <div class="md-list-item-text" layout="column">
                            <h3 class="col-white">{{ x.user.data.full_name }}</h3>
                            <h4 class="col-white">{{ x.name }}</h4>
                            <p class="col-white">{{x.date | date}}, #{{x.date}} </p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>

        </div>
        <div flex layout-padding="20" class="" layout="row">
            <md-card md-whiteframe="3" flex layout="row">
                <md-card-content flex layout="row">
                        <md-tabs flex md-selected="selectedTab" md-border-bottom md-autoselect md-swipe-content>
                            <md-tab ng-repeat="(f,tab) in tabs" label="{{tab.title}} : #{{tab.application.date || tab.staff.id_number || tab.date}}">
                                <!-- Application Documents -->
                                <div ng-show="f == 'application' || f == 'pending'">
                                    <div ng-hide="true"> {{application = tab.application}} </div>
                                    <!-- Templates -->
                                    <div ng-repeat=" x in application_templates" ng-show="application.name == x.name">
                                        <div layout="row">
                                            <div flex></div>
                                            <md-button class="md-fab md-mini" aria-label="Print Document" ng-click="open_window_view(x.url,tab.application)">
                                                <md-tooltip md-direction="left">Print this document</md-tooltip>
                                                <i class="fa fa-print" ></i> 
                                            </md-button>     
                                        </div>
                                        <div ng-include="x.url"></div>
                                        <md-divider class="m-t-20 m-b-10"></md-divider>
                                        <p ng-hide="is_online">No internet connection...</p>
                                        <div layout="row" ng-show="is_online">
                                            <div flex></div>
                                            <md-button class="md-fab md-mini" aria-label="Print Remarks" ng-click="open_window_view('app/templates/print/application_remarks.html',tab.application)">
                                                <md-tooltip md-direction="left">Print remarks</md-tooltip>
                                                <i class="fa fa-print" ></i> 
                                            </md-button>     
                                        </div>
                                        <div ng-include="x.action" ng-show="is_online"></div>
                                    </div>
                                    <md-divider></md-divider>
                                    <md-button class="md-primary" ng-click="removeTab('application')">
                                        Close
                                    </md-button>
                                </div>

                                <!-- Action Receipt -->
                                <div ng-show="f == 'receipt'" layout="column" layout-align="center center">
                                    
                                    <md-card class="m-t-100">
                                        <md-card-title>
                                            <img src="./images/pcsdlogo.png" alt="pcsd" height="30px" class="m-r-5">
                                            <h3 class="col-grey">Action Receipt</h3>
                                            <div flex></div>
                                            <md-button class="md-fab md-mini" aria-label="Print Document" ng-click="open_window_view('app/templates/print/action_receipt.html',tab)">
                                                <md-tooltip md-direction="left">Print receipt</md-tooltip>
                                                <i class="fa fa-print" ></i> 
                                            </md-button>                    
                                        </md-card-title>
                                        <md-divider></md-divider>
                                        <md-card-content>
                                            <p>
                                                {{tab.message}}
                                            </p>
                                            <p>
                                                Date : {{tab.date | date}}
                                            </p>
                                        </md-card-content>
                                        <md-divider></md-divider>
                                        <md-card-action layout="row">
                                            <div flex></div>
                                            <md-button class="md-primary" ng-click="removeTab('receipt')">
                                                Close
                                            </md-button>

                                        </md-card-action>
                                    </md-card>
                                </div>
                                <!-- Personnal Chat -->
                                <div ng-show="f == 'personal_chat'" >
                                    <h6 class="md-title col-grey m-b-20 m-t-20">
                                        <i class="fa fa-circle" ng-class="{'col-green': calculate_if_online(tab.staff.last_seen) }"></i> 
                                        Last active : {{date_gap(now(),tab.staff.last_seen)}}
                                    </h6>
                                    <md-content id="spc_message_box" layout-padding ng-style="{ height: (iframeHeight - 370) + 'px' }">
                                        <div ng-if="tab.tread.length > 0"  ng-repeat="x in tab.tread track by x.date " ng-init="passTime = date_gap(now(),x.date)">
                                            <strong class="m-l-20 col-grey"> {{x.staff}} | <cite class="m-l-20 font-9"> {{passTime}} </cite> </strong>
                                            <div class="m-l-40"><span class="{{'spc_' + $index }}" ></span></div>
                                            <i ng-init="load_html(x.message,$index,'spc_')"></i>
                                            <i class="fa fa-trash col-red pointer" ng-dblclick="remove_spc(tab.staff,x)" ng-show="is_online">
                                                <md-tooltip md-direction="top">Double Click to remove this message</md-tooltip>
                                            </i>
                                            <hr>
                                        </div>
                                    </md-content>
                                    <p ng-hide="is_online">No internet connection...</p>
                                    <div ng-show="is_online">
                                        <form name="form_add_tread_pc">
                                            <div layout="row">
                                                <textarea flex accept-charset="ISO-8859-1" ng-model="pc_tread_message[''+tab.staff.id]" rows="3" placeholder="message"></textarea>
                                            </div>
                                            <md-button type="submit" ng-disabled="pc_tread_message[''+tab.staff.id] == undefined" ng-click="pc_tread(tab.staff.id,pc_tread_message[''+tab.staff.id])" class="md-raised" >
                                                <cite class="font-12"> <i class="fa fa-send"></i> Send Message</cite>
                                            </md-button>
                                        </form>
                                    </div>
                                    <md-divider></md-divider>
                                    <md-button class="md-primary" ng-click="removeTab('personal_chat')">
                                        Close
                                    </md-button>
                                </div>
                            </md-tab>
                        </md-tabs>
                </md-card-content>
            </md-card>
        </div>

        <div layout="column" layout-align="center center">
            <md-button class="md-fab md-mini bg-teal" aria-label="Chats" ng-click="toggleChatNav(1,'Personnal Chats')">
                    <md-tooltip md-direction="left">Personnal Chats</md-tooltip>
                <i class="fa fa-comments-o"></i>
            </md-button>
            <md-button class="md-fab md-mini bg-teal" aria-label="Chats" ng-click="toggleChatNav(2,'Group Chat')">
                <md-tooltip md-direction="left">Group Chat</md-tooltip>
                <i class="fa fa-users"></i>
            </md-button>
            <md-button class="md-fab md-mini bg-teal" aria-label="Chats" ng-click="toggleChatNav(3,'Client Chats')">
                <md-tooltip md-direction="left">Client Chats</md-tooltip>
                <i class="fa fa-commenting-o"></i>
            </md-button>
            <md-button class="md-fab md-mini bg-teal" aria-label="Logs" ng-click="toggleChatNav(4,'Action Logs')">
                <md-tooltip md-direction="left">Action Logs</md-tooltip>
                <i class="fa fa-history"></i>
            </md-button>

            <!-- datasets -->
            <md-menu-bar ng-controller="database_permit_controller" ng-show="validate_user([4,5,6,7,8])">
                <md-menu>
                    <md-button class="md-fab md-mini bg-teal" aria-label="Datasets" ng-click="$mdMenu.open($event)">
                        <md-tooltip md-direction="left">Database Sets</md-tooltip>
                        <i class="fa fa-database"></i>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item ng-if="!check_empty('wsup')">
                            <md-button aria-label="WSUP" 
                            ng-click="open_database('wsup')">
                                <small>WSUP</small>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="!check_empty('sep')">
                            <md-button aria-label="SEP" 
                            ng-click="open_database('sep')">
                                <small>SEP</small>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="!check_empty('apprehension')">
                            <md-button aria-label="APPREHENSION" 
                                ng-click="open_database('apprehension')">
                                    <small>APPREHENSION</small>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="!check_empty('admin_cases')" >
                            <md-button aria-label="ADMIN_CASES" 
                            ng-click="open_database('admin_cases')">
                                <small>Admin Cases</small>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
                                
        </div>

        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="chats_nav">

            <md-toolbar class="bg-teal">
                <h1 class="md-toolbar-tools">{{chatNav.title}}</h1>
            </md-toolbar>
            <md-content layout-padding>
                <!-- Personal Chat -->
                <md-content flex ng-if="chatNav.idx == 1">
                    <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="search_staff_box"> <i class="fa fa-search"></i> </span>
                            </div>
                            <input class="form-control" ng-model="search_staff" placeholder="Search Staff" aria-label="Search Staff" aria-describedby="search_staff_box">
                        </div>
                    <md-list class="md-dense" >
                        <md-list-item class="md-3-line" ng-repeat="x in staff_list | orderBy:'-last_seen' | filter : search_staff track by $index" 
                            ng-click="open_personal_chat(x)">
                            <img ng-src="./images/user.png" class="md-avatar" alt="{{x.data.fist_name}}" />
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ x.data.first_name }} {{ x.data.last_name }}</h3>
                                <h4>{{ getUserType(x.user_level) }}</h4>
                                <p>
                                    <i class="fa fa-circle" ng-class="{'col-green': calculate_if_online(x.last_seen) }"></i> 
                                    #{{x.id_number}}
                                </p>
                                <md-divider></md-divider>
                            </div>
                        </md-list-item>
                        <hr>
                    </md-list>
                </md-content>
                <!-- Action Logs -->
                <md-content flex ng-if="chatNav.idx == 4">
                    <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="search_log_box"> <i class="fa fa-search"></i> </span>
                            </div>
                            <input class="form-control" ng-model="search_log" placeholder="Search Log" aria-label="Search Log" aria-describedby="search_log_box">
                        </div>
                    <md-list class="md-dense" >
                        <md-list-item class="md-3-line" ng-repeat="x in log_list | orderBy:'-date' | filter : search_log track by x.date" 
                            ng-click="open_receipt_tab(x.message,x.date);closeChatNav();">
                            <div class="md-list-item-text" layout="column">
                                <p>
                                    {{x.message}}
                                </p>
                                <h4>{{ x.date | date }}</h4>
                                <md-divider></md-divider>
                            </div>
                        </md-list-item>
                        <hr>
                    </md-list>
                </md-content>
            </md-content>
        
        </md-sidenav>
</section>