
<div layout="row">
    <div flex layout-gt-xs="row" layout-xs="column">
        <div>
            <img src="https://document-network.web.app/pcsd/images/pcsdlogo.png" class="p-t-5" style="width:160px;">
        </div>
        <div flex layout-align="center" class="m-l-20">
            <br>
            <h4 ><strong>Republic of the Philippines</strong> <br>
                <small>Republic Act 7611</small><br>
                <small>PALAWAN COUNCIL FOR SUSTAINABLE DEVELOPMENT</small>
            </h4>
        </div>
    </div>
</div>