<div style="visibility: hidden">
    <div class="md-dialog-container" id="addWSUP">
        <md-dialog layout="column" layout-align="center center">
            <form ng-cloak name="form_add_wsup">
                <md-toolbar class="bg-teal">
                    <div class="md-toolbar-tools">
                        <h2>Add new WSUP Data</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="close_dialog()">
                            <i class="fa fa-times col-white"></i>
                        </md-button>
                    </div>
                </md-toolbar>
            
                <md-dialog-content layout-padding class="p-b-20">
                    <hr>

                    <div layout-gt-sm layout-sm="column">
                        <md-input-container class="md-block">
                            <label>Permit No.</label>
                            <input ng-model="n.Permit_No" required>
                        </md-input-container> 

                        <div flex>
                            <strong>Corporation</strong>
                            <md-autocomplete
                                class="md-block" flex-gt-sm="100"
                                md-selected-item="n.Corporation"
                                md-search-text="Corporation"
                                md-search-text-change="n.Corporation = Corporation"
                                md-items="x in selectItems.Corporation | filter : Corporation"
                                md-item-text="x"
                                md-min-length="0"
                                placeholder="Corporation">
                                <md-item-template>
                                {{x}}
                                </md-item-template>
                            </md-autocomplete>
                        </div>

                        <div flex>
                            <strong>Project Type</strong>
                            <md-autocomplete
                                class="md-block" flex-gt-sm="100"
                                md-selected-item="n.Project_Type"
                                md-search-text="Project_Type"
                                md-search-text-change="n.Project_Type = Project_Type"
                                md-items="x in selectItems.Project_Type | filter : Project_Type"
                                md-item-text="x"
                                md-min-length="0"
                                placeholder="Project Type">
                                <md-item-template>
                                {{x}}
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                    </div>

                    <div layout-gt-sm layout-sm="column">
                        <md-input-container class="md-block" flex>
                            <label>First Name</label>
                            <input ng-model="n.First_Name" required>
                        </md-input-container> 
    
                        <md-input-container class="md-block" >
                            <label>Middle Name</label>
                            <input ng-model="n.Middle_Name" >
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label>Last_Name</label>
                            <input ng-model="n.Last_Name" required>
                        </md-input-container> 
    
                        <md-input-container class="md-block">
                            <label>Extension_Name</label>
                            <input ng-model="n.Extension_Name" >
                        </md-input-container>
                    </div>
                    
                    <div layout-gt-sm layout-sm="column">
                        
                        <div>
                            <strong>Municipality</strong>
                            <md-autocomplete
                                class="md-block" flex-gt-sm="100"
                                md-selected-item="n.Municipality"
                                md-search-text="Municipality"
                                md-search-text-change="n.Municipality = Municipality"
                                md-items="x in selectItems.Municipality | filter : Municipality"
                                md-item-text="x"
                                md-min-length="0"
                                placeholder="Municipality">
                                <md-item-template>
                                {{x}}
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                        
                        <div>
                            <strong>Barangay</strong>
                            <md-autocomplete
                                class="md-block" flex-gt-sm="100"
                                md-selected-item="n.Barangay"
                                md-search-text="Barangay"
                                md-search-text-change="n.Barangay = Barangay"
                                md-items="x in selectItems.Barangay | filter : Barangay"
                                md-item-text="x"
                                md-min-length="0"
                                placeholder="Barangay">
                                <md-item-template>
                                {{x}}
                                </md-item-template>
                            </md-autocomplete>
                        </div>

                        <md-input-container flex class="md-block">
                            <label>Street</label>
                            <input ng-model="n.Street" >
                        </md-input-container>
                    </div>


                    <div layout-gt-sm layout-sm="column">
                        <md-input-container class="md-block" flex>
                            <label>Contact</label>
                            <input ng-model="n.Contact" >
                        </md-input-container> 
    
                        <div >
                            <strong>Issued Month</strong>
                            <md-autocomplete
                                class="md-block" flex-gt-sm="100"
                                md-selected-item="n.Issued_Month"
                                md-search-text="Issued_Month"
                                md-search-text-change="n.Issued_Month = Issued_Month"
                                md-items="x in selectItems.Issued_Month | filter : Issued_Month | orderBy : x"
                                md-item-text="x"
                                md-min-length="0"
                                placeholder="Issued Month">
                                <md-item-template>
                                {{x}}
                                </md-item-template>
                            </md-autocomplete>
                        </div>
    
                        <div >
                            <strong>Issued Day</strong>
                            <md-autocomplete
                                class="md-block" flex-gt-sm="100"
                                md-selected-item="n.Issued_Day"
                                md-search-text="Issued_Day"
                                md-search-text-change="n.Issued_Day = Issued_Day"
                                md-items="x in selectItems.Issued_Day | filter : Issued_Day | orderBy : x"
                                md-item-text="x"
                                md-min-length="0"
                                placeholder="Issued Day">
                                <md-item-template>
                                {{x}}
                                </md-item-template>
                            </md-autocomplete>
                        </div>
    
                        <div >
                            <strong>Issued Year</strong>
                            <md-autocomplete
                                class="md-block" flex-gt-sm="100"
                                md-selected-item="n.Issued_Year"
                                md-search-text="Issued_Year"
                                md-search-text-change="n.Issued_Year = Issued_Year"
                                md-items="x in selectItems.Issued_Year | filter : Issued_Year | orderBy : -x"
                                md-item-text="x"
                                md-min-length="0"
                                placeholder="Issued Year">
                                <md-item-template>
                                {{x}}
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                    </div>
                    
                    <div layout-gt-sm layout-sm="column">
                        <div flex>
                            <strong>Type</strong>
                            <md-autocomplete
                                class="md-block" flex-gt-sm="100"
                                md-selected-item="n.Type"
                                md-search-text="Type"
                                md-search-text-change="n.Type = Type"
                                md-items="x in selectItems.Type | filter : Type"
                                md-item-text="x"
                                md-min-length="0"
                                placeholder="Type">
                                <md-item-template>
                                {{x}}
                                </md-item-template>
                            </md-autocomplete>
                        </div>
    
                        <div >
                            <strong>Validity Month</strong>
                            <md-autocomplete
                                class="md-block" flex-gt-sm="100"
                                md-selected-item="n.Validity_Month"
                                md-search-text="Validity_Month"
                                md-search-text-change="n.Validity_Month = Validity_Month"
                                md-items="x in selectItems.Issued_Month | filter : Validity_Month | orderBy : x"
                                md-item-text="x"
                                md-min-length="0"
                                placeholder="Validity Month">
                                <md-item-template>
                                {{x}}
                                </md-item-template>
                            </md-autocomplete>
                        </div>
    
                        <div >
                            <strong>Validity Day</strong>
                            <md-autocomplete
                                class="md-block" flex-gt-sm="100"
                                md-selected-item="n.Validity_Day"
                                md-search-text="Validity_Day"
                                md-search-text-change="n.Validity_Day = Validity_Day"
                                md-items="x in selectItems.Issued_Day | filter : Validity_Day | orderBy : x"
                                md-item-text="x"
                                md-min-length="0"
                                placeholder="Validity Day">
                                <md-item-template>
                                {{x}}
                                </md-item-template>
                            </md-autocomplete>
                        </div>
    
                        <div >
                            <strong>Validity Year</strong>
                            <md-autocomplete
                                class="md-block" flex-gt-sm="100"
                                md-selected-item="n.Validity_Year"
                                md-search-text="Validity_Year"
                                md-search-text-change="n.Validity_Year = Validity_Year"
                                md-items="x in selectItems.Validity_Year | filter : Validity_Year | orderBy : -x"
                                md-item-text="x"
                                md-min-length="0"
                                placeholder="Validity Year">
                                <md-item-template>
                                {{x}}
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                    </div>
                    
                    <br>
                    <md-input-container class="md-block">
                        <label>Remarks</label>
                        <textarea ng-model="n.Remarks" md-maxlength="950" rows="5" md-select-on-focus></textarea>
                    </md-input-container>

                    <hr>
                </md-dialog-content>
            
                <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="close_dialog()">
                    Close
                </md-button>
                <md-button class="md-primary md-raised" ng-disabled="form_add_wsup.$invalid" 
                    ng-click="addWSUPData(n);">
                    Create Draft
                </md-button>
                </md-dialog-actions>
            </form>

        </md-dialog>
    </div>
</div>