<div ng-init="set_page_title('Dashboard');" ng-controller="dashboard_controller" layout="row" layout-align="center center">

    <md-card>
        <md-card-title>
            <div class="md-title">Notifications</div>
        </md-card-title>
        <md-card-content>
            <md-list>
                <md-list-item ng-click="null">
                    dd
                </md-list-item>
                <md-list-item ng-click="null">
                    gfgg
                </md-list-item>
                <md-list-item ng-click="null">
                    sdsd dsds sdsd s
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
    
</div>