<div ng-controller="profile_controller" ng-init="set_page_title('My Profile')">

    <div layout-gt-xs="row" layout-xs="column">
        <!-- User Photo -->
        <div flex-gt-xs="35" layout-padding  ng-show="!is_using_camera"
            ngf-drop ng-model="picFile"
            ngf-allow-dir="true"
            ngf-drag-over-class="'dragover'"
            ngf-multiple="false"
            ngf-pattern="image/*"
            >

            <img ng-hide="is_croping_image()" ng-src="{{ (user.data.profile_picture == undefined)? 'images/user.png' : api_address + user.data.profile_picture }}" alt="use" width="100%" md-whiteframe="3">

            <img class="align-center" ng-show="is_croping_image()" ng-src="{{croppedDataUrl}}" />

            <img-crop ng-show="is_croping_image()" image="picFile  | ngfDataUrl"                 
                result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
            </img-crop>

            <md-progress-linear ng-show="upload_process()" md-mode="determinate" value="{{profile_uploading_rate}}"></md-progress-linear>
            <hr>

            <md-button ng-hide="is_croping_image()" ngf-capture="'camera'" 
                ngf-select ng-model="picFile" accept="image/*">
                Upload Picture
            </md-button>


            <md-button ng-click="toggle_using_camera()">
                Use Camera
            </md-button>

            <md-button ng-show="is_croping_image() && !upload_process()" ng-click="change_profile(croppedDataUrl, picFile.name)">Save</md-button> 
            <md-button ng-show="is_croping_image() && !upload_process()" ng-click="clear_cropping_image()" >Cancel</md-button>
            

        </div>

        <div layout="column" ng-if="is_using_camera">

            <div ng-hide="fromCamera == undefined" class="align-center"><img ng-src="{{croppedDataUrl}}" /></div>
            <md-button ng-if="fromCamera != undefined" ng-click="change_profile(croppedDataUrl, 'camera_captured_image.jpg')" >
                Save Image
            </md-button>
            
            <img-crop ng-hide="fromCamera == undefined" image="fromCamera"                 
                result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
            </img-crop>

            <ng-camera
                capture-message="Captured!"
                countdown="3"
                viewer-height="375"
                viewer-width="500"
                crop-height="375"
                crop-width="500"
                output-height="525"
                output-width="700"
                image-format="jpeg"
                jpeg-quality="100"
                action-message="Use this image"
                snapshot="fromCamera"
                shutter-url="shutter.mp3"
            ></ng-camera>
            <md-button ng-click="toggle_using_camera();picFile = null">
                Cancel
            </md-button>
        </div>

        <!-- Profile details -->
        <div flex-gt-xs class="p-l-20">
            <hr>
                <strong class="col-grey" >User Name :</strong> {{user.user_name}}
            <hr>
                <div>
                    <i class="fa fa-edit pointer col-blue" ng-click="showPrerenderedDialog($event,'fullname_modal');clear_edit_pass();">
                        <md-tooltip md-direction="top">
                            edit full name
                        </md-tooltip>
                    </i>
                    <strong class="col-grey">Full Name :</strong> {{user.data.first_name}} {{user.data.middle_name}} {{user.data.last_name}} {{user.data.extension_name}}
                </div>
            <hr>
                <i class="fa fa-edit pointer col-blue" ng-click="showPrerenderedDialog($event,'address_modal');clear_edit_pass();">
                    <md-tooltip md-direction="top">
                        edit address
                    </md-tooltip>
                </i>
                <strong class="col-grey">Address :</strong> {{user.data.current_address}}
            <hr>
                <i class="fa fa-edit pointer col-blue" ng-click="showPrerenderedDialog($event,'contact_modal');clear_edit_pass();">
                    <md-tooltip md-direction="top">
                        edit contact number
                    </md-tooltip>
                </i>
                <strong class="col-grey">Phone :</strong> {{user.data.current_phone}}
            <hr>
                <md-card>
                    <md-card-content>
                        <i class="fa fa-edit pointer col-blue" ng-click="showPrerenderedDialog($event,'personal_modal');clear_edit_pass();">
                            <md-tooltip md-direction="top">
                                edit Personal Info
                            </md-tooltip>
                        </i>
                        <strong class="col-grey">Personal Information </strong> <br>
                        <small>Birth Day</small> : {{user.data.birth_day}} ({{date_from_now(user.data.birth_day).split(' ')[0]}} years old this year) <br>
                        <small>Birth Place Address :</small> : {{user.data.place_of_birth}} <br>
                            <small>Nationality</small> : {{user.data.nationality}} <br>
                            <small>Gender</small> : {{user.data.gender}} <br>
                            <small>Civil Status</small> : {{user.data.civil_status}} 
                            <div ng-if="user.data.civil_status == 'married'">
                                <small>Spouse Name</small> : {{user.data.spouse_name}} <br>
                            </div>
                            <small>Father</small> : {{user.data.father}} <br>
                            <small>Mother</small> : {{user.data.mother}} <br>
                    </md-card-content>
                </md-card>
        </div>
    </div>


    <div layout-gt-sm="row">

        <!-- Edit Profile Data -->
        <md-card>
            <md-card-content>
                <i class="fa fa-edit pointer col-blue" ng-click="showPrerenderedDialog($event,'gID_modal');clear_edit_pass();">
                    <md-tooltip md-direction="top">
                        edit Government ID
                    </md-tooltip>
                </i>
                <strong class="col-grey">Government Issued Identification </strong> <br>
                    <small>Tax Identification Number</small> : {{user.data.tin_no}} <br>
                    <small>ID Name</small> : {{user.data.gov_id.name}} <br>
                    <small>ID Number</small> : {{user.data.gov_id.number}} <br>
                    <small>Date Issued</small> : {{user.data.gov_id.date_issued}} <br>
                    <small>Place Issued</small> : {{user.data.gov_id.place_issued}} <br>
                    <small>Valid Until</small> : {{user.data.gov_id.valid_until}} <br>
            </md-card-content>
        </md-card>

        <!-- Uploads -->
        <md-card>
            <md-card-content>
                <div flex 
                    ng-change="upload_files(file_drop)"
                    ngf-drop ng-model="file_drop"
                    ngf-allow-dir="true"
                    multiple
                    ngf-drag-over-class="'dragover'"
                    ngf-multiple="true">
                    <h5 class="col-blue-grey">
                        My Uploads : 
                    </h5>
                    <ol ng-if="user.data.uploads != undefined">
                        <li ng-repeat="x in user.data.uploads" > {{x.name}} - 
                        <i class="fa fa-trash col-red pointer" 
                            ng-dblclick="user.data.uploads.splice($index,1);update_profile('uploads',user.data.uploads)">
                                <md-tooltip md-direction="top">
                                    double click to remove file
                                </md-tooltip>
                            </i>
                        </li>
                    </ol>
                    <md-progress-linear md-mode="indeterminate" ng-show="uploading_file"></md-progress-linear>
                    <md-button class="md-raised" ngf-select="upload_files($files)">
                        Select Upload
                    </md-button>
                </div>
            </md-card-content>
        </md-card>

        <!-- Chainsaw -->
        <md-card>
            <md-card-content>
                <i class="fa fa-plus pointer col-blue" ng-click="showPrerenderedDialog($event,'add_chainsaw_modal')">
                    <md-tooltip md-direction="top">
                        Add Chainsaw
                    </md-tooltip>
                </i>
                <strong class="col-grey">My Chainsaw List</strong> <br>
                <div>
                    <ol>
                        <li ng-repeat="x in user.data.chainsaws" class="pointer" ng-click="open_chainsaw(x,$event)">
                            {{x.brand}},{{x.model}}, {{x.engine}}
                        </li>
                    </ol>
                </div>
            </md-card-content>
        </md-card>

    </div>
    
    <!-- Edit Modals -->
    <div style="visibility: hidden" ng-include="'app/templates/modals/edit_profile/fullname.html'" ></div>
    <div style="visibility: hidden" ng-include="'app/templates/modals/edit_profile/address.html'" ></div>
    <div style="visibility: hidden" ng-include="'app/templates/modals/edit_profile/contact.html'" ></div>
    <div style="visibility: hidden" ng-include="'app/templates/modals/edit_profile/gID.html'" ></div>
    <div style="visibility: hidden" ng-include="'app/templates/modals/edit_profile/personal.html'" ></div>

    <!-- Add Modals -->
    <div style="visibility: hidden" ng-include="'app/templates/modals/chainsaw/add.html'" ></div>

    <!-- View Modals -->
    <div style="visibility: hidden" ng-include="'app/templates/modals/chainsaw/item.html'" ></div>
</div>