
<h5>B.R.A.I.N DATA PRIVACY POLICY</h5>
<hr>
<div ng-hide="i_agree">
    <p>As a registered user who provide personal information and sensitive personal information to PCSDS, you authorize and consent to the collection, use,processing, and transfer of said information according to valid and legitimate purposes. Further, you authorize sharing of said information to enforcement and regulatory bodies or government agencies to allow PCSDS to fulfill its mandates and functions under applicable laws, rules and regulations.</p>
    <p>PCSDS also commits to maintaining the integrity, availability and confidentiality of your information against any incidents or breaches while ensuring the protection of the fundamental right of privacy. This commitment applies to all its employees, directors, etc.</p>
    <p>PCSDS will protect the privacy of your information through implementation of organizational, technical, and security measures against the unauthorized or unlawful use, loss, alteration, destruction, sharing, or access to the Information which are transmitted, stored, or otherwise processed. Under no circumstance will PCSDS allow selling of Information.</p>
    <h4>CONSENT FORM</h4>
    <h6 class="col-orange">PRIVACY NOTICE</h6>
</div>

<div>
    <md-checkbox
        ng-model="i_agree"
        aria-label="I Agree"
        class="md-warn md-align-top-left" flex>
    I Agree, and fully aware that my personnal data will be safe.
    </md-checkbox>
</div>
<hr>
<div ng-show="i_agree">
    <form name="form_new_account" ng-init=" new_account = {data : {}} " >
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Email or Phone or User Name</label>
                <input ng-model="new_account.user_name" required>
            </md-input-container>

        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Password</label>
                <input ng-model="new_account.password" name="pass1" min="6" type="password" required>
                <div class="hint col-red" ng-show="form_new_account.pass1.$dirty && new_account.password.length < 6">6 Minimum Characters</div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Re-Password</label>
                <input ng-model="re_password" min="6" type="password" name="password" required>
                <div class="hint col-red" ng-show="new_account.password !== re_password && form_new_account.password.$dirty">Password didn't match!</div>
            </md-input-container>

        </div>

        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm>
                <label>First name</label>
                <input ng-model="new_account.data.first_name" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Middle Name</label>
                <input ng-model="new_account.data.middle_name">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Last Name</label>
                <input ng-model="new_account.data.last_name" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Extension (JR., SR)</label>
                <input ng-model="new_account.data.extension_name">
            </md-input-container>
            <div ng-hide="true">
                {{ new_account.data.full_name = new_account.data.first_name + ' ' + new_account.data.middle_name + ' ' + new_account.data.last_name + ' ' + new_account.data.extension_name }}
            </div>
        </div>

        <div layout-gt-sm="row">
            <div flex-gt-sm>
                <strong>Birth Day <cite class="font-10">(must be 18+)</cite></strong>
                <md-datepicker ng-model="bday" ng-change="new_account.data.birth_day = to_date(bday)" md-placeholder="Birth Date"
                    md-min-date="minDate" md-max-date="maxDate" md-open-on-focus required></md-datepicker>
            </div>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>Current Address</label>
                <input ng-model="new_account.data.current_address" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Current Phone Number</label>
                <input ng-model="new_account.data.current_phone" type="phone" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm>
                <label>Tax Identification Number : </label>
                <input ng-model="new_account.data.tin_no" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Birth Place Address</label>
                <input ng-model="new_account.data.place_of_birth" required>
            </md-input-container>

            <md-input-container>
                <label>Nationality</label>
                <md-select ng-model="new_account.data.nationality" required>
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="x in nationalities" ng-value="x.nationality" >
                        {{x.en_short_name}} - {{x.nationality}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <strong class="col-grey m-r-10">
                Gender: 
            </strong>
            <md-radio-group ng-model="new_account.data.gender" required>
                <md-radio-button value="male" class="md-primary">Male</md-radio-button>
                <md-radio-button value="female"> Female</md-radio-button>
            </md-radio-group>

            <strong class="col-grey m-r-10">
                Civil Status : 
            </strong>

            <md-radio-group ng-model="new_account.data.civil_status" required>
                <md-radio-button value="single" class="md-primary"> Single </md-radio-button>
                <md-radio-button value="married" class="md-primary"> Married </md-radio-button>
                <md-radio-button value="widowed" class="md-primary"> Widowed </md-radio-button>
                <md-radio-button value="separated" class="md-primary"> Separated </md-radio-button>
            </md-radio-group>

            <md-input-container ng-if="new_account.data.civil_status == 'married'" class="md-block" flex-gt-sm>
                <label>Spouse Name :</label>
                <input ng-model="new_account.data.spouse_name" required>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Father's Full Name : </label>
                <input ng-model="new_account.data.father" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Mother's Maiden Name :</label>
                <input ng-model="new_account.data.mother" required>
            </md-input-container>
        </div>

        <h5>Government Issued Identification (Any of the following: Passport, SSS, GSIS, etc):</h5>
        <div layout-gt-sm="row" ng-init="new_account.data.gov_id = {}">

            <md-autocomplete
                class="md-block" flex-gt-sm="30"
                  md-selected-item="new_account.data.gov_id.name"
                  md-search-text="nadgin"
                  md-search-text-change="new_account.data.gov_id.name = nadgin"
                  md-items="x in gov_ids"
                  md-item-text="x"
                  md-min-length="0"
                  placeholder="ID NAME:">
                <md-item-template>
                  {{x}}
                </md-item-template>
            </md-autocomplete>

            <md-input-container class="md-block" flex-gt-sm>
                <label>ID Number</label>
                <input ng-model="new_account.data.gov_id.number" required>
            </md-input-container>

            <div flex-gt-sm>
                <md-datepicker ng-model="dateIssued" ng-change="new_account.data.gov_id.date_issued = to_date(dateIssued)" md-placeholder="Date Issued" md-open-on-focus required></md-datepicker>
            </div>

        </div>

        <div layout-gt-sm="row">
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>Place Issued</label>
                <input ng-model="new_account.data.gov_id.place_issued" required>
            </md-input-container>

            <div flex-gt-sm>
                <md-datepicker ng-model="dateValid" ng-change="new_account.data.gov_id.valid_until = to_date(dateValid)" md-placeholder="Valid Until" md-open-on-focus required></md-datepicker>
            </div>
        </div>

        <div ng-show=" is_loading " layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

        <md-button ng-hide=" is_loading " type="submit" ng-disabled="form_new_account.$invalid || new_account.password !== re_password" 
            ng-click="register({action:'applicant/account/create',user_name : new_account.user_name,user_pass : new_account.password, data : new_account.data})" class="md-raised md-block md-primary" >
            Submit
        </md-button>
    </form>
</div>