
<div layout="column" ng-init="load_notifs();set_notif();">

	<md-toolbar md-scroll-shrink ng-if="true" class="bg-teal"  >
	    <div class="md-toolbar-tools">
	        <md-button ng-click="toggleLeft()" hide-gt-lg class="md-icon-button" aria-label="RightSide" >
	          <i class="fa fa-bars"></i>
	        </md-button>
					<h2 flex="" md-truncate="" class="">PCSDS- {{page_title}}</h2>
	        <md-button ng-click="toggleRight();clear_notif(new_notif)" ng-hide="isOpenRight()" class="md-icon-button animated infinite " ng-class="{'swing' : (new_notif > 0) }" aria-label="Notifications and News">
						<md-tooltip md-direction="left">Click to open News and Notificatons</md-tooltip>
						<span class="font-10 col-red" style="position:absolute;left:15px;">
							{{(notifs.length < 10)?'0':'';}}{{notifs.length}}
						</span>
						<i class="fa fa-bell font-24" ng-class="{'col-yellow' : (new_notif > 0) }"></i>
					</md-button>
	    </div>
	</md-toolbar>


	<section layout="row" flex style="height:{{get_window_height() }}px;">

	<md-sidenav layout="column" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-lg')" md-whiteframe="4" >

	  
	  <md-content flex layout="column" >

	    <div  layout="row" class="bg-teal" layout-padding="20">
	      <div flex="30">
						<img src="images/pcsdlogo.png" width="90%" height="auto" alt="pcsd">
	      </div>
	      <div flex="70" layout="column">
	        <div class="font-16">{{ user.data.first_name }} {{ user.data.middle_name }} {{ user.data.last_name }}</div>
	        <div class="font-14">{{ getUserType(user.user_level) }}</div>
	        <div class="font-18 bold">ID : {{ user.id_number }}</div>
	        <i class="fa fa-gear" ng-click="toggleRight()"></i>
	        <md-button ng-click="logout()" class="font-10 m-b--10 col-white" aria-label="Log-out">Log-out</md-button>
	      </div>
	    </div>
	    
	    <div flex="70" layout="column"  class="start" >
				<md-button ng-repeat="x in menus" ng-click="change_page(x.url)" ng-class="{'col-teal': !isActive(x.url)}" ng-disabled="isActive(x.url)" aria-label="{{x.name}}">
					<i class="fa {{x.icon}}"></i>
					{{x.name}}
				</md-button>



	    </div>

	  </md-content>

	</md-sidenav>

	<!-- main content -->
	<div flex layout-padding class="bg-light-grey" >
		<md-content md-whiteframe="3" layout-padding="20" layout="column" ng-style="{ height: (iframeHeight - 15) + 'px' }">
			<div ng-include="content_page"></div>
		</md-content>
	</div>
    
	<!-- right side bar -->

	<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" >

		<md-toolbar md-scroll-shrink="" ng-if="true" >
				<div class="md-toolbar-tools bg-teal">
						<h2 flex="" md-truncate="" >Notifications</h2>
				</div>
		</md-toolbar>

		<md-content layout-padding="10" class="" layout="row" ng-style="{ height: (iframeHeight - 90) + 'px' }">
			<p ng-if="notifs.length == 0">No notification yet...</p>
			<md-list>
					<md-list-item ng-repeat="x in notifs | orderBy : '-last_update' track by $index " 
							ng-click="set_selected_notif(x);showPrerenderedDialog($event,'notif_dialog');" layout="row">
						<div>
							<strong class="col-grey">{{ x.item_type }} #{{x.item_id}}</strong><br>
							<cite class="font-12">{{x.last_update}}</cite>
							<div class="font-13 col-teal">{{x.data.message}}</div>
						</div>
						<md-divider>  </md-divider>
					</md-list-item>
			</md-list>
		</md-content>
		<div style="visibility: hidden" ng-include="'app/templates/modal/notification.html'"></div>
	</md-sidenav>

	</section>


</div>