
<div flex-gt-sm>
    <strong>Date A</strong>
    <md-datepicker ng-model="dateA" ng-change="n.created = to_date(dateA)" 
        md-placeholder="Date"
        md-open-on-focus required>
    </md-datepicker>
</div>

<md-input-container class="md-block m-t-40" flex>
    <label>Source / From</label>
    <input ng-model="n.source" required>
</md-input-container> 

<md-input-container class="md-block" flex>
    <label>Subject</label>
    <input ng-model="n.subject" required>
</md-input-container>

<div flex-gt-sm>
    <strong>Date B</strong>
    <md-datepicker ng-model="dateB" ng-change="n.published = to_date(dateB)" 
        md-placeholder="Date"
        md-open-on-focus required>
    </md-datepicker>
</div>

<div>
    <md-input-container class="md-block">
        <label>Content</label>
        <textarea ng-model="n.description" md-maxlength="5000" rows="6" md-select-on-focus required></textarea>
    </md-input-container>
</div>

<br>
<strong>Keywords</strong>
<md-chips ng-model="n.keywords" md-add-on-blur="true" readonly="false"
 input-aria-label="Keywords" placeholder="add keywords"
md-removable="true" required></md-chips>

<br>

<div>
    <strong> Category (Personal Filter) </strong>
    <md-autocomplete
        class="md-block" flex-gt-sm="100"
        md-selected-item="n.category"
        md-search-text="categ"
        md-search-text-change="n.category = categ"
        md-items="x in doc_user.categories"
        md-item-text="x"
        md-min-length="0"
        placeholder="Document Category">
        <md-item-template>
        {{x}}
        </md-item-template>
    </md-autocomplete>
</div>
<hr>
</md-dialog-content>
=======
<style type="text/css">
	.roman {
		font-family: 'Times New Roman', Times, serif;
	}
</style>
<div class="roman">
	<!-- header -->
	<div ng-include="'./app/templates/templates/header.html'"></div>
	<hr>
    <div layout layout-align="center end">
        <strong>Application No.: {{currentItem.application_no}}</strong>
    </div>
    <br>
    <br>
    <h3 class="align-center">CERTIFICATION</h3>
    <br>
    <br>
    <!-- regular templates -->
    <div ng-if="currentItem.c_type != 'empty'">
        <p> <span class="m-l-50"></span>
            {{ currentItem.line1 }}
        </p>
        <br>
        <p>
            <span class="m-l-50"></span>
            {{ currentItem.line2 }}
        </p>
        <br>
        <p>
            <span class="m-l-50"></span>
            {{ currentItem.line3 }}
        </p>
    </div>
    <!-- end regular template -->

    <!-- no template -->
    <div ng-if="currentItem.c_type == 'empty'">
        <div ng-repeat="x in currentItem.lines">
            <p> <span class="m-l-50"></span>
                {{ x }}
            </p>
            <br>
        </div>
    </div>
    <!-- end no template -->
    
    <br>
    <div layout>
		<div flex="40">
			<p>
				<strong class="font-11">
					Verified and checked from the
					records of PCSD Adjudication
					Board Secretariat by:
				</strong>
			</p>

		</div>
	</div>
    <!-- Signature -->
	<div layout ng-controller="doc_ctrl_draft">
        <!-- sign 1 -->
		<div flex style="padding: 10px" ng-init="currentItem.sign1 = (currentItem.sign1 == undefined)? { name:'',designation:''}:currentItem.sign1;">
            <div ng-if="currentItem.sign1.signature != undefined;" layout="column" layout-align="center center">
                <img ng-if="currentItem.sign1.signature != undefined" src="{{currentItem.sign1.signature}}" alt="Signature1" width="auto" style="margin-bottom: -35px;">
                <div class="align-center"> <strong> <ins>{{currentItem.sign1.name}}</ins> </strong> </div>
                <div class="align-center"> {{currentItem.sign1.designation}} </div>
                <md-button class="md-fab md-mini" aria-label="Remove Signature" ng-if="currentItem.sign1.user == userId" ng-click="updateDocument(currentItem.id,{'sign1' : {} })">
                    <md-tooltip md-direction="left">Remove Signature</md-tooltip>
                    <i class="fa fa-remove" ></i>
                </md-button> 
            </div>
            
            <div layout="column" layout-align="center center" ng-if="currentItem.sign1.signature == undefined;" id="sign1" ng-init="generate_signature_field('sign1',0);" style="border: black dashed 1px;">
                <canvas></canvas>
                <button ng-click="signclear(0)">Clear Signature</button>
                <button ng-click=" updateDocument(currentItem.id,{'sign1.signature': signed(0), 'sign1.user' : userId }) ">Save Signature</button>
                <md-input-container md-no-float class="md-block" ng-if="currentItem.sign1.signature == undefined;">
                    <input ng-model="currentItem.sign1.name" ng-blur="updateDocument(currentItem.id,{'sign1.name' : currentItem.sign1.name })" type="text" placeholder="Name" aria-label="Name">
                </md-input-container>
                <md-input-container md-no-float class="md-block" ng-if="currentItem.sign1.signature == undefined;">
                    <input ng-model="currentItem.sign1.designation" ng-blur="updateDocument(currentItem.id,{'sign1.designation' : currentItem.sign1.designation })"  type="text" placeholder="Designation" aria-label="designation">
                </md-input-container>
			</div>
        </div>
        <!-- sign 2 -->
		<div flex style="padding: 10px" ng-init="currentItem.sign2 = (currentItem.sign2 == undefined)? {}:currentItem.sign2;">
            <div ng-if="currentItem.sign2.signature != undefined;" layout="column" layout-align="center center">
                <img ng-if="currentItem.sign2.signature != undefined" src="{{currentItem.sign2.signature}}" alt="Signature2" width="auto" style="margin-bottom: -35px;">
                <div class="align-center"> <strong> <ins>{{currentItem.sign2.name}}</ins> </strong> </div>
                <div class="align-center"> {{currentItem.sign2.designation}} </div>
                <md-button class="md-fab md-mini" aria-label="Remove Signature" ng-if="currentItem.sign2.user == userId" ng-click="updateDocument(currentItem.id,{'sign2' : {} })">
                    <md-tooltip md-direction="left">Remove Signature</md-tooltip>
                    <i class="fa fa-remove" ></i>
                </md-button> 
            </div>
            
            <div layout="column" layout-align="center center" ng-if="currentItem.sign2.signature == undefined;" id="sign2" ng-init="generate_signature_field('sign2',1);" style="border: black dashed 1px;">
                <canvas></canvas>
                <button ng-click="signclear(1)">Clear Signature</button>
                <button ng-click=" updateDocument(currentItem.id,{'sign2.signature': signed(1), 'sign2.user' : userId }) ">Save Signature</button>
                <md-input-container md-no-float class="md-block" ng-if="currentItem.sign2.signature == undefined;">
                    <input ng-model="currentItem.sign2.name" ng-blur="updateDocument(currentItem.id,{'sign2.name' : currentItem.sign2.name })" type="text" placeholder="Name" aria-label="Name2">
                </md-input-container>
                <md-input-container md-no-float class="md-block" ng-if="currentItem.sign2.signature == undefined;">
                    <input ng-model="currentItem.sign2.designation" ng-blur="updateDocument(currentItem.id,{'sign2.designation' : currentItem.sign2.designation })"  type="text" placeholder="Designation" aria-label="designation2">
                </md-input-container>
            </div>
		</div>
    </div>
    
    <br>
    <div layout>
		<div flex="40">
			<p>
				<strong>
					Paid the amount of Php {{currentItem.paid_amount}}.00
                </strong>
                <br>
                <strong>
                    under O.R. No.  {{currentItem.paid_or_number}}
                </strong>
                <br>
                <strong >
                    Date:  {{currentItem.paid_date}}
                </strong>
			</p>
		</div>
	</div>

	<hr>
	<br>
	<!-- footer -->
	<div ng-include="'./app/templates/templates/footer.html'"></div>
</div>