<div ng-include="'./app/templates/application/style.html'"></div>
<style type="text/css">
    .roman {
        font-family: 'Times New Roman', Times, serif;
    }
</style>
<div ng-init="currentItem = $localStorage.params; printView(3000);" class="roman" style="margin:0.5in">
<!-- <div ng-controller="DummyPermitToSellController" ng-init="currentItem=n;" class="roman" style="margin:0.5in"> -->

    <div ng-include="'./app/templates/templates/header.html'"></div>
    <hr>
    <div class="align-center">
        <strong>{{ currentItem.line1}}</strong><br>
        {{currentItem.line2}}
    </div>

    <br>

    <div>
        {{currentItem.line3}}
    </div>

    <br>
    <table>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td>
                {{currentItem.applicant.name.toUpperCase()}}
            </td>
        </tr>
        <tr>
            <td>Address</td>
            <td>:</td>
            <td>
                {{currentItem.applicant.address}}
            </td>
        </tr>
        <tr>
            <td>Date Issued</td>
            <td>:</td>
            <td>
                {{get_full_date(currentItem.date_issued)}}
            </td>
        </tr>
    </table>

    <div layout>
        <div style="width:60%">&nbsp;</div>
        <div>Issued by:</div>
    </div>
    <div layout ng-controller="doc_ctrl_draft">
        <div style="width:60%">&nbsp;</div>

        <div>
            <div flex
                ng-init="currentItem.sign1 = (currentItem.sign1 == undefined) ? { name:'',designation:''} : currentItem.sign1;">
                <div ng-if="currentItem.sign1.signature != undefined;" layout="column" layout-align="center center">
                    <img ng-if="currentItem.sign1.signature != undefined" src="{{currentItem.sign1.signature}}"
                        alt="Signature1" width="auto" style="margin-bottom: -35px;">
                    <div class="align-center"> <strong> <ins>{{currentItem.sign1.name}}</ins> </strong> </div>
                    <div class="align-center"> {{currentItem.sign1.designation}} </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div ng-repeat="line in [9,10,11]">
            {{currentItem['line'+line]}}<br>
    </div>
    <hr>
    <div class="align-center">TERMS AND CONDITIONS</div>

    <ol>
        <li ng-repeat="line in [12,13,14]">{{currentItem['line'+line]}}</li>
    </ol>
    <div ng-include="'./app/templates/templates/footer.html'"></div>
</div>