<div ng-include="'./app/templates/application/style.html'"></div>
<!-- <div ng-if="render_params.data != undefined" ng-init="set_application($localStorage.params);print();"></div> -->
<div class="p-t-20 p-l-10" ng-controller="GratuitousPermitController" ng-init="set_application($localStorage.params);">
    <div layout="row">
        <div flex layout-gt-xs="row" layout-xs="column">
            <div flex flex-gt-xs="15" layout-align="center center">
                <img src="./images/pcsdlogo.png" class="p-t-5" style="width:100%;">
            </div>
            <div flex layout-align="left" class="m-l-20">
                <div>&nbsp;</div>
                <h4><strong>Republic of the Philippines</strong> <br>
                    <small>(Republic Act 7611)</small><br>
                    <small>PALAWAN COUNCIL for SUSTAINABLE DEVELOPMENT</small>
                </h4>
            </div>
        </div>
    </div>
    <div layout="row" style="width: 100%">
        <div layout="column" layout-align="center center" style="width: 90%">
            <strong>
                <h5>APPLICATION FOR GRATUITOUS PERMIT</h5>
            </strong>
        </div>
        <div layout="column" style="align-items: flex-end;">
            <img 
            src="./images/{{application.data.application.applicant.photo}}" 
            style="width: 145px;" >
        </div>
    </div>
    <br/>
    <ol>
        <li>&nbsp;</li>
        <ol type="a">
            <li>Name</li>
            <table style="width: 100%">
                <tr>
                    <td ng-repeat="key in ['last_name', 'first_name', 'middle_name']"  class="underlined">{{application.data.application.applicant[key]}}</td>
                </tr>
                <tr>
                        <td ng-repeat="i in ['Last Name', 'First Name', 'Middle Name']">{{i}}</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>Nationality:</td>
                    <td class="underlined">{{application.data.application.applicant.nationality}}</td>
                    <td>Degree (Sought/Completed):</td>
                    <td class="underlined">{{application.data.application.applicant.degree}}</td>
                </tr>
                <tr>
                    <td>Nature of Employment:</td>
                    <td class="underlined">{{application.data.application.applicant.employment.nature}}</td>
                    <td class="underlined">&nbsp;</td>
                    <td class="underlined">&nbsp;</td>
                </tr>
                <tr>
                    <td>Present Position/Official Designation:</td>
                    <td class="underlined">{{application.data.application.applicant.employment.position}}</td>
                    <td class="underlined">&nbsp;</td>
                    <td class="underlined">&nbsp;</td>
                </tr>
                <tr>
                    <td>School/Institution/Agency:</td>
                    <td class="underlined">{{application.data.application.applicant.employment.agency}}</td>
                    <td class="underlined">&nbsp;</td>
                    <td class="underlined">&nbsp;</td>
                </tr>
            </table>

        <li>Company/Organiztion/Institution/Agency</li>
        <table >
                <tr>
                    <td>Name of Company/Institution/Organization/Agency:</td>
                    <td class="underlined">{{application.data.application.agency.name}}</td>
                    <td class="underlined">&nbsp;</td>
                    <td class="underlined">&nbsp;</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td class="underlined">{{application.data.application.agency.address}}</td>
                    <td class="underlined">&nbsp;</td>
                    <td class="underlined">&nbsp;</td>
                </tr>
                <tr>
                    <td>Head:</td>
                    <td class="underlined">{{application.data.application.agency.head}}</td>
                    <td class="underlined">&nbsp;</td>
                    <td class="underlined">&nbsp;</td>
                </tr>
                <tr>
                    <td>Tel. No.:</td>
                    <td class="underlined">{{application.data.application.agency.contact_number}}</td>
                    <td class="underlined">&nbsp;</td>
                    <td class="underlined">&nbsp;</td>
                </tr>
                <tr>
                        <td>Fax No.:</td>
                        <td class="underlined">{{application.data.application.applicant.agency.fax_number}}</td>
                        <td class="underlined">&nbsp;</td>
                        <td class="underlined">&nbsp;</td>
                    </tr>
            </table>

        </ol>
        <li>Species/Specimen, kind and number/quantity to be collected (e.g. mammals, birds, flowering plants, signs, by-products, derivatives, etc.</li>
        <div class="underlined">{{application.data.application.species_to_be_collected}}</div>
        <li>Purpose of Collection</li>
        <div class="underlined">{{application.data.application.purpose_of_collection}}</div>
        <li>Places of Collection</li>
        <div class="underlined">{{application.data.application.places_of_collection}}</div>
        <li>List of related works in the proposed activity (foreign and/or local counterpart). Indicate role in project implementation (attach resume)</li>
        <div class="underlined">{{application.data.application.related_works}}</div>
        <li>List of foreign contact person assisting you in the field and institutional affiliations (if applicable).</li>
        <div class="underlined">{{application.data.application.foriegn_contact}}</div>
        <li>List of cooperating Filipino counterparts and their institutional affiliations (if applicable).</li>
        <div class="underlined">{{application.data.application.local_contact}}</div>
    </ol>
    <!-- <br><br>
    I certify that the statements made herein are correct and true and abide by the decision of the PCSD on this application
    <br/>
    <br/>
    <div style="align-items: flex-end">
        <div style="width: 15%">
                <div class="underlined">&nbsp;</div>
                <div style="text-align: center">Signature</div>
                <div>&nbsp;</div>
                <div class="underlined">&nbsp;</div>
                <div style="text-align: center">Date</div>
        </div>        
    </div>
    <br>
    SUBSCRIBED AND SWORN BEFORE ME this {{date_now('DD')}} day of {{date_now('MMMM')}}, {{date_now('YYYY')}} at 
    Residence Certificate No. <underlined>{{application.data.application.applicant.cedula.number}}</underlined> issued 
    on <underlined>{{application.data.application.applicant.cedula.issuance_date}}</underlined> at 
    <underlined>{{application.data.application.applicant.cedula.issuance_address}}</underlined> known to me to be the same
    person who executed the foregoing instrument and acknowledge to me that the same is his/her voluntary act and deed.

    <br><br>
    <br><br>
    <div style="align-items: flex-end">
        <div style="text-align: center; width: 15%">        
                NOTARY PUBLIC
        </div>
    </div> -->

    <div ng-include="'./app/templates/application/attacments_template.html'"></div>
    <div ng-include="'./app/templates/application/stamp_template.html'"></div>
</div>