<div ng-if="render_params.data != undefined" ng-init="set_application($localStorage.params);print();"></div>
<div class=" p-l-10" ng-controller="database_permit_controller" 
    ng-init="applicant_view=false;applicant_res=[];"> 
    <h5 class="col-blue">ONLINE APPLICATION FOR LOCAL TRANSPORT PERMIT OF WILDLIFE PRODUCTS</h5>

    
    <strong><small>Applicant :</small> 
        {{application.data.application.applicant}}  : 
        <small ng-click="applicant_view = !applicant_view" class="col-red pointer">Search</small>
    </strong> 
    <md-card ng-if="applicant_view" ng-init="chop_name = application.data.application.applicant.split(' ')">
        <md-card-content ng-init="search_db_results = []">

            <div ng-show="search_db_results.length > 0" ng-repeat="permit_type in permit_types">
                <div class="col-grey font-14" style="font-weight: bold;text-decoration: underline double;">{{permit_type.name}}</div>
                <div ng-repeat="x in get_data_scope(permit_type.code)">
                    <div ng-repeat="y in x">
                        <div ng-repeat="o in y | filter : chop_name[0] | filter : chop_name[2] as qqqq" ng-init="search_db_results.push(qqqq)">
                            <strong ng-repeat="(z,v) in o" class="col-teal"> <small>{{z}}</small> : {{v}} </strong>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

            <cite ng-if="search_db_results.length == 0" class="col-red">No results found...</cite>
        </md-card-content>
    </md-card>
    <br>
    <strong><small>Contact :</small> {{application.data.application.contact}} </strong> <br>
    <strong><small>Required Permit Type :</small> {{application.data.application.required_permit_type}} </strong> <br>
    <strong><small>Required Permit :</small> {{application.data.application.required_permit}} </strong> <br>
    
    <br>
    <strong><small>Purpose :</small> 
        <span ng-if="application.data.application.purpose.commercial">commercial</span> 
        <span ng-if="application.data.application.purpose.research">research</span> 
        <span ng-if="application.data.application.purpose.exhibit">exhibit</span> 
        <span ng-if="application.data.application.purpose.other != null">{{application.data.application.purpose.other}}</span> 
    </strong><br>
    <strong><small>Place of Origin :</small> 
        {{application.data.application.place_of_origin.barangay}}, {{application.data.application.place_of_origin.municipality}} </strong> <br>

    <strong><small>Collertor or Supplier :</small> 
        {{application.data.application.collector_or_supplier.name}},
        {{application.data.application.collector_or_supplier.address}}
    </strong> <br>
    <strong><small>Specimen :</small></strong>
    <ol ng-if="application.data.application.specimen.length > 0">
        <li ng-repeat=" x in application.data.application.specimen"> 
            {{x.species_qty}}{{x.species_unit}} of {{x.species_des}} {{x.species_name}} in {{x.species_boxes}} {{(x.species_boxes > 1)?'boxes':'box'}}
        </li>
    </ol>
    <br>
    <strong><small>Shipper :</small> {{application.data.application.shipper.name}}, {{application.data.application.shipper.address}} </strong> <br>
    <br>
    <strong><small>Recipient :</small> {{application.data.application.recipient.name}}, {{application.data.application.recipient.address}} </strong> <br>
    <br>
    <strong><small>Via :</small> 
        <span ng-if="application.data.application.via.aircraft">aircraft</span> 
        <span ng-if="application.data.application.via.vessel">vessel</span> 
    </strong><br>
    <strong><small>Place of Transport :</small> {{application.data.application.place_of_transport}} </strong> <br>
    <strong><small>Date of Transport :</small> {{application.data.application.date_of_transport.split(' ')[0] | date}} </strong> <br>
    
    
    <!-- Received Stamp -->
    <md-card>
        <md-card-content>
            <div ng-if="application.status != 0" >
                <hr class="p-t-10">
                Received by : <strong>{{ application.data.received.staff }}</strong> 
                , on  <strong>{{application.data.received.date.split(' ')[0]}}</strong>
            </div>
        </md-card-content>
    </md-card>
    

    <!-- Rejected Stamp -->
    <md-card ng-if="application.data.rejected != undefined ">
        <md-card-content>
            Rejected by : <strong>{{ application.data.rejected.staff }} </strong> 
            , on  <strong>{{application.data.rejected.date.split(' ')[0]}}</strong>
        </md-card-content>
    </md-card>
    

    <!-- Accepted Stamp -->
    <div ng-if="application.data.accepted != undefined " >
        <md-card >
            <md-card-title>
                <md-card-title-text>
                <span class="md-headline">Certificate of inspection</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="space-between">
                <div flex layout="column">
                    <div flex>
                        Personnel : <strong>{{application.data.certificate_of_inspection.personnel}}</strong> 
                    </div>
                    <div flex>
                        Remark :<strong>{{application.data.certificate_of_inspection.remark}}</strong> 
                    </div>
                </div>
                <div flex layout="column">
                    <div flex>
                        Location : <strong>{{application.data.certificate_of_inspection.location}}</strong> 
                    </div>
                    <div flex>
                        Latitude : <strong>{{application.data.certificate_of_inspection.latitude}}</strong>  
                    </div>
                    <div flex>
                        Longitude : <strong>{{application.data.certificate_of_inspection.longitude}}</strong> 
                    </div>
                </div>
            </md-card-content>
        </md-card>

        <md-card class="m-b-20">
            <md-card-title>
                <md-card-title-text>
                <span class="md-headline">Payment Slip</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="space-between">
                <div flex layout="column">
                    <div flex>
                        O.R Number : <strong>{{application.data.payment_slip.or_number}}</strong> 
                    </div>
                    <div flex>
                        Amount :<strong>{{application.data.payment_slip.amount}}</strong> 
                    </div>
                </div>
                <div flex layout="column">
                    <div flex>
                        Date Issued : <strong>{{application.data.payment_slip.issued}}</strong> 
                    </div>
                    <div flex>
                        Issued By : <strong>{{application.data.payment_slip.issued_by}}</strong> 
                    </div>
                </div>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-content>
                Processed by : <strong>{{ application.data.accepted.staff }} </strong> 
                , on  <strong>{{application.data.accepted.date.split(' ')[0]}}</strong>
            </md-card-content>
        </md-card>
    </div>


    <strong><small>Attachments :</small> </strong> <md-button class="col-pink" ng-if="isFolderExist(application.date)" ng-click="openFolder(application.date)"> <i class="fa fa-folder-open-o"></i> Open Folder</md-button>
    <ol ng-if="application.data.application.attachments.length > 0">
        <li ng-repeat=" x in application.data.application.attachments" ng-if="x.url != undefined"> 
            <a target="blank" ng-href="{{api_address+'/'+x.url}}" ng-init="download_attachment(api_address+'/', x.url,application)"> {{x.name}} </a> 
        </li>
    </ol>
    <hr>

    <!-- Approved Stamp -->
    <md-card ng-if="application.data.approved != undefined " >
        <md-card-content>
            Reviewed by : <strong>{{ application.data.approved.staff }} </strong> 
            , on  <strong>{{application.data.approved.date.split(' ')[0]}}</strong>     
        </md-card-content>
    </md-card>
    

    <!-- Recommended Stamp -->
    <md-card ng-if="application.data.recommended != undefined ">
        <md-card-content>
            Recommended by : <strong>{{ application.data.recommended.staff }} </strong> 
            , on  <strong>{{application.data.recommended.date.split(' ')[0]}}</strong>
        </md-card-content>
    </md-card>
    

    <!-- Acknowledged Stamp -->
    <md-card>
        <md-card-content ng-if="application.data.acknowledged != undefined ">
            Approved by : <strong>{{ application.data.acknowledged.staff }} </strong>
            , on  <strong>{{application.data.acknowledged.date}}</strong>
        </md-card-content>
    </md-card>
    

    <!-- used stamp -->
    <md-card class="m-b-20" ng-if="application.data.used != undefined">
        <md-card-title>
            <md-card-title-text>
            <span class="md-headline">Permit Usage</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
            <div flex layout="column">
                <div flex>
                    Date Used : <strong> {{application.data.used.date}} </strong> 
                </div>
                <div flex>
                    Processed by : <strong>{{ application.data.used.staff }} </strong> 
                </div>
                <div flex>
                    Remark : <strong>{{application.data.used.remark}}</strong> 
                </div>
            </div>
        </md-card-content>
    </md-card>
    
    <!-- print stamp -->
    <div ng-if="render_params.data != undefined" >
        <hr>
        <p class="font-10 col-grey italic">
            Print Date : {{date_now()}} , Staff Number: {{user.id_number}}, Document Number: {{application.date}}
        </p>
    </div>
</div>