<!-- Received Stamp -->
<md-card ng-if="application.status != 0">
    <md-card-content>
        Received by : <strong>{{ application.data.received.staff }}</strong> 
        , on <strong>{{application.data.received.date.split(' ')[0]}}</strong>
    </md-card-content>
</md-card>


<!-- Rejected Stamp -->
<md-card ng-if="application.data.rejected != undefined ">
    <md-card-content>
        Rejected by : <strong>{{ application.data.rejected.staff }} </strong> 
        , on <strong>{{application.data.rejected.date.split(' ')[0]}}</strong>
    </md-card-content>
</md-card>


<!-- Accepted Stamp -->
<md-card ng-if="application.data.accepted != undefined ">
    <md-card-content>
        Processed by : <strong>{{ application.data.accepted.staff }} </strong> 
        , on  <strong>{{application.data.accepted.date.split(' ')[0]}}</strong>
    </md-card-content>
</md-card>


<!-- Approved Stamp -->
<md-card ng-if="application.data.approved != undefined ">
    <md-card-content>
        Reviewed by : <strong>{{ application.data.approved.staff }} </strong> 
        , on  <strong>{{application.data.approved.date.split(' ')[0]}}</strong>
    </md-card-content>
</md-card>


<!-- Recommended Stamp -->
<md-card ng-if="application.data.recommended != undefined ">
    <md-card-content>
        Recommended by : <strong>{{ application.data.recommended.staff }} </strong> 
        , on  <strong>{{application.data.recommended.date.split(' ')[0]}}</strong>
    </md-card-content>
</md-card>


<!-- Acknowledged Stamp -->
<md-card ng-if="application.data.acknowledged != undefined ">
    <md-card-content>
        Approved by : <strong>{{ application.data.acknowledged.staff }} </strong> 
        , on  <strong>{{application.data.acknowledged.date.split(' ')[0]}}</strong>
    </md-card-content>
</md-card>

<!-- print stamp -->
<div ng-if="render_params.data != undefined" >
    <hr>
    <p class="font-10 col-grey italic">
        Print Date : {{date_now()}} , Staff Number: {{user.id_number}}, Document Number: {{application.date}}
    </p>
</div>